trunk/kernel/schema/mbsimintegrator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://mbsim.berlios.de/MBSimIntegrator"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns="http://mbsim.berlios.de/MBSimIntegrator"
  xmlns:pv="http://openmbv.berlios.de/MBXMLUtils/physicalvariable"
  xmlns:xml="http://www.w3.org/XML/1998/namespace"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://openmbv.berlios.de/MBXMLUtils/physicalvariable"
    schemaLocation="../http___openmbv_berlios_de_MBXMLUtils/physicalvariable.xsd"/>

  <!-- for xml:base attribute: include xml namespaces defining attribute xml:base -->
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="../http___openmbv_berlios_de_MBXMLUtils/xml.xsd"/>



  <xs:element name="Integrator" abstract="true" type="IntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Abstrakte Oberklasse für Zeitintegratoren.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="IntegratorType">
    <xs:sequence>
      <xs:element name="startTime" type="pv:timeScalar">
        <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
            Startzeitpunkt der Integration.
        </xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="endTime" type="pv:timeScalar">
        <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
            Endzeitpunkt der Integration.
        </xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="plotStepSize" type="pv:timeScalar">  
        <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
            Schrittweite zur Ausgabe von Plotdaten.<br/>
            Die Schrittweite zur Ausgabe von Plotdaten darf nicht kleiner als die Integrationsschrittweite sein.
        </xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="initialState" type="pv:unknownVector" minOccurs="0"> 
        <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
            Anfangszustand der Differentialinklusion.
        </xs:documentation></xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute ref="xml:base"/>
  </xs:complexType> 

  <xs:element name="DOPRI5Integrator" substitutionGroup="Integrator" type="DOPRI5IntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Explizites Runge-Kutta Verfahren der Ordnung 5(4) mit 'dense output' der Ordnung 4.<br/>
        Das Verfahren ist nur für nicht-steife Differentialgleichungen bestimmt und verwendet automatische Schrittweitenbestimmung.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="DOPRI5IntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:unknownVector">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Absoluter Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="absoluteToleranceScalar" type="pv:unknownScalar"> 
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Absolute Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice>
            <xs:element name="relativeTolerance" type="pv:nounitVector">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Relativer Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="relativeToleranceScalar" type="pv:nounitScalar"> 
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="initialStepSize" type="pv:timeScalar">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Schrittweitenvorschlag zu Beginn der Integration.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximalStepSize" type="pv:timeScalar">  
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Maximal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximalNumberOfSteps" type="xs:nonNegativeInteger" minOccurs="0"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Maximale Anzahl von Integrationsschritten.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="RADAU5Integrator" substitutionGroup="Integrator" type="RADAU5IntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Implizites Runge-Kutta Verfahren der Ordnung 5 (Radau IIA) mit 'dense output'.<br/>
        Das Verfahren ist für steife Differentialgleichungen bestimmt und verwendet automatische Schrittweitenbestimmung.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="RADAU5IntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:unknownVector">  
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Absoluter Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="absoluteToleranceScalar" type="pv:unknownScalar">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Absolute Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice>
            <xs:element name="relativeTolerance" type="pv:nounitVector">  
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Relativer Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="relativeToleranceScalar" type="pv:nounitScalar"> 
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="initialStepSize" type="pv:timeScalar">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Schrittweitenvorschlag zu Beginn der Integration.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximalStepSize" type="pv:timeScalar">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Maximal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximalNumberOfSteps" type="xs:nonNegativeInteger" minOccurs="0"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Maximale Anzahl von Integrationsschritten.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LSODEIntegrator" substitutionGroup="Integrator" type="LSODEIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Livermore Solver für Ordinary Differential Equations zur Lösung von Anfangswertproblemen für steife gewöhnliche Differentialgleichungssysteme. Das Verfahren basiert auf den BDF-Verfahren der Ordnung 1-5 enthält aber auch das Adams-Moulton Verfahren der Ordnung 1-12 für nicht-steife Probleme. Die Schrittweite wird dynamisch angepasst. 
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="LSODEIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:unknownVector"> 
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Absoluter Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="absoluteToleranceScalar" type="pv:unknownScalar">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Absolute Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="relativeToleranceScalar" type="pv:nounitScalar">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="initialStepSize" type="pv:timeScalar"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Schrittweitenvorschlag zu Beginn der Integration.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximalStepSize" type="pv:timeScalar"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Maximal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="minimalStepSize" type="pv:timeScalar">  
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Minimal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="numberOfMaximalSteps" type="xs:unsignedLong">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Maximale Anzahl von Integrationsschritten.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="stiffModus" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Definiert, ob steifes oder nicht-steifes Problem vorliegt.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LSODARIntegrator" substitutionGroup="Integrator" type="LSODARIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Livermore Solver für Differential Algebraic Problems mit Rootfinding zur Lösung von Anfangswertproblemen für Differentiell-Algebraische Gleichungen ist eine Erweiterung von LSODE. Zum einen entscheidet das Verfahren dynamisch, ob ein steifes oder nicht-steifes System vorliegt, zum anderen enthält es einen Mechanismus, um Nullstellen von Indikatorfunktionen zu finden. Die Schrittweite wird dynamisch angepasst. 
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="LSODARIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:unknownVector">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Absoluter Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="absoluteToleranceScalar" type="pv:unknownScalar">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Absolute Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="relativeToleranceScalar" type="pv:nounitScalar">  
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="initialStepSize" type="pv:timeScalar"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Schrittweitenvorschlag zu Beginn der Integration.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="minimalStepSize" type="pv:timeScalar"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Minimal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximalStepSize" type="pv:timeScalar"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Maximal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="plotOnRoot" type="xs:boolean">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Gibt an, ob eine Plot-Ausgabe geschrieben werden soll, wenn eine Indikatorfunktion einen Nulldurchgang hat.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="TimeSteppingIntegrator" substitutionGroup="Integrator" type="TimeSteppingIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Halb-Explizite Timestepping Integration für Maßdifferentialinklusionen.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="TimeSteppingIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="stepSize" type="pv:timeScalar"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Integrationsschrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="TimeSteppingSSCIntegrator" substitutionGroup="Integrator" type="TimeSteppingSSCIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
       Halb-Explizite Timestepping Integration für Maßdifferentialinklusionen mit Schrittweitensteuerung und höherer Ordnung.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="TimeSteppingSSCIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="initalStepsize" type="pv:timeScalar" minOccurs="0"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Anfangsschrittweite (default: 1e-6)
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximalStepSize" type="pv:timeScalar" minOccurs="0"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                maximale Zeitschrittweite (default: 1e-4)
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="minimalStepSize" type="pv:timeScalar" minOccurs="0"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                minimale Zeitschrittweite (default: sqrt(eps))
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="outputInterpolation" type="xs:boolean" minOccurs="0"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                flag zur Steuerung, ob für die Plotausgabe die vom Integrator angefahrenen Zeitpunkte verwendet werden oder ob auf die vorgegebenen Plotzeitpunkte interpoliert werden soll (default: false)
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="gapControl" minOccurs="0"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Zeitschrittweite wird angepasst, so dass Stöße/Ereignisse am Ende des Zeitschritts auftreten <br/> Bei mehr als einem Ereignis pro Zeitschritt ist können verschiedene Methoden verwendet werden, auf welches Ereignis sich GapControl beziehen soll.
            </xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:element name="withoutGapControl">
                  <xs:annotation>
                    <xs:documentation>
                      GapContol wird vollständig deaktiviert
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="biggestRoot">
                  <xs:annotation>
                    <xs:documentation>
                      Größte Nullstelle/Ereignis wird verwendet (maximaler Integrationsforschritt)
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="scooring">
                  <xs:annotation>
                    <xs:documentation>
                      Scoring Verfahren zur Auswahl der Nullstelle (Gewichtetes Mittel aus Eindringgeschwindigkeit und -zeit.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="smallestRoot">
                  <xs:annotation>
                    <xs:documentation>
                      Kleinste Nullstelle/Ereignis wird verwendet (am genauesten aber geringster Integrationsforschritt)
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="gapTollerance">
                  <xs:annotation>
                    <xs:documentation>
                      Zeitschrittweite werden so gewählt, dass Eindringtiefe gapTol nicht überschreitet
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="maximalOrder" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Auswahl der maximalen Integrationsordnung und der Methode zur Fehlerschätzung
            </xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="order" type="xs:positiveInteger">
                  <xs:annotation>
                    <xs:documentation>
                      maximale Integrationsordnung: default: 1; 1,2,3 bei Fehlerschätzung mittels Extrapolation; 1 ..4 bei embedded Verfahren 
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="method" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>
                      methode, Stadardwert: extrapolation
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:choice>
                      <xs:element name="extrapolation">
                        <xs:annotation>
                          <xs:documentation>
                            Fehlerschätzung mittels Extrapolationsverfahren (default)
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="embedded">
                        <xs:annotation>
                          <xs:documentation>
                            Embedded Verfahren zur Fehlerschätzung: Fortsetzen der Integration mit niedrigerer Ordnung 
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="embeddedHigherOrder">
                        <xs:annotation>
                          <xs:documentation>
                            Embedded Verfahren zur Fehlerschätzung: Fortsetzen der Integration mit höherer Ordnung 
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:choice>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element> 
          <xs:element name="errorTest" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                Wie werden Geschwindigkeiten bei der Fehlertestung behandelt.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:element name="scale">
                  <xs:annotation>
                    <xs:documentation>
                      Geschwindigkeiten werden mit Zeitschrittweite skaliert
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="all">
                  <xs:annotation>
                    <xs:documentation>
                      Geschwindigkeiten und Lagen werden gleich behandelt
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="exclude">
                  <xs:annotation>
                    <xs:documentation>
                      Fehlertest wird nur mit Lagen durchgeführt.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:unknownVector">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Absoluter Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="absoluteToleranceScalar" type="pv:unknownScalar"> 
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Absolute Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice>
            <xs:element name="relativeTolerance" type="pv:nounitVector">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Relativer Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="relativeToleranceScalar" type="pv:nounitScalar"> 
              <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                  Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="advancedOptions" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                  <xs:element name="deactivateSSC" type="xs:boolean" minOccurs="0"> 
                  <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Deaktivieren der Schrittweitenkontrolle und Umschalten auf konstante Zeitschrittweite
                  </xs:documentation></xs:annotation>
                </xs:element>
              <xs:element name="gapTolerance" type="pv:nounitScalar" minOccurs="0"> 
                  <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Toleranz für Eindringtiefe; nur in Verbindung mit richtiger GapControl Methode
                  </xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="maximalSSCGain" type="pv:nounitScalar" minOccurs="0"> 
                  <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      maximale Vergrößerung der Zeitschrittweite zwischen zwei Schritten (default 2.2)
                  </xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="safetyFactorSSC" type="pv:nounitScalar" minOccurs="0"> 
                  <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Sicherheitsfaktor bei der Berechnung der neuen Zeitschrittweite (default 0.7)
                  </xs:documentation></xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="ThetaTimeSteppingIntegrator" substitutionGroup="Integrator" type="ThetaTimeSteppingIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Timestepping Integration für Maßdifferentialinklusionen.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="ThetaTimeSteppingIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="stepSize" type="pv:timeScalar"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Integrationsschrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="theta" type="xs:double"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Gewichtungsfaktor des implizit ermittelten Systemzustandes. Wert zwischen 0 (voll explizit) und 1 (voll implizit).
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="driftCompensation" type="xs:boolean"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Driftkompensation
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="EulerExplicitIntegrator" substitutionGroup="Integrator" type="EulerExplicitIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Explizites Einschritt-Integrationsverfahren mit fester Schrittweite.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="EulerExplicitIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="stepSize" type="pv:timeScalar"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Integrationsschrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="RKSuiteIntegrator" substitutionGroup="Integrator" type="RKSuiteIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Runge-Kutta Integrationsverfahren
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="RKSuiteIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="method23"/>
            <xs:element name="method45"/>
            <xs:element name="method67"/>
          </xs:choice>
          <xs:element name="relativeToleranceScalar" type="pv:nounitScalar">  
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="thresholdScalar" type="pv:nounitScalar">  
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Grenzwert
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="initalStepsize" type="pv:timeScalar" minOccurs="0"> 
            <xs:annotation><xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Integrationsschrittweite. (t=0: automatische Detektion)
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

</xs:schema>
