kernel_dev/schema/mbsim.xsd.in

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://mbsim.berlios.de/MBSim"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns="http://mbsim.berlios.de/MBSim"
  xmlns:pv="http://openmbv.berlios.de/MBXMLUtils/physicalvariable"
  xmlns:ombv="http://openmbv.berlios.de/OpenMBV"
  xmlns:xml="http://www.w3.org/XML/1998/namespace"
  xmlns:h="http://www.w3.org/1999/xhtml"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://openmbv.berlios.de/MBXMLUtils/physicalvariable"
    schemaLocation="@MBXMLUTILSSCHEMA@/physicalvariable.xsd"/>

  <xs:import namespace="http://openmbv.berlios.de/OpenMBV"
    schemaLocation="@OPENMBVCPPINTERFACESCHEMA@/openmbv.xsd"/>

  <!-- for xml:base attribute: include xml namespaces defining attribute xml:base -->
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="@MBXMLUTILSSCHEMA@/xml.xsd"/>



  <xs:simpleType name="PlotFeatureType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="+plotRecursive"/>
      <xs:enumeration value="-plotRecursive"/>
      <xs:enumeration value="+separateFilePerDynamicSystem"/>
      <xs:enumeration value="-separateFilePerDynamicSystem"/>
      <xs:enumeration value="+state"/>
      <xs:enumeration value="-state"/>
      <xs:enumeration value="+stateDerivative"/>
      <xs:enumeration value="-stateDerivative"/>
      <xs:enumeration value="+rightHandSide"/>
      <xs:enumeration value="-rightHandSide"/>
      <xs:enumeration value="+globalPosition"/>
      <xs:enumeration value="-globalPosition"/>
      <xs:enumeration value="+contact"/>
      <xs:enumeration value="-contact"/>
      <xs:enumeration value="+energy"/>
      <xs:enumeration value="-energy"/>
      <xs:enumeration value="+openMBV"/>
      <xs:enumeration value="-openMBV"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FrameReferenceType">
    <xs:restriction base="xs:token">
     <!-- pattern value="((\.\.|Object\[X\]|DynamicSystem\[X\])/)*Frame\[X\]" with
            X=((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)
            from physicalvariable.xsd name attribute -->
     <xs:pattern value="/?((\.\.|Object\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\]|DynamicSystem\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\])/)*Frame\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ContourReferenceType">
    <xs:restriction base="xs:token">
     <!-- pattern value="((\.\.|Object\[X\]|DynamicSystem\[X\])/)*Contour\[X\]" with
            X=((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)
            from physicalvariable.xsd name attribute -->
     <xs:pattern value="((\.\.|Object\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\]|DynamicSystem\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\])/)*Contour\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\]"/>
    </xs:restriction>
  </xs:simpleType>



  <xs:element name="Element" abstract="true" type="ElementType"/>
  <xs:complexType name="ElementType">
    <xs:sequence> <!-- a fix for xmllint -->
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="plotFeature">  
          <xs:complexType>
            <xs:attribute name="feature" type="PlotFeatureType" use="required"/>
          </xs:complexType> 
        </xs:element>  
        <xs:element name="plotFeatureForChildren">  
          <xs:complexType>
            <xs:attribute name="feature" type="PlotFeatureType" use="required"/>
          </xs:complexType> 
        </xs:element>  
        <xs:element name="plotFeatureRecursive">  
          <xs:complexType>
            <xs:attribute name="feature" type="PlotFeatureType" use="required"/>
          </xs:complexType> 
        </xs:element>  
      </xs:choice> 
    </xs:sequence> <!-- a fix for xmllint -->
    <xs:attribute name="name" type="pv:name" use="required"/>
  </xs:complexType> 

  <xs:element name="DynamicSystem" abstract="true" substitutionGroup="Element" type="DynamicSystemType"/>
  <xs:complexType name="DynamicSystemType">
    <xs:complexContent>
      <xs:extension base="ElementType"/>
      <!-- All functionality of DynamicSystem is moved to Group, because this two classes are the save,
           if there exist no class Tree on modelling level. (The ordering of the elements is better, if
           this is done so. -->
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="frameOfReference">
    <xs:complexType>
      <xs:attribute name="ref" type="FrameReferenceType" use="required"/>
    </xs:complexType> 
  </xs:element>

  <xs:element name="Group" substitutionGroup="DynamicSystem" type="GroupType"/>
  <xs:complexType name="GroupType">
    <xs:complexContent>
      <xs:extension base="DynamicSystemType">
        <xs:sequence>
          <xs:element ref="frameOfReference" minOccurs="0"/>
          <xs:element name="position" type="pv:lengthVector" minOccurs="0"/>  
          <xs:element name="orientation" type="pv:nounitMatrix" minOccurs="0"/>  
          <xs:element name="frames">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="frame" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="Frame"/>
                      <xs:element ref="frameOfReference" minOccurs="0"/>
                      <xs:element name="position" type="pv:lengthVector"/>
                      <xs:element name="orientation" type="pv:nounitMatrix"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="contours">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="contour" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="Contour"/>
                      <xs:element ref="frameOfReference" minOccurs="0"/>
                      <xs:element name="position" type="pv:lengthVector"/>
                      <xs:element name="orientation" type="pv:nounitMatrix"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="groups">
            <xs:complexType>
              <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="pv:embed"/>  
                  <xs:element ref="DynamicSystem"/>  
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="objects">
            <xs:complexType>
              <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="pv:embed"/>  
                  <xs:element ref="Object"/>  
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="links">
            <xs:complexType>
              <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="pv:embed"/>  
                  <xs:element ref="Link"/>  
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence> 
        <xs:attribute ref="xml:base"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Environment" abstract="true" type="EnvironmentType"/>
  <xs:complexType name="EnvironmentType"/>

  <xs:element name="MBSimEnvironment" substitutionGroup="Environment" type="MBSimEnvironmentType"/>
  <xs:complexType name="MBSimEnvironmentType">
    <xs:complexContent>
      <xs:extension base="EnvironmentType">
        <xs:sequence>
          <xs:element name="accelerationOfGravity" type="pv:accelerationVector"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="DynamicSystemSolver" substitutionGroup="Group" type="DynamicSystemSolverType"/>
  <xs:complexType name="DynamicSystemSolverType">
    <xs:complexContent>
      <xs:extension base="GroupType">
        <xs:sequence>
          <xs:element name="environments">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Environment" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence> 
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Object" abstract="true" substitutionGroup="Element" type="ObjectType"/>
  <xs:complexType name="ObjectType">
    <xs:complexContent>
      <xs:extension base="ElementType">
        <xs:sequence>
          <xs:element name="initialGeneralizedPosition" type="pv:lengthVector"/>
          <xs:element name="initialGeneralizedVelocity" type="pv:velocityVector"/>
          <xs:element ref="frameOfReference"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Body" substitutionGroup="Object" type="BodyType">
    <xs:annotation><xs:documentation>
      The following part is only a test for equation and image output for the XML documentation FROM XSM SCHEMA. A not inline equation
      <h:div class="eqn"><h:img class="eqn" src="id_A.png" alt="\[ \int_a^b\sin(x)dx \]"/></h:div>
      And a inline equation <h:img class="inlineeqn" src="id_B.png" alt="$x_a+\cos(x)$"/>. And a image.
      <h:div class="htmlfigure"><h:table>
        <h:caption align="bottom">The image caption</h:caption><h:tr><h:td>
        <h:img class="htmlfigure" src="mbsim.png" alt="mbsim.png"/></h:td></h:tr></h:table>
      </h:div>
      <h:object class="latexfigure" standby="4cm" data="mbsim.eps" title="The image caption"/>
      End of the test. 
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="BodyType">
    <xs:complexContent>
      <xs:extension base="ObjectType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RigidBody" substitutionGroup="Body" type="RigidBodyType"/>
  <xs:complexType name="RigidBodyType">
    <xs:complexContent>
      <xs:extension base="BodyType">
        <xs:sequence>
          <xs:element name="frameForKinematics">
            <xs:complexType>
              <xs:attribute name="ref" type="FrameReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
          <xs:element name="mass" type="pv:massScalar"/>
          <xs:element name="inertiaTensor" type="pv:inertiaMatrix"/>
          <xs:element name="translation">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Translation" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="rotation">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Rotation" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <!-- BEGIN The following elements are rarly used. That is why they are optional (on top level) -->
          <xs:element name="jacobianOfTranslation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Jacobian"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="jacobianOfRotation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Jacobian"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="derivativeOfJacobianOfTranslation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function3_MVVS"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="derivativeOfJacobianOfRotation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function3_MVVS"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="guidingVelocityOfTranslation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function1_VS"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="guidingVelocityOfRotation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function1_VS"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="derivativeOfGuidingVelocityOfTranslation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function1_VS"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="derivativeOfGuidingVelocityOfRotation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function1_VS"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <!-- END -->
          <xs:element name="frames">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="frame" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="Frame"/>
                      <xs:element ref="frameOfReference" minOccurs="0"/>
                      <xs:element name="position" type="pv:lengthVector"/>
                      <xs:element name="orientation" type="pv:nounitMatrix"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="contours">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="contour" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="Contour"/>
                      <xs:element ref="frameOfReference" minOccurs="0"/>
                      <xs:element name="position" type="pv:lengthVector"/>
                      <xs:element name="orientation" type="pv:nounitMatrix"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="openMBVRigidBody" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ombv:RigidBody"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="enableOpenMBVFrameC" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="size" type="pv:lengthScalar"/>
                <xs:element name="offset" type="pv:nounitScalar"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Link" abstract="true" substitutionGroup="Element" type="LinkType"/>
  <xs:complexType name="LinkType">
    <xs:complexContent>
      <xs:extension base="ElementType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="LinkMechanics" substitutionGroup="Link" type="LinkMechanicsType"/>
  <xs:complexType name="LinkMechanicsType">
    <xs:complexContent>
      <xs:extension base="LinkType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="KineticExcitation" substitutionGroup="LinkMechanics" type="KineticExcitationType"/>
  <xs:complexType name="KineticExcitationType">
    <xs:complexContent>
      <xs:extension base="LinkMechanicsType">
        <xs:sequence>
          <xs:element name="frameOfReference" minOccurs="0">
            <xs:complexType>
              <xs:attribute name="ref" type="FrameReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
          <xs:element name="force" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="directionVectors" type="pv:nounitMatrix"/>
                <xs:element name="function">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="Function1_VS"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element ref="ombv:Arrow" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="moment" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="directionVectors" type="pv:nounitMatrix"/>
                <xs:element name="function">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="Function1_VS"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element ref="ombv:Arrow" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="connect">
            <xs:complexType>
              <xs:attribute name="ref" type="FrameReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="SpringDamper" substitutionGroup="LinkMechanics" type="SpringDamperType"/>
  <xs:complexType name="SpringDamperType">
    <xs:complexContent>
      <xs:extension base="LinkMechanicsType">
        <xs:sequence>
          <xs:element name="forceFunction">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function2_SSS"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
          <xs:element name="projectionDirection" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="frameOfReference"/>
                <xs:element name="direction" type="pv:nounitVector"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
          <xs:element name="connect">
            <xs:complexType>
              <xs:attribute name="ref1" type="FrameReferenceType" use="required"/>
              <xs:attribute name="ref2" type="FrameReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
          <xs:element ref="ombv:CoilSpring" minOccurs="0"/>
          <xs:element ref="ombv:Arrow" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Joint" substitutionGroup="LinkMechanics" type="JointType"/>
  <xs:complexType name="JointType">
    <xs:complexContent>
      <xs:extension base="LinkMechanicsType">
        <xs:sequence>
          <xs:element name="force" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="direction" type="pv:nounitMatrix"/>
                <xs:element name="generalizedForceLaw">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="GeneralizedForceLaw"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="generalizedImpactLaw">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="GeneralizedImpactLaw" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element ref="ombv:Arrow" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="moment" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="direction" type="pv:nounitMatrix"/>
                <xs:element name="generalizedForceLaw">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="GeneralizedForceLaw"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="generalizedImpactLaw">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="GeneralizedImpactLaw" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element ref="ombv:Arrow" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="connect">
            <xs:complexType>
              <xs:attribute name="ref1" type="FrameReferenceType" use="required"/>
              <xs:attribute name="ref2" type="FrameReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Contact" substitutionGroup="LinkMechanics" type="ContactType"/>
  <xs:complexType name="ContactType">
    <xs:complexContent>
      <xs:extension base="LinkMechanicsType">
        <xs:sequence>
          <xs:element name="contactForceLaw">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="GeneralizedForceLaw"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="contactImpactLaw">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="GeneralizedImpactLaw" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="frictionForceLaw">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="FrictionForceLaw" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="frictionImpactLaw">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="FrictionImpactLaw" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="connect">
            <xs:complexType>
              <xs:attribute name="ref1" type="ContourReferenceType" use="required"/>
              <xs:attribute name="ref2" type="ContourReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
          <xs:element name="enableOpenMBVContactPoints" type="pv:lengthScalar" minOccurs="0"/>
          <xs:element name="openMBVNormalForceArrow" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ombv:Arrow"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="openMBVFrictionArrow" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ombv:Arrow"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Frame" substitutionGroup="Element" type="FrameType"/>
  <xs:complexType name="FrameType">
    <xs:complexContent>
      <xs:extension base="ElementType">
        <xs:sequence>
          <xs:element name="enableOpenMBV" minOccurs="0">  
            <xs:complexType>
              <xs:sequence>
                <xs:element name="size" type="pv:lengthScalar"/>
                <xs:element name="offset" type="pv:nounitScalar"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType> 

  <xs:element name="Contour" abstract="true" substitutionGroup="Element" type="ContourType"/>
  <xs:complexType name="ContourType">
    <xs:complexContent>
      <xs:extension base="ElementType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RigidContour" substitutionGroup="Contour" type="RigidContourType"/>
  <xs:complexType name="RigidContourType">
    <xs:complexContent>
      <xs:extension base="ContourType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Plane" substitutionGroup="RigidContour" type="PlaneType"/>
  <xs:complexType name="PlaneType">
    <xs:complexContent>
      <xs:extension base="RigidContourType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Point" substitutionGroup="RigidContour" type="PointType"/>
  <xs:complexType name="PointType">
    <xs:complexContent>
      <xs:extension base="RigidContourType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Sphere" substitutionGroup="RigidContour" type="SphereType"/>
  <xs:complexType name="SphereType">
    <xs:complexContent>
      <xs:extension base="RigidContourType">
        <xs:sequence>
          <xs:element name="radius" type="pv:lengthScalar"/>
          <xs:element name="enableOpenMBV" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Translation" abstract="true" type="TranslationType"/>
  <xs:complexType name="TranslationType"/>

  <xs:element name="LinearTranslation" substitutionGroup="Translation" type="LinearTranslationType"/>
  <xs:complexType name="LinearTranslationType">
    <xs:complexContent>
      <xs:extension base="TranslationType">
        <xs:sequence>
          <xs:element name="translationVectors" type="pv:nounitMatrix"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Rotation" abstract="true" type="RotationType"/>
  <xs:complexType name="RotationType"/>

  <xs:element name="RotationAboutFixedAxis" substitutionGroup="Rotation" type="RotationAboutFixedAxisType"/>
  <xs:complexType name="RotationAboutFixedAxisType">
    <xs:complexContent>
      <xs:extension base="RotationType">
        <xs:sequence>
          <xs:element name="axisOfRotation" type="pv:nounitVector"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="CardanAngles" substitutionGroup="Rotation" type="CardanAnglesType"/>
  <xs:complexType name="CardanAnglesType">
    <xs:complexContent>
      <xs:extension base="RotationType"/>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="GeneralizedForceLaw" abstract="true" type="GeneralizedForceLawType"/>
  <xs:complexType name="GeneralizedForceLawType"/>

  <xs:element name="BilateralConstraint" substitutionGroup="GeneralizedForceLaw" type="BilateralConstraintType"/>
  <xs:complexType name="BilateralConstraintType">
    <xs:complexContent>
      <xs:extension base="GeneralizedForceLawType"/>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="UnilateralConstraint" substitutionGroup="GeneralizedForceLaw" type="UnilateralConstraintType"/>
  <xs:complexType name="UnilateralConstraintType">
    <xs:complexContent>
      <xs:extension base="GeneralizedForceLawType"/>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="GeneralizedImpactLaw" abstract="true" type="GeneralizedImpactLawType"/>
  <xs:complexType name="GeneralizedImpactLawType"/>

  <xs:element name="BilateralImpact" substitutionGroup="GeneralizedImpactLaw" type="BilateralImpactType"/>
  <xs:complexType name="BilateralImpactType">
    <xs:complexContent>
      <xs:extension base="GeneralizedImpactLawType"/>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="UnilateralNewtonImpact" substitutionGroup="GeneralizedImpactLaw" type="UnilateralNewtonImpactType"/>
  <xs:complexType name="UnilateralNewtonImpactType">
    <xs:complexContent>
      <xs:extension base="GeneralizedImpactLawType">
        <xs:sequence>
          <xs:element name="restitutionCoefficient" type="pv:nounitScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="RegularizedBilateralConstraint" substitutionGroup="GeneralizedForceLaw" type="RegularizedBilateralConstraintType"/>
  <xs:complexType name="RegularizedBilateralConstraintType">
    <xs:complexContent>
      <xs:extension base="GeneralizedForceLawType">
        <xs:sequence>
          <xs:element name="forceFunction">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function2_SSS"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="RegularizedUnilateralConstraint" substitutionGroup="GeneralizedForceLaw" type="RegularizedUnilateralConstraintType"/>
  <xs:complexType name="RegularizedUnilateralConstraintType">
    <xs:complexContent>
      <xs:extension base="GeneralizedForceLawType">
        <xs:sequence>
          <xs:element name="forceFunction">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function2_SSS"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="FrictionForceLaw" abstract="true" type="FrictionForceLawType"/>
  <xs:complexType name="FrictionForceLawType"/>

  <xs:element name="RegularizedPlanarFriction" substitutionGroup="FrictionForceLaw" type="RegularizedPlanarFrictionType"/>
  <xs:complexType name="RegularizedPlanarFrictionType">
    <xs:complexContent>
      <xs:extension base="FrictionForceLawType">
        <xs:sequence>
          <xs:element name="frictionForceFunction">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function2_VVS"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="RegularizedSpatialFriction" substitutionGroup="FrictionForceLaw" type="RegularizedSpatialFrictionType"/>
  <xs:complexType name="RegularizedSpatialFrictionType">
    <xs:complexContent>
      <xs:extension base="FrictionForceLawType">
        <xs:sequence>
          <xs:element name="frictionForceFunction">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function2_VVS"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="SpatialCoulombFriction" substitutionGroup="FrictionForceLaw" type="SpatialCoulombFrictionType"/>
  <xs:complexType name="SpatialCoulombFrictionType">
    <xs:complexContent>
      <xs:extension base="FrictionForceLawType">
        <xs:sequence>
          <xs:element name="frictionCoefficient" type="pv:nounitScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="FrictionImpactLaw" abstract="true" type="FrictionImpactLawType"/>
  <xs:complexType name="FrictionImpactLawType"/>

  <xs:element name="SpatialCoulombImpact" substitutionGroup="FrictionImpactLaw" type="SpatialCoulombImpactType"/>
  <xs:complexType name="SpatialCoulombImpactType">
    <xs:complexContent>
      <xs:extension base="FrictionImpactLawType">
        <xs:sequence>
          <xs:element name="frictionCoefficient" type="pv:nounitScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Jacobian" abstract="true" type="JacobianType"/>
  <xs:complexType name="JacobianType"/>

  <xs:element name="ConstantJacobian" substitutionGroup="Jacobian" type="ConstantJacobianType"/>
  <xs:complexType name="ConstantJacobianType">
    <xs:complexContent>
      <xs:extension base="JacobianType">
        <xs:sequence>
          <xs:element name="constant" type="pv:nounitMatrix"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Function1_SS" abstract="true" type="Function1_SSType"/>
  <xs:complexType name="Function1_SSType"/>

  <xs:element name="Function1_VS" abstract="true" type="Function1_VSType"/>
  <xs:complexType name="Function1_VSType"/>

  <xs:element name="ConstantFunction1_VS" substitutionGroup="Function1_VS" type="ConstantFunction1_VSType"/>
  <xs:complexType name="ConstantFunction1_VSType">
    <xs:complexContent>
      <xs:extension base="Function1_VSType">
        <xs:sequence>
          <xs:element name="value" type="pv:nounitVector"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Function2_SSS" abstract="true" type="Function2_SSSType"/>
  <xs:complexType name="Function2_SSSType"/>

  <xs:element name="ConstantFunction2_SSS" substitutionGroup="Function2_SSS" type="ConstantFunction2_SSSType"/>
  <xs:complexType name="ConstantFunction2_SSSType">
    <xs:complexContent>
      <xs:extension base="Function2_SSSType">
        <xs:sequence>
          <xs:element name="value" type="pv:nounitScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LinearSpringDamperForce" substitutionGroup="Function2_SSS" type="LinearSpringDamperForceType"/>
  <xs:complexType name="LinearSpringDamperForceType">
    <xs:complexContent>
      <xs:extension base="Function2_SSSType">
        <xs:sequence>
          <xs:element name="stiffnessCoefficient" type="pv:stiffnessScalar"/>
          <xs:element name="dampingCoefficient" type="pv:dampingScalar"/>
          <xs:element name="unloadedLength" type="pv:lengthScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LinearRegularizedUnilateralConstraint" substitutionGroup="Function2_SSS" type="LinearRegularizedUnilateralConstraintType"/>
  <xs:complexType name="LinearRegularizedUnilateralConstraintType">
    <xs:complexContent>
      <xs:extension base="Function2_SSSType">
        <xs:sequence>
          <xs:element name="stiffnessCoefficient" type="pv:stiffnessScalar"/>
          <xs:element name="dampingCoefficient" type="pv:dampingScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LinearRegularizedBilateralConstraint" substitutionGroup="Function2_SSS" type="LinearRegularizedBilateralConstraintType"/>
  <xs:complexType name="LinearRegularizedBilateralConstraintType">
    <xs:complexContent>
      <xs:extension base="Function2_SSSType">
        <xs:sequence>
          <xs:element name="stiffnessCoefficient" type="pv:stiffnessScalar"/>
          <xs:element name="dampingCoefficient" type="pv:dampingScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Function2_VVS" abstract="true" type="Function2_VVSType"/>
  <xs:complexType name="Function2_VVSType"/>

  <xs:element name="LinearRegularizedCoulombFriction" abstract="true" substitutionGroup="Function2_VVS" type="LinearRegularizedCoulombFrictionType"/>
  <xs:complexType name="LinearRegularizedCoulombFrictionType">
    <xs:complexContent>
      <xs:extension base="Function2_VVSType">
        <xs:sequence>
          <xs:element name="marginalVelocity" type="pv:velocityScalar" minOccurs="0"/>
          <xs:element name="frictionCoefficient" type="pv:nounitScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LinearRegularizedPlanarCoulombFriction" substitutionGroup="LinearRegularizedCoulombFriction" type="LinearRegularizedPlanarCoulombFrictionType"/>
  <xs:complexType name="LinearRegularizedPlanarCoulombFrictionType">
    <xs:complexContent>
      <xs:extension base="LinearRegularizedCoulombFrictionType"/>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LinearRegularizedSpatialCoulombFriction" substitutionGroup="LinearRegularizedCoulombFriction" type="LinearRegularizedSpatialCoulombFrictionType"/>
  <xs:complexType name="LinearRegularizedSpatialCoulombFrictionType">
    <xs:complexContent>
      <xs:extension base="LinearRegularizedCoulombFrictionType"/>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LinearRegularizedPlanarStribeckFriction" substitutionGroup="Function2_VVS" type="LinearRegularizedPlanarStribeckFrictionType"/>
  <xs:complexType name="LinearRegularizedPlanarStribeckFrictionType">
    <xs:complexContent>
      <xs:extension base="Function2_VVSType">
        <xs:sequence>
          <xs:element name="marginalVelocity" type="pv:nounitMatrix" minOccurs="0"/>
          <xs:element name="frictionFunction">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function1_SS"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Function3_MVVS" abstract="true" type="Function3_MVVSType"/>
  <xs:complexType name="Function3_MVVSType"/>

</xs:schema>
