modules/mbsimControl/schema/mbsimcontrol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.mbsim-env.de/MBSimControl"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns="http://www.mbsim-env.de/MBSimControl"
  xmlns:mbsim="http://www.mbsim-env.de/MBSim"
  xmlns:pv="http://www.mbsim-env.de/MBXMLUtils"
  xmlns:ombv="http://www.mbsim-env.de/OpenMBV"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:annotation>
    <xs:documentation xml:lang="de" xmlns="">
      Mit dem Modul MBSimControl können einfache Regelungsstrukturen aufgebaut werden. 
      <p>
        Zum Auswerten von Systemzuständen oder Funktionen stehen verschiedene Sensoren zur Verfügung, die die entsprechenden Größen zur Verfügung stellen.
        Ebenso stehen Pseude-Sensoren zur Verfügung, welche Funktionen auswerten, um beispielsweise zeitabhängige Eingabegrößen zu generieren.
      </p>
      <p>
        Zum Aufbereiten der Sensorsignale sind Signalmanipulatoren vorhanden.
      </p>
      <p>
        In dynamischen Systemen 1. Ordnung können verschiedene Regelungskonzepte umgesetzt werden.
      </p>
      <p>
        Durch Aktoren können Stellkräfte in die Systeme zurückgespeist werden.
        Da Aktoren als Eingangsgröße ebenfalls Signale erhalten, gibt es einen speziellen Sensor, der die Systeme 1. Ordnung ausliest und deren Systemausgänge an die Aktoren überträgt.
      </p>
    </xs:documentation>
  </xs:annotation>

  <xs:import namespace="http://www.mbsim-env.de/MBXMLUtils"/>

  <xs:import namespace="http://www.mbsim-env.de/OpenMBV"/>

  <xs:import namespace="http://www.mbsim-env.de/MBSim"/>

  <xs:simpleType name="SignalReferenceType">
    <xs:restriction base="pv:stringPartialEval">
      <!-- pattern value="/?((\.\.|Group\[X\])/)*(Link\[X\]|Link\[X\])" with
      X=((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)
      from physicalvariable.xsd name attribute -->
      <xs:pattern value="/?((\.\.|Group\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\])/)*(Link\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\]|Link\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\])"/>
    </xs:restriction>
  </xs:simpleType>



  <xs:element name="Signal" abstract="true" substitutionGroup="mbsim:Link" type="SignalType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Signal
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SignalType">
    <xs:complexContent>
      <xs:extension base="mbsim:LinkType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ExternSignalSource" substitutionGroup="Signal" type="ExternSignalSourceType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Dieses Signal bezieht seine Signalwerte (Vektor der dimension n) von einer externen Quelle, z.B,
        von dem Master der Cosimulation mittels MDPCosim.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExternSignalSourceType">
    <xs:complexContent>
      <xs:extension base="SignalType">
        <xs:sequence>
          <xs:element name="sourceSize" type="pv:integerFullEval">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Gibt die Dimension der Signalquelle an.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ExternSignalSink" substitutionGroup="Signal" type="ExternSignalSinkType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Dummy Signal welches ein Signal einfach weiterleitet.
        Der Sinn dieses Signals ist lediglich die Markierung von Signalen als externe Signale.
        Z.b. der FMI export oder Co-Simulation suche alle Signale diese Types und
        verwendet all diese als Signal Ausgänge des Systems.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExternSignalSinkType">
    <xs:complexContent>
      <xs:extension base="SignalType">
        <xs:sequence>
          <xs:element name="inputSignal">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                ref=Pfad des Eingangssignals
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Sensor" abstract="true" substitutionGroup="Signal" type="SensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SensorType">
    <xs:complexContent>
      <xs:extension base="SignalType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ObjectSensor" abstract="true" substitutionGroup="Sensor" type="ObjectSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der generalisierten Koordinaten eines Objekts.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ObjectSensorType">
    <xs:complexContent>
      <xs:extension base="SensorType">
        <xs:sequence>
          <xs:element name="object">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Pfad des Objekts
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="mbsim:ObjectReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="GeneralizedPositionSensor" substitutionGroup="ObjectSensor" type="GeneralizedPositionSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der generalisierten Position
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GeneralizedPositionSensorType">
    <xs:complexContent>
      <xs:extension base="ObjectSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="GeneralizedVelocitySensor" substitutionGroup="ObjectSensor" type="GeneralizedVelocitySensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der generalisierten Geschwindigkeit
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GeneralizedVelocitySensorType">
    <xs:complexContent>
      <xs:extension base="ObjectSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="GeneralizedAccelerationSensor" substitutionGroup="ObjectSensor" type="GeneralizedAccelerationSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der generalisierten Beschleunigung
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GeneralizedAccelerationSensorType">
    <xs:complexContent>
      <xs:extension base="ObjectSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="FrameSensor" abstract="true" substitutionGroup="Sensor" type="FrameSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen von Koordinatensystemen in absoluten Koordinaten (Welt-System)
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FrameSensorType">
    <xs:complexContent>
      <xs:extension base="SensorType">
        <xs:sequence>
          <xs:element name="frame">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Pfad des Koordinatensystems
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="mbsim:FrameReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="PositionSensor" substitutionGroup="FrameSensor" type="PositionSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der Position im Welt-Koordinatensystem
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PositionSensorType">
    <xs:complexContent>
      <xs:extension base="FrameSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="OrientationSensor" substitutionGroup="FrameSensor" type="OrientationSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der Drehmatrix vom körperfesten ins Welt-System
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="OrientationSensorType">
    <xs:complexContent>
      <xs:extension base="FrameSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="VelocitySensor" substitutionGroup="FrameSensor" type="VelocitySensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der Geschwindigkeit im Welt-Koordinatensystem
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="VelocitySensorType">
    <xs:complexContent>
      <xs:extension base="FrameSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="AngularVelocitySensor" substitutionGroup="FrameSensor" type="AngularVelocitySensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der Winkelgeschwindigkeit im Welt-Koordinatensystem
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AngularVelocitySensorType">
    <xs:complexContent>
      <xs:extension base="FrameSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="AccelerationSensor" substitutionGroup="FrameSensor" type="AccelerationSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der Beschleunigung im Welt-Koordinatensystem
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AccelerationSensorType">
    <xs:complexContent>
      <xs:extension base="FrameSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="AngularAccelerationSensor" substitutionGroup="FrameSensor" type="AngularAccelerationSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der Winkelbeschleunigung im Welt-Koordinatensystem
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AngularAccelerationSensorType">
    <xs:complexContent>
      <xs:extension base="FrameSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="FunctionSensor" substitutionGroup="Sensor" type="FunctionSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zur zeitabhängigen Auswertung von Funktionen
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FunctionSensorType">
    <xs:complexContent>
      <xs:extension base="SensorType">
        <xs:sequence>
          <xs:element name="function">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Bennenung der Funktion
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="mbsim:Function"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="SignalFunction" substitutionGroup="mbsim:Function" type="SignalFunctionType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Funktion dessen Rückgabewert von einem Signal stammt.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SignalFunctionType">
    <xs:complexContent>
      <xs:extension base="mbsim:FunctionType" >
        <xs:sequence>
          <xs:element name="returnSignal">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Signal von welchem der Rückgabewert entnommen wird.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="SignalReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="LinkSensor" abstract="true" substitutionGroup="Sensor" type="LinkSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen von Daten eines Links.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LinkSensorType">
    <xs:complexContent>
      <xs:extension base="SensorType">
        <xs:sequence>
          <xs:element name="link">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Pfad des Links
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="mbsim:LinkReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="GeneralizedRelativePositionSensor" substitutionGroup="LinkSensor" type="GeneralizedRelativePositionSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen des generalisierten, relativen Abstands eines Links.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GeneralizedRelativePositionSensorType">
    <xs:complexContent>
      <xs:extension base="LinkSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="GeneralizedRelativeVelocitySensor" substitutionGroup="LinkSensor" type="GeneralizedRelativeVelocitySensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der generalisierten, relativen Geschwindigkeit eines Links.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GeneralizedRelativeVelocitySensorType">
    <xs:complexContent>
      <xs:extension base="LinkSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="GeneralizedForceSensor" substitutionGroup="LinkSensor" type="GeneralizedForceSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der generealisierten Kraft eines Links.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GeneralizedForceSensorType">
    <xs:complexContent>
      <xs:extension base="LinkSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="MechanicalLinkSensor" abstract="true" substitutionGroup="LinkSensor" type="MechanicalLinkSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen von Daten eines mechanischen Links.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MechanicalLinkSensorType">
    <xs:complexContent>
      <xs:extension base="LinkSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="MechanicalLinkForceSensor" substitutionGroup="MechanicalLinkSensor" type="MechanicalLinkForceSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der kartesischen Kraft eines Links.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MechanicalLinkForceSensorType">
    <xs:complexContent>
      <xs:extension base="MechanicalLinkSensorType">
        <xs:sequence>
          <xs:element name="forceNumber" type="pv:indexFullEval" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="MechanicalLinkMomentSensor" substitutionGroup="MechanicalLinkSensor" type="MechanicalLinkMomentSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der kartesischen Kraft eines Links.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MechanicalLinkMomentSensorType">
    <xs:complexContent>
      <xs:extension base="MechanicalLinkSensorType">
        <xs:sequence>
          <xs:element name="momentNumber" type="pv:indexFullEval" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ContactSensor" abstract="true" substitutionGroup="Sensor" type="ContactSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen von Daten eines Contacts.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ContactSensorType">
    <xs:complexContent>
      <xs:extension base="SensorType">
        <xs:sequence>
          <xs:element name="contact">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Pfad des Contacts
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="mbsim:ContactReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="singleContactNumber" type="pv:indexFullEval" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="GeneralizedRelativeContactPositionSensor" substitutionGroup="ContactSensor" type="GeneralizedRelativeContactPositionSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen des generalisierten, relativen Abstands eines Contacts.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GeneralizedRelativeContactPositionSensorType">
    <xs:complexContent>
      <xs:extension base="ContactSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="GeneralizedRelativeContactVelocitySensor" substitutionGroup="ContactSensor" type="GeneralizedRelativeContactVelocitySensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der generalisierten, relativen Geschwindigkeit eines Contacts.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GeneralizedRelativeContactVelocitySensorType">
    <xs:complexContent>
      <xs:extension base="ContactSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="GeneralizedContactForceSensor" substitutionGroup="ContactSensor" type="GeneralizedContactForceSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der generalisierten Kraft eines Contacts.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GeneralizedContactForceSensorType">
    <xs:complexContent>
      <xs:extension base="ContactSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ConstraintSensor" abstract="true" substitutionGroup="Sensor" type="ConstraintSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen von Daten eines Constraints.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ConstraintSensorType">
    <xs:complexContent>
      <xs:extension base="SensorType">
        <xs:sequence>
          <xs:element name="constraint">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Pfad des Constraints
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="mbsim:ConstraintReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="MechanicalConstraintSensor" abstract="true" substitutionGroup="ConstraintSensor" type="MechanicalConstraintSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen von Daten eines mechanischen Constraints.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MechanicalConstraintSensorType">
    <xs:complexContent>
      <xs:extension base="ConstraintSensorType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="MechanicalConstraintForceSensor" substitutionGroup="MechanicalConstraintSensor" type="MechanicalConstraintForceSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der kartesischen Kraft eines Constraints.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MechanicalConstraintForceSensorType">
    <xs:complexContent>
      <xs:extension base="MechanicalConstraintSensorType">
        <xs:sequence>
          <xs:element name="forceNumber" type="pv:indexFullEval" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="MechanicalConstraintMomentSensor" substitutionGroup="MechanicalConstraintSensor" type="MechanicalConstraintMomentSensorType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Sensor zum Auslesen der kartesischen Kraft eines Constraints.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MechanicalConstraintMomentSensorType">
    <xs:complexContent>
      <xs:extension base="MechanicalConstraintSensorType">
        <xs:sequence>
          <xs:element name="momentNumber" type="pv:indexFullEval" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Multiplexer" substitutionGroup="Signal" type="MultiplexerType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Vektorwertiges Zusammenführen von Signalen
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MultiplexerType">
    <xs:complexContent>
      <xs:extension base="SignalType">
        <xs:sequence>
          <xs:element name="inputSignal" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Eingangssignal
            </xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Demultiplexer" substitutionGroup="Signal" type="DemultiplexerType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Auswahl eines Index eines vektorwertigen Signals
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DemultiplexerType">
    <xs:complexContent>
      <xs:extension base="SignalType">
        <xs:sequence>
          <xs:element name="inputSignal">
            <xs:complexType>
              <xs:attribute name="ref" type="SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="indices" type="pv:indexVector">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Vektor der ausgewählten Indizes.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="SignalOperation" substitutionGroup="Signal" type="SignalOperationType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        TODO
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SignalOperationType">
    <xs:complexContent>
      <xs:extension base="SignalType">
        <xs:sequence>
          <xs:element name="inputSignal" minOccurs="1" maxOccurs="2">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Eingangssignal
            </xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="function">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Funktion
            </xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="mbsim:Function"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="SignalTimeDiscretization" substitutionGroup="Signal" type="SignalTimeDiscretizationType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Zeitdiskretisierung eines Signals (ALPHA-STATUS)
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SignalTimeDiscretizationType">
    <xs:complexContent>
      <xs:extension base="SignalType">
        <xs:sequence>
          <xs:element name="input">
            <xs:complexType>
              <xs:attribute name="ref" type="SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="LinearTransferSystem" substitutionGroup="Signal" type="LinearTransferSystemType"/>
  <xs:complexType name="LinearTransferSystemType">
    <xs:complexContent>
      <xs:extension base="SignalType">
        <xs:sequence>
          <xs:element name="inputSignal">
            <xs:complexType>
              <xs:attribute name="ref" type="SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="systemMatrix" type="pv:nounitMatrix" minOccurs="0"/>
          <xs:element name="inputMatrix" type="pv:nounitMatrix" minOccurs="0"/>
          <xs:element name="outputMatrix" type="pv:nounitMatrix" minOccurs="0"/>
          <xs:element name="feedthroughMatrix" type="pv:nounitMatrix" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="MasslessSpringDamper" substitutionGroup="Signal" type="MasslessSpringDamperType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Feder-Dämpfer System, bei dem die Masse vernachlässigt wird. <br/>
        <object class="figure" data="massless_spring_damper.svg">Größen</object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MasslessSpringDamperType">
    <xs:complexContent>
      <xs:extension base="SignalType">
        <xs:sequence>
          <xs:sequence>
            <xs:element name="springStiffness" type="pv:stiffnessScalar">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  <object class="inlineeqn">c</object>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="basicSpringForce" type="pv:forceScalar">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  <object class="inlineeqn">F_0</object>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="dampingCoefficient" type="pv:dampingScalar">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  <object class="inlineeqn">d</object>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="negativeDampingCoefficient" type="pv:dampingScalar" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  <object class="inlineeqn">d_{neg}</object>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="frictionForce" type="pv:forceScalar" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  <object class="inlineeqn">F_{fric}</object>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="negativeFrictionForce" type="pv:forceScalar" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  <object class="inlineeqn">F_{fric, neg}</object>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="minimalPositionValue" type="pv:lengthScalar" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  <object class="inlineeqn">x_{min}</object>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="maximalPositionValue" type="pv:lengthScalar" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  <object class="inlineeqn">x_{max}</object>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="SignalObserver" substitutionGroup="mbsim:Observer" type="SignalObserverType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
    tbd.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="SignalObserverType">
    <xs:complexContent>
      <xs:extension base="mbsim:ObserverType">
        <xs:sequence>
          <xs:element name="signal">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
              tbd.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="position" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
              tbd.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="enableOpenMBV" minOccurs="0">
            <xs:complexType>
              <xs:group ref="mbsim:OpenMBVArrowParameters"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
