kernel/schema/mbsimintegrator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.mbsim-env.de/MBSimIntegrator"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns="http://www.mbsim-env.de/MBSimIntegrator"
  xmlns:mbsim="http://www.mbsim-env.de/MBSim"
  xmlns:pv="http://www.mbsim-env.de/MBXMLUtils"
  xmlns:xml="http://www.w3.org/XML/1998/namespace"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://www.mbsim-env.de/MBSim"/>
  <xs:import namespace="http://www.mbsim-env.de/MBXMLUtils"/>

  <xs:element name="Integrator" abstract="true" substitutionGroup="mbsim:Solver" type="IntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
        Abstrakte Oberklasse für Zeitintegratoren.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="IntegratorType">
    <xs:complexContent>
      <xs:extension base="mbsim:SolverType">
        <xs:sequence>
          <xs:element name="startTime" type="pv:timeScalar">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Startzeitpunkt der Integration.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="endTime" type="pv:timeScalar">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Endzeitpunkt der Integration.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="plotStepSize" type="pv:timeScalar">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Schrittweite zur Ausgabe von Plotdaten.<br/>
                Die Schrittweite zur Ausgabe von Plotdaten darf nicht kleiner als die Integrationsschrittweite sein.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="initialState" type="pv:unknownVector" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Anfangszustand der Differentialinklusion.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="plotIntegrationData" type="pv:booleanFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Definiert, ob Daten der Integration, wie z.B. die Zeitschrittweite, geplottet werden soll.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="writeIntegrationSummary" type="pv:booleanFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Definiert, ob eine Übersicht der Integration, wie z.B. die Simulationszeit, ausgegeben werden soll.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="DOPRI5Integrator" substitutionGroup="Integrator" type="DOPRI5IntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
        Explizites Runge-Kutta Verfahren der Ordnung 5(4) mit 'dense output' der Ordnung 4.<br/>
        Das Verfahren ist nur für nicht-steife Differentialgleichungen bestimmt und verwendet automatische Schrittweitenbestimmung.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="DOPRI5IntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:unknownVector" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absoluter Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="absoluteToleranceScalar" type="pv:unknownScalar" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absolute Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice>
            <xs:element name="relativeTolerance" type="pv:nounitVector" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Relativer Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="relativeToleranceScalar" type="pv:nounitScalar" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="initialStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Schrittweitenvorschlag zu Beginn der Integration.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximumStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="stepLimit" type="pv:integerFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximale Anzahl von Integrationsschritten.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RADAU5Integrator" substitutionGroup="Integrator" type="RADAU5IntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
        Implizites Runge-Kutta Verfahren der Ordnung 5 (Radau IIA) mit 'dense output'.<br/>
        Das Verfahren ist für steife Differentialgleichungen bestimmt und verwendet automatische Schrittweitenbestimmung.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="RADAU5IntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:unknownVector" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absoluter Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="absoluteToleranceScalar" type="pv:unknownScalar" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absolute Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice>
            <xs:element name="relativeTolerance" type="pv:nounitVector" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Relativer Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="relativeToleranceScalar" type="pv:nounitScalar" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="initialStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Schrittweitenvorschlag zu Beginn der Integration.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximumStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="stepLimit" type="pv:integerFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximale Anzahl von Integrationsschritten.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="formalism" type="pv:stringFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Auswahl des Formalismus.
              <ul>
                <li>ODE: gewöhnliches Differentialgleichungssystem</li>
                <li>DAE1: differential-algebraisches System vom Index 1</li>
                <li>DAE2: differential-algebraisches System vom Index 2</li>
                <li>DAE3: differential-algebraisches System vom Index 3</li>
              </ul>
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="DOP853Integrator" substitutionGroup="Integrator" type="DOP853IntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
        Explizites Runge-Kutta Verfahren der Ordnung 8(5,3) mit 'dense output'.<br/>
        Das Verfahren ist nur für nicht-steife Differentialgleichungen bestimmt und verwendet automatische Schrittweitenbestimmung.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="DOP853IntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:unknownVector" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absoluter Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="absoluteToleranceScalar" type="pv:unknownScalar" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absolute Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice>
            <xs:element name="relativeTolerance" type="pv:nounitVector" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Relativer Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="relativeToleranceScalar" type="pv:nounitScalar" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="initialStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Schrittweitenvorschlag zu Beginn der Integration.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximumStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="stepLimit" type="pv:integerFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximale Anzahl von Integrationsschritten.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ODEXIntegrator" substitutionGroup="Integrator" type="ODEXIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
        Extrapolations-Verfahren (GBS), basierend auf der 'explicit midpoint rule'.<br/>
        Das Verfahren ist nur für nicht-steife Differentialgleichungen bestimmt und verwendet automatische Schrittweitenbestimmung.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="ODEXIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:unknownVector" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absoluter Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="absoluteToleranceScalar" type="pv:unknownScalar" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absolute Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice>
            <xs:element name="relativeTolerance" type="pv:nounitVector" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Relativer Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="relativeToleranceScalar" type="pv:nounitScalar" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="initialStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Schrittweitenvorschlag zu Beginn der Integration.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximumStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="stepLimit" type="pv:integerFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximale Anzahl von Integrationsschritten.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="LSODEIntegrator" substitutionGroup="Integrator" type="LSODEIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
        Livermore Solver for Ordinary Differential Equations. Integrator zur Lösung von Anfangswertproblemen für gewöhnliche Differentialgleichungssysteme. Das Verfahren enthält eine Schrittweitensteuerung und ist für steife und nicht-steife DGL-Systeme geeignet.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="LSODEIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="method" type="pv:stringFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Auswahl der Integrationsmethode.
              <ul>
                <li>nonstiff: Nichtsteifes Verfahren (Adams Verfahren)</li>
                <li>Adams: siehe nonstiff</li>
                <li>stiff: Steifes Verfahren (bachward differentiation formula)</li>
                <li>BDF: siehe stiff</li>
              </ul>
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:unknownVector" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absoluter Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="absoluteToleranceScalar" type="pv:unknownScalar" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absolute Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="relativeToleranceScalar" type="pv:nounitScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="initialStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Schrittweitenvorschlag zu Beginn der Integration.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximumStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="minimumStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Minimal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="stepLimit" type="pv:integerFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximale Anzahl von Integrationsschritten.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="toleranceForPositionConstraints" type="pv:unknownScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Toleranz für Bindungsgleichungen auf Lageebene.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="toleranceForVelocityConstraints" type="pv:unknownScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Toleranz für Bindungsgleichungen auf Geschwindigkeitsebene.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="LSODARIntegrator" substitutionGroup="Integrator" type="LSODARIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
        Livermore Solver for Ordinary Differential Equations, with Automatic method switching for stiff and nonstiff problems, and with Root-finding.
        Integrator zur Lösung von Anfangswertproblemen für gewöhnliche Differentialgleichungssysteme. Das Verfahren enthält eine Schrittweitensteuerung und eine Schaltpunktsuche. Es wählt automatisch die Integrationsmethode, je nach dem ob ein steifes oder nicht-steifes DGL-System vorliegt.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="LSODARIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:unknownVector" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absoluter Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="absoluteToleranceScalar" type="pv:unknownScalar" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absolute Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="relativeToleranceScalar" type="pv:nounitScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="initialStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Schrittweitenvorschlag zu Beginn der Integration.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximumStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="minimumStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Minimal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="stepLimit" type="pv:integerFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximale Anzahl von Integrationsschritten.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="plotOnRoot" type="pv:booleanFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Gibt an, ob eine Plot-Ausgabe geschrieben werden soll, wenn eine Indikatorfunktion einen Nulldurchgang hat.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="toleranceForPositionConstraints" type="pv:unknownScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Toleranz für Bindungsgleichungen auf Lageebene.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="toleranceForVelocityConstraints" type="pv:unknownScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Toleranz für Bindungsgleichungen auf Geschwindigkeitsebene.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="LSODKRIntegrator" substitutionGroup="Integrator" type="LSODKRIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
       Livermore Solver for Ordinary Differential equations, with preconditioned Krylov iteration methods for the Newton correction linear systems, and with Rootfinding. Integrator zur Lösung von Anfangswertproblemen für gewöhnliche Differentialgleichungssysteme. Das Verfahren enthält eine Schrittweitensteuerung und eine Schaltpunktsuche.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="LSODKRIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="method" type="pv:stringFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Auswahl der Integrationsmethode.
              <ul>
                <li>nonstiff: Nichtsteifes Verfahren (Adams Verfahren)</li>
                <li>Adams: siehe nonstiff</li>
                <li>stiff: Steifes Verfahren (bachward differentiation formula)</li>
                <li>BDF: siehe stiff</li>
              </ul>
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:unknownVector" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absoluter Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="absoluteToleranceScalar" type="pv:unknownScalar" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absolute Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="relativeToleranceScalar" type="pv:nounitScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="initialStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Schrittweitenvorschlag zu Beginn der Integration.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximumStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="minimumStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Minimal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="stepLimit" type="pv:integerFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximale Anzahl von Integrationsschritten.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="plotOnRoot" type="pv:booleanFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Gibt an, ob eine Plot-Ausgabe geschrieben werden soll, wenn eine Indikatorfunktion einen Nulldurchgang hat.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="toleranceForPositionConstraints" type="pv:unknownScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Toleranz für Bindungsgleichungen auf Lageebene.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="toleranceForVelocityConstraints" type="pv:unknownScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Toleranz für Bindungsgleichungen auf Geschwindigkeitsebene.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="LSODIIntegrator" substitutionGroup="Integrator" type="LSODIIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
        Livermore Solver for Ordinary Differential Equations (Implicit form). Integrator zur Lösung von Anfangswertproblemen für differential-algebraische Systeme vom Index 2.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="LSODIIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:unknownVector" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absoluter Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="absoluteToleranceScalar" type="pv:unknownScalar" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absolute Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="relativeToleranceScalar" type="pv:nounitScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="initialStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Schrittweitenvorschlag zu Beginn der Integration.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximumStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="minimumStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Minimal zu verwendende Schrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="stepLimit" type="pv:integerFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximale Anzahl von Integrationsschritten.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="formalism" type="pv:stringFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Auswahl des Formalismus.
              <ul>
                <li>ODE: gewöhnliches Differentialgleichungssystem</li>
                <li>DAE2: differential-algebraisches System vom Index 2</li>
                <li>GGL: differential-algebraisches System vom Index 2 mit Gear Gupta Leimkuhler Stabilisierung</li>
              </ul>
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="toleranceForPositionConstraints" type="pv:unknownScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Toleranz für Bindungsgleichungen auf Lageebene.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="toleranceForVelocityConstraints" type="pv:unknownScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Toleranz für Bindungsgleichungen auf Geschwindigkeitsebene.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="TimeSteppingIntegrator" substitutionGroup="Integrator" type="TimeSteppingIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
        Halb-explizite Timestepping Integration für Maßdifferentialinklusionen.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="TimeSteppingIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="stepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Integrationsschrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="toleranceForPositionConstraints" type="pv:unknownScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Toleranz für Bindungsgleichungen auf Lageebene.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ThetaTimeSteppingIntegrator" substitutionGroup="Integrator" type="ThetaTimeSteppingIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
        Halb-explizite Theta-Timestepping Integration für Maßdifferentialinklusionen.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="ThetaTimeSteppingIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="stepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Integrationsschrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="theta" type="pv:nounitScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Theta.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="toleranceForPositionConstraints" type="pv:unknownScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Toleranz für Bindungsgleichungen auf Lageebene.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="TimeSteppingSSCIntegrator" substitutionGroup="Integrator" type="TimeSteppingSSCIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
       Halb-explizite Timestepping Integration für Maßdifferentialinklusionen mit Schrittweitensteuerung und höherer Ordnung.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="TimeSteppingSSCIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="method" type="pv:stringFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Auswahl der Integrationsmethode.
              <ul>
                <li>extrapolation: Fehlerschätzung mittels Extrapolationsverfahren (default)</li>
                <li>embedded: Embedded Verfahren zur Fehlerschätzung: Fortsetzen der Integration mit niedrigerer Ordnung</li>
                <li>embeddedHigherOrder: Embedded Verfahren zur Fehlerschätzung: Fortsetzen der Integration mit höherer Ordnung</li>
              </ul>
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="stepSizeControl" type="pv:booleanFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Schrittweitenkontrolle verwenden (default true)
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:unknownVector" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absoluter Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="absoluteToleranceScalar" type="pv:unknownScalar" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Absolute Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice>
            <xs:element name="relativeTolerance" type="pv:nounitVector" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Relativer Fehlertoleranzvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="relativeToleranceScalar" type="pv:nounitScalar" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="initialStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Anfangsschrittweite (default: 1e-6)
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximumStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                maximale Zeitschrittweite (default: 1e-4)
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="minimumStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                minimale Zeitschrittweite (default: sqrt(eps))
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximumOrder" type="pv:integerFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Auswahl der maximalen Integrationsordnung: default: 1; 1,2,3 bei Fehlerschätzung mittels Extrapolation; 1 bis 4 bei embedded Verfahren.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="outputInterpolation" type="pv:booleanFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Flag zur Steuerung, ob für die Plotausgabe die vom Integrator angefahrenen Zeitpunkte verwendet werden oder ob auf die vorgegebenen Plotzeitpunkte interpoliert werden soll (default: false)
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="gapControl" type="pv:stringFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Definiert die gap control Strategie.
              <ul>
                <li>noGapControl: GapContol wird vollständig deaktiviert</li>
                <li>biggestRoot: Größte Nullstelle/Ereignis wird verwendet (maximaler Integrationsforschritt)</li>
                <li>scoring: Scoring Verfahren zur Auswahl der Nullstelle (Gewichtetes Mittel aus Eindringgeschwindigkeit und -zeit</li>
                <li>smallestRoot: Kleinste Nullstelle/Ereignis wird verwendet (am genauesten aber geringster Integrationsforschritt)</li>
                <li>gapTolerance: Zeitschrittweite werden so gewählt, dass Eindringtiefe gapTol nicht überschreitet</li>
              </ul>
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="gapTolerance" type="pv:nounitScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Toleranz für Eindringtiefe; nur in Verbindung mit richtiger GapControl Methode
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="errorTest" type="pv:stringFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Wie werden Geschwindigkeiten bei der Fehlertestung behandelt.
              <ul>
                <li>all: Geschwindigkeiten und Lagen werden gleich behandelt</li>
                <li>scale: Geschwindigkeiten werden mit Zeitschrittweite skaliert</li>
                <li>exclude: Fehlertest wird nur mit Lagen durchgeführt</li>
              </ul>
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximumGain" type="pv:nounitScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximale Vergrößerung der Zeitschrittweite zwischen zwei Schritten (default 2.2)
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="safetyFactor" type="pv:nounitScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Sicherheitsfaktor bei der Berechnung der neuen Zeitschrittweite (default 0.7)
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

<!--  <xs:element name="ThetaTimeSteppingIntegrator" substitutionGroup="Integrator" type="ThetaTimeSteppingIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
        Timestepping Integration für Maßdifferentialinklusionen.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="ThetaTimeSteppingIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="stepSize" type="pv:timeScalar">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Integrationsschrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="theta" type="pv:nounitScalar">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Gewichtungsfaktor des implizit ermittelten Systemzustandes. Wert zwischen 0 (voll explizit) und 1 (voll implizit).
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="driftCompensation" type="pv:booleanFullEval">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Driftkompensation
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>-->

  <xs:element name="HETS2Integrator" substitutionGroup="Integrator" type="HETS2IntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
       Integrationsverfahren für nich-glatte dynamische Systeme. Das Verfahren basiert auf der halb-expliziten Trapez-Regel.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="HETS2IntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="stepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Integrationsschrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="EulerExplicitIntegrator" substitutionGroup="Integrator" type="EulerExplicitIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
        Explizites Einschritt-Integrationsverfahren mit fester Schrittweite.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="EulerExplicitIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="stepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Integrationsschrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="EulerImplicitIntegrator" substitutionGroup="Integrator" type="EulerImplicitIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
        Implizites Einschritt-Integrationsverfahren mit fester Schrittweite.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="EulerImplicitIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="stepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Integrationsschrittweite.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RKSuiteIntegrator" substitutionGroup="Integrator" type="RKSuiteIntegratorType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
        Runge-Kutta Integrationsverfahren.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="RKSuiteIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="method" type="pv:stringFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Auswahl der Integrationsmethode.
              <ul>
                <li>RK23: explizites Runge-Kutta-Verfahren der Ordnung 3</li>
                <li>RK45: explizites Runge-Kutta-Verfahren der Ordnung 5</li>
                <li>RK78: explizites Runge-Kutta-Verfahren der Ordnung 8</li>
              </ul>
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="relativeToleranceScalar" type="pv:nounitScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="threshold" type="pv:nounitVector" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Grenwertvektor bezogen auf die Zustandsgrößen der Differentialgleichung.
              </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="thresholdScalar" type="pv:nounitScalar" minOccurs="0">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Grenzwert für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
              </xs:documentation></xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="initialStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Integrationsschrittweite. (t=0: automatische Detektion)
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="BoostOdeintDOS" abstract="true" substitutionGroup="Integrator" type="BoostOdeintDOSType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
       Integrators from Boost OdeInt.
       This class can use all Boost OdeInt dense output steppers.
       These integrators support all MBSim features:
       <ul>
         <li>root finding</li>
         <li>plot at equidistant step size</li>
         <li>drift projection</li>
         <li>step size control (depends on the stepper)</li>
         <li>co-simulation</li>
         <li>multiple instances possible</li>
       </ul>
       All these features operate with best performance without evaluating the system additional for plotting or root finding.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="BoostOdeintDOSType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="absoluteToleranceScalar" type="pv:unknownScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Absolute Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
                (Nur für Stepper mit step-size-control)
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="relativeToleranceScalar" type="pv:nounitScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Relative Fehlertoleranz ist für alle Zustandsgrößen der Differentialgleichung gemäß dem angegebenen Wert.
                (Nur für Stepper mit step-size-control)
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="initialStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Schrittweitenvorschlag zu Beginn der Integration.
                (Nicht schrittweitengesteuerte Stepper nutzen diese Schrittweite während der gesamten integration)
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="maximumStepSize" type="pv:timeScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Maximal zu verwendende Schrittweite.
                (Nur für Stepper mit step-size-control)
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="plotOnRoot" type="pv:booleanFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Gibt an, ob eine Plot-Ausgabe geschrieben werden soll, wenn eine Indikatorfunktion einen Nulldurchgang hat.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="toleranceForPositionConstraints" type="pv:unknownScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Toleranz für Bindungsgleichungen auf Lageebene.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="toleranceForVelocityConstraints" type="pv:unknownScalar" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Toleranz für Bindungsgleichungen auf Geschwindigkeitsebene.
            </xs:documentation></xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="BoostOdeintDOS_RKDOPRI5" substitutionGroup="BoostOdeintDOS" type="BoostOdeintDOS_RKDOPRI5Type">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
       Explicit, step-size-controlled Runge-Kutta Dormand-Prince 5 integrator from Boost Odeint.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="BoostOdeintDOS_RKDOPRI5Type">
    <xs:complexContent>
      <xs:extension base="BoostOdeintDOSType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="BoostOdeintDOS_BulirschStoer" substitutionGroup="BoostOdeintDOS" type="BoostOdeintDOS_BulirschStoerType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
       Explicit, step-size-controlled Bulirsch Stoer integrator from Boost Odeint.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="BoostOdeintDOS_BulirschStoerType">
    <xs:complexContent>
      <xs:extension base="BoostOdeintDOSType"/>
    </xs:complexContent>
  </xs:complexType>

  <!-- not working due to but in boost odeint, see https://github.com/boostorg/odeint/pull/27
  <xs:element name="BoostOdeintDOS_Euler" substitutionGroup="BoostOdeintDOS" type="BoostOdeintDOS_EulerType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
       Explicit, fixed step-size Euler integrator from Boost Odeint.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="BoostOdeintDOS_EulerType">
    <xs:complexContent>
      <xs:extension base="BoostOdeintDOSType"/>
    </xs:complexContent>
  </xs:complexType>-->

  <xs:element name="BoostOdeintDOS_Rosenbrock4" substitutionGroup="BoostOdeintDOS" type="BoostOdeintDOS_Rosenbrock4Type">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
       Implicit, step-size-controlled Rosenbrock 4 integrator from Boost Odeint.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="BoostOdeintDOS_Rosenbrock4Type">
    <xs:complexContent>
      <xs:extension base="BoostOdeintDOSType"/>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
