trunk/modules_dev/mbsimHydraulics/schema/mbsimhydraulics.xsd.in

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://mbsim.berlios.de/MBSimHydraulics"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns="http://mbsim.berlios.de/MBSimHydraulics"
  xmlns:mbsim="http://mbsim.berlios.de/MBSim"
  xmlns:mbsimcontrol="http://mbsim.berlios.de/MBSimControl"
  xmlns:pv="http://openmbv.berlios.de/MBXMLUtils/physicalvariable"
  xmlns:ombv="http://openmbv.berlios.de/OpenMBV"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://openmbv.berlios.de/MBXMLUtils/physicalvariable"
    schemaLocation="@MBXMLUTILSSCHEMA@/physicalvariable.xsd"/>

  <xs:import namespace="http://openmbv.berlios.de/OpenMBV"
    schemaLocation="@OPENMBVCPPINTERFACESCHEMA@/openmbv.xsd"/>

  <xs:import namespace="http://mbsim.berlios.de/MBSim"/>
  <xs:import namespace="http://mbsim.berlios.de/MBSimControl"/>

  <xs:simpleType name="HLineReferenceType">
    <xs:restriction base="xs:token">
      <!-- pattern value="/?((\.\.|Group\[X\])/)*HLine\[X\]" with
      X=((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)
      from physicalvariable.xsd name attribute -->
      <xs:pattern value="/?((\.\.|Group\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\])/)*HLine\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="HydraulicEnvironment" substitutionGroup="mbsim:Environment" type="HydraulicEnvironmentType"/>
  <xs:complexType name="HydraulicEnvironmentType">
    <xs:complexContent>
      <xs:extension base="mbsim:EnvironmentType">
        <xs:sequence>
          <xs:element name="environmentPressure" type="pv:nounitScalar"/>
          <xs:element name="specificMass">
            <xs:complexType>
              <xs:choice>
                <xs:element name="constantSpecificMass" type="pv:nounitScalar"/>
                <xs:element name="volumeDependingOnTemperature">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="dVdT" type="pv:nounitScalar"/>
                      <xs:element name="basicSpecificMass" type="pv:nounitScalar"/>
                      <xs:element name="basicTemperature" type="pv:nounitScalar"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="specificMassDependingOnTemperature">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="dRhodT" type="pv:nounitScalar"/>
                      <xs:element name="basicSpecificMass" type="pv:nounitScalar"/>
                      <xs:element name="basicTemperature" type="pv:nounitScalar"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="kinematicViscosity">
            <xs:complexType>
              <xs:choice>
                <xs:element name="constantKinematicViscosity" type="pv:nounitScalar"/>
                <xs:element name="walterUbbeohdeKinematicViscosity">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="temperature1" type="pv:nounitScalar"/>
                      <xs:element name="kinematicViscosity1" type="pv:nounitScalar"/>
                      <xs:element name="temperature2" type="pv:nounitScalar"/>
                      <xs:element name="kinematicViscosity2" type="pv:nounitScalar"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="basicBulkModulus" type="pv:nounitScalar"/>
          <xs:element name="kappa" type="pv:nounitScalar"/>
          <xs:element name="fluidTemperature" type="pv:nounitScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="PressureLoss" abstract="true" type="PressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Abstrakte Klasse zur Berechnung von Druckverlusten
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PressureLossType">
    <xs:attribute name="name" type="pv:name" use="required"/>
  </xs:complexType>

  <xs:element name="LinePressureLoss" abstract="true" substitutionGroup="PressureLoss" type="LinePressureLossType">
  </xs:element>
  <xs:complexType name="LinePressureLossType">
    <xs:complexContent>
      <xs:extension base="PressureLossType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="PressureLossZeta" substitutionGroup="LinePressureLoss" type="PressureLossZetaType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Druckverluste aufgrund Ein-/Auslaufverluste sowie Umlenkverluste.<br/>
        Die Berechnung erfolgt gemäß
        <div class="eqn"><img class="eqn" src="id1.png" alt="\[ \Delta p = \frac{\rho}{2} \, \zeta \, \frac{Q \, |Q|}{A^2} \]"/></div>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PressureLossZetaType">
    <xs:complexContent>
      <xs:extension base="LinePressureLossType">
        <xs:sequence>
          <xs:element name="zeta" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Druckverlustzahl <img class="inlineeqn" src="id2.png" alt="$\zeta$"/>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="PressureLossLaminarTubeFlow" substitutionGroup="LinePressureLoss" type="PressureLossLaminarTubeFlowType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Druckverluste aufgrund laminarer Rohrströmung.<br/>
        Die Berechnung erfolgt gemäß
        <div class="eqn"><img class="eqn" src="id3.png" alt="\[ \Delta p = 32 \, \eta \, \frac{l}{d^2} \, \frac{Q}{A} \]"/></div>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PressureLossLaminarTubeFlowType">
    <xs:complexContent>
      <xs:extension base="LinePressureLossType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="PressureLossCurveFit" substitutionGroup="LinePressureLoss" type="PressureLossCurveFitType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Für hydraulische Bauteile einer gewissen Komplexität sind die Druckverlustfaktoren aus tabellarischen Naschlagewerken oft nur sehr ungenau bis gar nicht zu bestimmen. Dagegen kann für jedes Bauteil durch eine Messung bzw. CFD-Simulation der Druckverlust in Abhängigkeit der Reynoldszahl bestimmt werden. Die Reynoldszahl sollte hierbei möglichst im Bezug auf den engsten Querschnitt als Referenzquerschnitt <img class="inlineeqn" src="id4.png" alt="$A_r$"/> mit dem hydraulischen Durchmesser <img class="inlineeqn" src="id5.png" alt="$D_H$"/> bestimmt werden <br/>
        Für jedes hydraulische Bauteil setzt sich der Durckverlust bei laminarer Strömung aus einem Anteil der Umlenkverluste und einem Anteil der Reibungsverluste zusammen
        <div class="eqn"><img class="eqn" src="id6.png" alt="\[ \Delta p = \Delta p_{Umlenk} + \Delta p_{Reibung} = \frac{\rho}{2} \, \left( \sum_i \zeta_i \, \frac{Q \, |Q|}{A^2} + \sum_j \lambda_j \, \frac{l_j}{d_j} \, \frac{Q \, |Q|}{A^2} \right) \]"/></div>
        mit den konstante Faktoren <img class="inlineeqn" src="id7.png" alt="$\zeta_i$"/> für die Umlenkstellen und der Rohrreibungszahl <img class="inlineeqn" src="id8.png" alt="$\lambda_j$"/> f+r die jeweiligen Leitungsabschnitte des Bauelements.<br/>
        Die Reynoldszahl am Referenzquerschnitt wird über die Beziehung
        <div class="eqn"><img class="eqn" src="id9.png" alt="\[ Re = \frac{D_{H,R}}{\nu} \, \frac{Q}{A} \]"/></div>
        bestimmt.
        Ausgehend von den Mess- bzw. Simulationsdaten können dann mittels Curvefitting die Parameter <img class="inlineeqn" src="id10.png" alt="$a$"/> und <img class="inlineeqn" src="id11.png" alt="$b$"/> für die folgende Approximationsfunktion in Abhängigkeit von der Reynoldszahl bestimmt werden:
        <div class="eqn"><img class="eqn" src="id12.png" alt="\[ \Delta p = \rho \, \nu^2 \, \left( a \, Re_R + b \, Re_R^2 \right) \]"/></div>
        mit
        <div class="eqn"><img class="eqn" src="id13.png" alt="\[ a= \sum_i 32 \, \frac{l_i}{d_i^2 \, D_{H,R}} \, \frac{A_R}{A_i} \]"/></div>
        <div class="eqn"><img class="eqn" src="id14.png" alt="\[ b= \sum_i \frac{\zeta_i}{2 \, D_{H,R}^2} \, \left( \frac{A_R}{A_i} \right)^2 \]"/></div>
        Ab einer Reynoldszahl von <img class="inlineeqn" src="id15.png" alt="$Re>2300$"/> kann es zu turbulenten Strömungszuständen kommen. Abhängig von deren Ausprägung im Bauteil verschlechtert sich die Aussagegenauigkeit des Modells.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PressureLossCurveFitType">
    <xs:complexContent>
      <xs:extension base="LinePressureLossType">
        <xs:sequence>
          <xs:element name="referenceDiameter" type="pv:nounitScalar"/>
          <xs:element name="hydraulicDiameter" type="pv:nounitScalar"/>
          <xs:element name="aPositive" type="pv:nounitScalar"/>
          <xs:element name="bPositive" type="pv:nounitScalar"/>
          <xs:element name="aNegative" type="pv:nounitScalar"/>
          <xs:element name="bNegative" type="pv:nounitScalar"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="VariablePressureLoss" abstract="true" substitutionGroup="LinePressureLoss" type="VariablePressureLossType"/>
  <xs:complexType name="VariablePressureLossType">
    <xs:complexContent>
      <xs:extension base="LinePressureLossType">
        <xs:sequence>
          <xs:element name="checksizeSignal">
            <xs:complexType>
              <xs:attribute name="ref" type="mbsimcontrol:SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="minimalChecksizeValue" type="pv:nounitScalar"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="VariablePressureLossAreaZeta" substitutionGroup="VariablePressureLoss" type="VariablePressureLossAreaZetaType"/>
  <xs:complexType name="VariablePressureLossAreaZetaType">
    <xs:complexContent>
      <xs:extension base="VariablePressureLossType">
        <xs:sequence>
          <xs:element name="zeta" type="pv:nounitScalar"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RegularizedVariablePressureLossAreaZeta" substitutionGroup="VariablePressureLossAreaZeta" type="RegularizedVariablePressureLossAreaZetaType"/>
  <xs:complexType name="RegularizedVariablePressureLossAreaZetaType">
    <xs:complexContent>
      <xs:extension base="VariablePressureLossAreaZetaType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="VariablePressureLossControlvalveAreaAlpha" substitutionGroup="VariablePressureLoss" type="VariablePressureLossControlvalveAreaAlphaType"/>
  <xs:complexType name="VariablePressureLossControlvalveAreaAlphaType">
    <xs:complexContent>
      <xs:extension base="VariablePressureLossType">
        <xs:sequence>
          <xs:element name="alpha" type="pv:nounitScalar"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RegularizedVariablePressureLossControlvalveAreaAlpha" substitutionGroup="VariablePressureLossControlvalveAreaAlpha" type="RegularizedVariablePressureLossControlvalveAreaAlphaType"/>
  <xs:complexType name="RegularizedVariablePressureLossControlvalveAreaAlphaType">
    <xs:complexContent>
      <xs:extension base="VariablePressureLossControlvalveAreaAlphaType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="VariablePressureLossCheckvalve" abstract="true" substitutionGroup="VariablePressureLoss" type="VariablePressureLossCheckvalveType"/>
  <xs:complexType name="VariablePressureLossCheckvalveType">
    <xs:complexContent>
      <xs:extension base="VariablePressureLossType">
        <xs:sequence>
          <xs:element name="ballRadius" type="pv:nounitScalar"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="VariablePressureLossCheckvalveGamma" substitutionGroup="VariablePressureLossCheckvalve" type="VariablePressureLossCheckvalveGammaType"/>
  <xs:complexType name="VariablePressureLossCheckvalveGammaType">
    <xs:complexContent>
      <xs:extension base="VariablePressureLossCheckvalveType">
        <xs:sequence>
          <xs:element name="alpha" type="pv:nounitScalar"/>
          <xs:element name="gamma" type="pv:nounitScalar"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RegularizedVariablePressureLossCheckvalveGamma" substitutionGroup="VariablePressureLossCheckvalveGamma" type="RegularizedVariablePressureLossCheckvalveGammaType"/>
  <xs:complexType name="RegularizedVariablePressureLossCheckvalveGammaType">
    <xs:complexContent>
      <xs:extension base="VariablePressureLossCheckvalveGammaType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="VariablePressureLossCheckvalveIdelchick" substitutionGroup="VariablePressureLossCheckvalve" type="VariablePressureLossCheckvalveIdelchickType"/>
  <xs:complexType name="VariablePressureLossCheckvalveIdelchickType">
    <xs:complexContent>
      <xs:extension base="VariablePressureLossCheckvalveType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RegularizedVariablePressureLossCheckvalveIdelchick" substitutionGroup="VariablePressureLossCheckvalveIdelchick" type="RegularizedVariablePressureLossCheckvalveIdelchickType"/>
  <xs:complexType name="RegularizedVariablePressureLossCheckvalveIdelchickType">
    <xs:complexContent>
      <xs:extension base="VariablePressureLossCheckvalveIdelchickType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="VariablePressureLossCheckvalveCone" substitutionGroup="VariablePressureLossCheckvalve" type="VariablePressureLossCheckvalveConeType"/>
  <xs:complexType name="VariablePressureLossCheckvalveConeType">
    <xs:complexContent>
      <xs:extension base="VariablePressureLossCheckvalveType">
        <xs:sequence>
          <xs:element name="alpha" type="pv:nounitScalar"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RegularizedVariablePressureLossCheckvalveCone" substitutionGroup="VariablePressureLossCheckvalveCone" type="RegularizedVariablePressureLossCheckvalveConeType"/>
  <xs:complexType name="RegularizedVariablePressureLossCheckvalveConeType">
    <xs:complexContent>
      <xs:extension base="VariablePressureLossCheckvalveConeType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="LeakagePressureLoss" substitutionGroup="PressureLoss" abstract="true" type="LeakagePressureLossType">
  </xs:element>
  <xs:complexType name="LeakagePressureLossType">
    <xs:complexContent>
      <xs:extension base="PressureLossType">
        <xs:sequence>
          <xs:element name="firstSurfaceVelocity" minOccurs="0">
            <xs:complexType>
              <xs:attribute name="ref" type="mbsimcontrol:SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="secondSurfaceVelocity" minOccurs="0">
            <xs:complexType>
              <xs:attribute name="ref" type="mbsimcontrol:SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="gapLength" minOccurs="0">
            <xs:complexType>
              <xs:attribute name="ref" type="mbsimcontrol:SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="PlaneLeakagePressureLoss" substitutionGroup="LeakagePressureLoss" type="PlaneLeakagePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Modell eines ebenen Leckagespaltes.
        Der Druckverlust berechnet sich zu
        <div class="eqn"><img class="eqn" src="id7.png" alt="\[ p_V = \frac{12 \, \eta \, |l|}{b \, h^3} \left[ Q + \frac{h \, b}{2} \, \left(v_1 + v_2\right) \right] \]"/></div>
        Die Länge des Leckagespaltes wird dabei entweder konstant gehalten oder an die Länge des gapLength-Signals angepasst. Die Geschwindigkeiten v1 und v2 entsprechen den Geschwindigkeiten der beiden anderen Signaleingänge. Dieser Summand wird nur berücksichtigt, falls die Signaleingänge gesetzt sind.
        Als Geschwindigkeit muss die Geschwindigkeit der Grenzflächen in Richtung der Länge l angegeben werden.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PlaneLeakagePressureLossType">
    <xs:complexContent>
      <xs:extension base="LeakagePressureLossType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="CircularLeakagePressureLoss" abstract="true" substitutionGroup="LeakagePressureLoss" type="CircularLeakagePressureLossType">
  </xs:element>
  <xs:complexType name="CircularLeakagePressureLossType">
    <xs:complexContent>
      <xs:extension base="LeakagePressureLossType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="EccentricCircularLeakagePressureLoss" substitutionGroup="CircularLeakagePressureLoss" type="EccentricCircularLeakagePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Strömung durch einen kreisförmigen Leckagespalt.
        Der Druckverlust berechnet sich zu
        <div class="eqn"><img class="eqn" src="id8.png" alt="\[ p_V = \frac{|l|}{\alpha \, A} \, Q - \frac{|l|}{2 \, \alpha} \, \left(\dot x_i + \dot x_a \right) \]"/></div>
        mit 
        <div class="eqn"><img class="eqn" src="id9.png" alt="\[ \alpha = \frac{A \, h^2}{12 \, \nu} \, \left( 1 + 1.5 \, \epsilon \right) \]"/></div>
        Die Länge des Leckagespaltes wird dabei entweder konstant gehalten oder an die Länge des gapLength-Signals angepasst. Die Geschwindigkeiten v1 und v2 entsprechen den Geschwindigkeiten der beiden anderen Signaleingänge. Dieser Summand wird nur berücksichtigt, falls die Signaleingänge gesetzt sind.
        Als Geschwindigkeit muss die Geschwindigkeit der Grenzflächen in Richtung der Länge l angegeben werden.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="EccentricCircularLeakagePressureLossType">
    <xs:complexContent>
      <xs:extension base="CircularLeakagePressureLossType">
        <xs:sequence>
          <xs:element name="eccentricity" type="pv:nounitScalar">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RealCircularLeakagePressureLoss" substitutionGroup="CircularLeakagePressureLoss" type="RealCircularLeakagePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RealCircularLeakagePressureLossType">
    <xs:complexContent>
      <xs:extension base="CircularLeakagePressureLossType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="HLine" abstract="true" substitutionGroup="mbsim:Object" type="HLineType"/>
  <xs:complexType name="HLineType">
    <xs:complexContent>
      <xs:extension base="mbsim:ObjectType">
        <xs:sequence>
          <xs:element name="direction" type="pv:nounitVector">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RigidHLine" abstract="true" substitutionGroup="HLine" type="RigidHLineType"/>
  <xs:complexType name="RigidHLineType">
    <xs:complexContent>
      <xs:extension base="HLineType">
        <xs:sequence>
          <xs:element name="length" type="pv:lengthScalar">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RigidLine" substitutionGroup="RigidHLine" type="RigidLineType">
  </xs:element>
  <xs:complexType name="RigidLineType">
    <xs:complexContent>
      <xs:extension base="RigidHLineType">
        <xs:sequence>
          <xs:element name="diameter" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="pressureLoss" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="LinePressureLoss"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="PlaneLeakage" substitutionGroup="RigidHLine" type="PlaneLeakageType">
  </xs:element>
  <xs:complexType name="PlaneLeakageType">
    <xs:complexContent>
      <xs:extension base="RigidHLineType">
        <xs:sequence>
          <xs:element name="width" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="height" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="pressureLoss" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="PlaneLeakagePressureLoss"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="CircularLeakage" substitutionGroup="RigidHLine" type="CircularLeakageType">
  </xs:element>
  <xs:complexType name="CircularLeakageType">
    <xs:complexContent>
      <xs:extension base="RigidHLineType">
        <xs:sequence>
          <xs:element name="innerRadius" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="height" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="pressureLoss" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CircularLeakagePressureLoss"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="HNode" abstract="true" substitutionGroup="mbsim:Link" type="HNodeType"/>
  <xs:complexType name="HNodeType">
    <xs:complexContent>
      <xs:extension base="mbsim:LinkType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="inflow">
              <xs:complexType>
                <xs:attribute name="ref" type="HLineReferenceType" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="outflow">
              <xs:complexType>
                <xs:attribute name="ref" type="HLineReferenceType" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ConstrainedNode" substitutionGroup="HNode" type="ConstrainedNodeType">
  </xs:element>
  <xs:complexType name="ConstrainedNodeType">
    <xs:complexContent>
      <xs:extension base="HNodeType">
        <xs:sequence>
          <xs:element name="function">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="mbsim:Function1_SS">
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="EnvironmentNode" substitutionGroup="HNode" type="EnvironmentNodeType">
  </xs:element>
  <xs:complexType name="EnvironmentNodeType">
    <xs:complexContent>
      <xs:extension base="HNodeType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ElasticNode" substitutionGroup="HNode" type="ElasticNodeType">
  </xs:element>
  <xs:complexType name="ElasticNodeType">
    <xs:complexContent>
      <xs:extension base="HNodeType">
        <xs:sequence>
          <xs:element name="volume" type="pv:nounitScalar"/>
          <xs:element name="initialPressure" type="pv:nounitScalar"/>
          <xs:element name="fracAir" type="pv:nounitScalar"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RigidNode" substitutionGroup="HNode" type="RigidNodeType">
  </xs:element>
  <xs:complexType name="RigidNodeType">
    <xs:complexContent>
      <xs:extension base="HNodeType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="HNodeMec" abstract="true" substitutionGroup="HNode" type="HNodeMecType"/>
  <xs:complexType name="HNodeMecType">
    <xs:complexContent>
      <xs:extension base="HNodeType">
        <xs:sequence>
          <xs:element name="initialVolume" type="pv:nounitScalar"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="translatorialBoundarySourface">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="frameOfReference">
                    <xs:complexType>
                      <xs:attribute name="ref" type="mbsim:FrameReferenceType" use="required"/>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="normal" type="pv:nounitVector"/>
                  <xs:element name="area" type="pv:nounitScalar"/>
                  <xs:element name="noVolumeChange" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="rotatorialBoundarySourface">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="frameOfReference">
                    <xs:complexType>
                      <xs:attribute name="ref" type="mbsim:FrameReferenceType" use="required"/>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="normal" type="pv:nounitVector"/>
                  <xs:element name="area" type="pv:nounitScalar"/>
                  <xs:element name="frameOfRotationCenter">
                    <xs:complexType>
                      <xs:attribute name="ref" type="mbsim:FrameReferenceType" use="required"/>
                    </xs:complexType> 
                  </xs:element>
                  <xs:element name="noVolumeChange" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:element name="enableOpenMBVArrows" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="size" type="pv:nounitScalar"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ConstrainedNodeMec" substitutionGroup="HNodeMec" type="ConstrainedNodeMecType">
  </xs:element>
  <xs:complexType name="ConstrainedNodeMecType">
    <xs:complexContent>
      <xs:extension base="HNodeMecType">
        <xs:sequence>
          <xs:element name="function">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="mbsim:Function1_SS">
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="EnvironmentNodeMec" substitutionGroup="HNodeMec" type="EnvironmentNodeMecType">
  </xs:element>
  <xs:complexType name="EnvironmentNodeMecType">
    <xs:complexContent>
      <xs:extension base="HNodeMecType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ElasticNodeMec" substitutionGroup="HNodeMec" type="ElasticNodeMecType"/>
  <xs:complexType name="ElasticNodeMecType">
    <xs:complexContent>
      <xs:extension base="HNodeMecType">
        <xs:sequence>
          <xs:element name="initialPressure" type="pv:nounitScalar"/>
          <xs:element name="fracAir" type="pv:nounitScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="RigidNodeMec" substitutionGroup="HNodeMec" type="RigidNodeMecType">
  </xs:element>
  <xs:complexType name="RigidNodeMecType">
    <xs:complexContent>
      <xs:extension base="HNodeMecType"/>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="Controlvalve43" substitutionGroup="mbsim:Group" type="Controlvalve43Type">
  </xs:element>
  <xs:complexType name="Controlvalve43Type">
    <xs:complexContent>
      <xs:extension base="mbsim:GroupType">
        <xs:sequence>
          <xs:element name="frameOfReference">
            <xs:complexType>
              <xs:attribute name="ref" type="mbsim:FrameReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
          <xs:element name="valve">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="length" type="pv:lengthScalar"/>
                <xs:element name="diameter" type="pv:lengthScalar"/>
                <xs:element name="alpha" type="pv:nounitScalar"/>
                <xs:element name="relativeAreaPA">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="mbsim:Function1_SS">
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="minimalRelativeArea" type="pv:nounitScalar"/>
                <xs:element name="offset" type="pv:nounitScalar"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="relativePosition">
            <xs:complexType>
              <xs:attribute name="ref" type="mbsimcontrol:SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="lineP">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="direction" type="pv:nounitVector">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Richtungsvektor der Zuleitung zu P
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="length" type="pv:lengthScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Länge der Zuleitung zu P
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="diameter" type="pv:lengthScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Durchmesser der Zuleitung zu P
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="pressureLoss" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Druckverluste in der Zuleitung zu P
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="LinePressureLoss"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="lineA">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="direction" type="pv:nounitVector">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Richtungsvektor der Ableitung von A
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="length" type="pv:lengthScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Länge der Ableitung von A
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="diameter" type="pv:lengthScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Durchmesser der Ableitung von A
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="pressureLoss" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Druckverluste in der Ableitung von A
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="LinePressureLoss"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="lineB">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="direction" type="pv:nounitVector">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Richtungsvektor der Ableitung von B
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="length" type="pv:lengthScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Länge der Ableitung von B
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="diameter" type="pv:lengthScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Durchmesser der Ableitung von B
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="pressureLoss" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Druckverluste in der Ableitung von B
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="LinePressureLoss"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="lineT">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="direction" type="pv:nounitVector">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Richtungsvektor der Ableitung von T
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="length" type="pv:lengthScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Länge der Ableitung von T
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="diameter" type="pv:lengthScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Durchmesser der Ableitung von T
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="pressureLoss" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Druckverluste in der Ableitung von T
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="LinePressureLoss"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RegularizedControlvalve43" substitutionGroup="Controlvalve43" type="RegularizedControlvalve43Type">
  </xs:element>
  <xs:complexType name="RegularizedControlvalve43Type">
    <xs:complexContent>
      <xs:extension base="Controlvalve43Type"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Checkvalve" abstract="true" substitutionGroup="mbsim:EmptyGroup" type="CheckvalveType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Abstrakte Klasse eines Rückschlagventils
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CheckvalveType">
    <xs:complexContent>
      <xs:extension base="mbsim:EmptyGroupType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="BallCheckvalve" substitutionGroup="Checkvalve" type="BallCheckvalveType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Modell eines Rückschlagventils mit Berücksichtigung der Trägheit der Ventilkugel.<br/>
        Die an die Blende angeschlossenen hydraulischen Knoten müssen vom Typ <tt>HydNodeMec</tt> sein, da ihnen automatisch hydraulisch-mechanische Grenzflächen zur Berechnung der Kräfte auf die Ventilkugel zugewiesen werden. Die Fläche der Grenzfläche ist dabei abhängig vom gewählten Druckverlustmodell der Blende.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="BallCheckvalveType">
    <xs:complexContent>
      <xs:extension base="CheckvalveType">
        <xs:sequence>
          <xs:element name="basisFrame">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Koordinatensystem, in dem das Rückschlagventil berechnet wird.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="mbsim:FrameReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
          <xs:element name="RigidLine">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Daten der Blende
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="length" type="pv:lengthScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Länge der Blende
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="diameter" type="pv:lengthScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Durchmesser der Blende
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="pressureLoss">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="VariablePressureLossCheckvalve">
                        <xs:annotation>
                          <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                            Druckverlust des Rückschlagventils.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Ball">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Daten der Ventilkugel
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="mass" type="pv:massScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Masse der Ventilkugel. <br/>
                      Die Massenträgheit der Ventilkugel wird gemäß  <img class="inlineeqn" src="id_B.png" alt="$\Theta_{Ball}=\frac{2}{5} \, m_{Ball} \, r_{Ball}^2$"/>. berechnet.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Spring">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Ventilfeder
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="forceFunction">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Kraftgesetz der Feder. Die Einbaulänge der Feder entspricht der maximalen Ventilöffnungshöhe.
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="mbsim:Function2_SSS"/>
                    </xs:sequence>
                  </xs:complexType> 
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SeatContact">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Modellierung des Kontaktes zwischen Kugel und Ventilsitz.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="contactForceLaw">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Kraftgesetz
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="mbsim:GeneralizedForceLaw"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="contactImpactLaw">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Kraftgesetz zur Lösung der Nebenbedingungen auf Impulsebene.
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="mbsim:GeneralizedImpactLaw" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence> 
            </xs:complexType>
          </xs:element>
          <xs:element name="maximalOpening" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Maximale Öffnungshöhe der Ventilkugel
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MaximalOpeningContact">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="contactForceLaw">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Kraftgesetz
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="mbsim:GeneralizedForceLaw"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="contactImpactLaw">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Kraftgesetz zur Lösung der Nebenbedingungen auf Impulsebene.
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="mbsim:GeneralizedImpactLaw" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence> 
            </xs:complexType>
          </xs:element>
          <xs:element name="enableOpenMBVBodies" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Visualisierung der Körper des Rückschlagventils
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="enableOpenMBVFrames" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Visualisierung der internen Koordinatensyteme des Rückschlagventils
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="enableOpenMBVArrows" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Visualisierung der Kräfte des Rückschlagventils
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
