trunk/modules/mbsimFlexibleBody/schema/mbsimflexiblebody.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://mbsim.berlios.de/MBSimFlexibleBody"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns="http://mbsim.berlios.de/MBSimFlexibleBody"
  xmlns:mbsim="http://mbsim.berlios.de/MBSim"
  xmlns:pv="http://openmbv.berlios.de/MBXMLUtils/physicalvariable"
  xmlns:ombv="http://openmbv.berlios.de/OpenMBV"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://openmbv.berlios.de/MBXMLUtils/physicalvariable"
    schemaLocation="../http___openmbv_berlios_de_MBXMLUtils/physicalvariable.xsd"/>

  <xs:import namespace="http://openmbv.berlios.de/OpenMBV"
    schemaLocation="../http___openmbv_berlios_de_OpenMBV/openmbv.xsd"/>

  <xs:import namespace="http://mbsim.berlios.de/MBSim"
    schemaLocation="../http___mbsim_berlios_de_MBSim/mbsim.xsd"/>

  
  <xs:annotation>
    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
      MBSIMFlexibleBody ist ein Modul mit elastischen Elementen.<br/>
      Hierzu zählen Wellen, Achsen und Platten. Zur Zeit sind 2 Elemente mittels dem XML Interface verwendbar: <br/>
      - FlexibleBody1s23BTA, eine Biege-Torsions-Welle <br/>
      - FlexibleBody1s33RCM <br/>
      Der Unterschied liegt in der Anzahl der Freiheitsgrade. Das Elemente FlexibleBody1s23BTA hat in Achsrichtung keinen Freiheitsgrad, wogegen das Element FlexibleBody1s33RCM über alle im Raum möglichen Freiheitsgrade verfügt. Beide Elemente symbolisieren ein in eine Richtung erstrecktes Kontinuum, wie z.B. eine Welle oder Achse. 
    </xs:documentation>
  </xs:annotation>

  <xs:element name="FlexibleBody" substitutionGroup="mbsim:Body" abstract="true" type="FlexibleBodyType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        TODO
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FlexibleBodyType">
    <xs:complexContent>
      <xs:extension base="mbsim:BodyType">
        <xs:sequence>
          <xs:element name="massProportionalDamping" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Koeffizient der massenproportionalen Dämpfung.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="frameOnFlexibleBody1s" type="frameOnFlexibleBody1sType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Lokale Gruppe eines Koordinatensystems.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="frameOnFlexibleBody1sType">
    <xs:sequence>
      <xs:element ref="mbsim:Frame"/>
      <xs:element name="position" type="pv:lengthScalar">
        <xs:annotation>
          <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
            Lage des körperfesten Koordinatensystems, angegeben durch 1 Längenangebe. Diese definiert eindeutig die Lage auf dem in 1 Dimension erstreckten Körper.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="FlexibleBody1s23BTA" substitutionGroup="FlexibleBody" type="FlexibleBody1s23BTAType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Definition des flexiblen 1-dimensional erstreckten Körpers FlexibleBody1s23BTA.        
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FlexibleBody1s23BTAType">
    <xs:complexContent>
      <xs:extension base="FlexibleBodyType">
        <xs:sequence>
          <xs:element name="frames">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Kontainer für lokale Koordinatensysteme dieses Körpers.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="frameOnFlexibleBody1s"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="numberOfElements" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Anzahl der Basiselemente des flexible Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="length" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Länge des flexiben Körpers
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="youngsModulus" type="pv:bulkModulusScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                E-Modul
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="shearModulus" type="pv:bulkModulusScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Schubmodul
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="density" type="pv:densityScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Dichte des flexiblen Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="crossSectionArea" type="pv:areaScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Querschnittsfläche des flexiblen Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="momentOfInertia" type="pv:inertiaVector">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Angabe der Trägheitsheitsmoment. Der Vektor setzt sich aus (IB, IB, 2*IB) zusammen.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="radiusOfContour" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Radius der äußeren Kontur (Kreisquerschnitt) des flexiblen Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="torsionalDamping" type="pv:dampingScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Koeffizient der Torsionsdämpfung.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="openMBVBody" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Aktiviert die Visualisierung dieses Körpers in OpenMBV durch den unten angegebenen OpenMBV Körper.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ombv:SpineExtrusion"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="FlexibleBody1s33RCMCantilever" substitutionGroup="FlexibleBody" type="FlexibleBody1s33RCMType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Definition des flexiblen 1-dimensional erstreckten Körpers FlexibleBody1s33RCM als Kragbalken.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="FlexibleBody1s33RCMRing" substitutionGroup="FlexibleBody" type="FlexibleBody1s33RCMType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Definition des flexiblen 1-dimensional erstreckten Körpers FlexibleBody1s33RCM als Ring.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="FlexibleBody1s33RCMType">
    <xs:complexContent>
      <xs:extension base="FlexibleBodyType">
        <xs:sequence>
          <xs:element name="frames">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Kontainer für lokale Koordinatensysteme dieses Körpers.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="frameOnFlexibleBody1s"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="numberOfElements" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Anzahl der Basiselemente des flexible Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="length" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Länge des flexiben Körpers
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="youngsModulus" type="pv:bulkModulusScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                E-Modul
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="shearModulus" type="pv:bulkModulusScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Schubmodul
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="density" type="pv:densityScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Dichte des flexiblen Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="crossSectionArea" type="pv:areaScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Querschnittsfläche des flexiblen Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="momentOfInertia" type="pv:inertiaVector">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Vector of the moments of momentOfInertia.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="radiusOfContourCylinder" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Angabe der Trägheitsheitsmoment. Der Vektor setzt sich aus (IB, IB, 2*IB) zusammen.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="dampingOfMaterial" type="pv:dampingVector">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Werte der Materialdämpfung, übergeben als Vektor.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="openMBVBody" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Aktiviert die Visualisierung dieses Körpers in OpenMBV durch den unten angegebenen OpenMBV Körper.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ombv:SpineExtrusion"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

</xs:schema>

