modules_dev/mbsimHydraulics/schema/mbsimhydraulics.xsd.in

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://mbsim.berlios.de/MBSimHydraulics"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns="http://mbsim.berlios.de/MBSimHydraulics"
  xmlns:mbsim="http://mbsim.berlios.de/MBSim"
  xmlns:mbsimcontrol="http://mbsim.berlios.de/MBSimControl"
  xmlns:pv="http://openmbv.berlios.de/MBXMLUtils/physicalvariable"
  xmlns:ombv="http://openmbv.berlios.de/OpenMBV"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://openmbv.berlios.de/MBXMLUtils/physicalvariable"
    schemaLocation="@MBXMLUTILSSCHEMA@/physicalvariable.xsd"/>

  <xs:import namespace="http://openmbv.berlios.de/OpenMBV"
    schemaLocation="@OPENMBVCPPINTERFACESCHEMA@/openmbv.xsd"/>

  <xs:import namespace="http://mbsim.berlios.de/MBSim"
    schemaLocation="@MBSIMSCHEMA@/mbsim.xsd"/>
  <xs:import namespace="http://mbsim.berlios.de/MBSimControl"
    schemaLocation="@MBSIMCONTROLSCHEMA@"/>

  <xs:simpleType name="HLineReferenceType">
    <xs:restriction base="pv:partialOctaveString">
      <!-- pattern value="/?((\.\.|Group\[X\])/)*HLine\[X\]" with
      X=((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)
      from physicalvariable.xsd name attribute -->
      <xs:pattern value="/?((\.\.|Group\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\])/)*HLine\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="HydraulicEnvironment" substitutionGroup="mbsim:Environment" type="HydraulicEnvironmentType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Definition der Hydraulischen Umbegumgsvariablen
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="HydraulicEnvironmentType">
    <xs:complexContent>
      <xs:extension base="mbsim:EnvironmentType">
        <xs:sequence>
          <xs:element name="environmentPressure" type="pv:pressureScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Umgebungsdruck
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="specificMass">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Dichte des Fluids in Abhängigkeit der Fluidtemperatur
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:element name="constantSpecificMass" type="pv:densityScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      konstante Dichte
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="volumeDependingOnTemperature">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Ermittlung der Dichte über eine temperaturabhängige Volumenänderung. Die Dichte berechnet sich gemäß
                      <object class="eqn">
                        <![CDATA[\rho = \rho_0 \, \frac{1}{1+\frac{\text{d}V}{\text{d}T}\, \left( T-T_0\right)} \text{.}]]>
                      </object>
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="dVdT" type="pv:unknownScalar">
                        <xs:annotation>
                          <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                            Faktor 
                            <object class="inlineeqn">\frac{\text{d}V}{\text{d}T}</object>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="basicSpecificMass" type="pv:densityScalar">
                        <xs:annotation>
                          <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                            Faktor 
                            <object class="inlineeqn">\rho_0</object>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="basicTemperature" type="pv:temperatureScalar">
                        <xs:annotation>
                          <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                            Faktor 
                            <object class="inlineeqn">T_0</object>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="specificMassDependingOnTemperature">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Ermittlung der Dichte über eine temperaturabhängige Dichteänderung
                      <object class="eqn">
                        <![CDATA[\rho = \rho_0 + \frac{\text{d}\rho}{\text{d}T} \, \left( T-T_0\right) \text{.}]]>
                      </object>
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="dRhodT" type="pv:unknownScalar">
                        <xs:annotation>
                          <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                            Faktor 
                            <object class="inlineeqn">\frac{\text{d}\rho}{\text{d}T}</object>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="basicSpecificMass" type="pv:densityScalar">
                        <xs:annotation>
                          <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                            Faktor 
                            <object class="inlineeqn">\rho_0</object>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="basicTemperature" type="pv:temperatureScalar">
                        <xs:annotation>
                          <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                            Faktor 
                            <object class="inlineeqn">T_0</object>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="kinematicViscosity">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Bestimmung der temperaturabhängigen kinematischen Viskosität 
                <object class="inlineeqn">\nu</object>.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:element name="constantKinematicViscosity" type="pv:kinematicViscosityScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Konsanter Wert.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="walterUbbeohdeKinematicViscosity">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Bestimmung der Viskosität nach der Formel von <i>Walter-Ubbelohde</i>
                      <object class="eqn">
                        <![CDATA[\nu = \left(10^{10^{W_x}}-0.8\right) \, 10^{-6}]]>
                      </object>
                      mit
                      <object class="eqn">
                        <![CDATA[W_x=m \, \left[ \log_{10} \left(T_1+273.16\right) - \log_{10} \left(T+273.16\right) \right] + W_m]]>
                      </object>
                      und
                      <object class="eqn">
                        <![CDATA[W_m=\log_{10} \left( \log_{10} \nu_1 \, 10^6 + 0.8 \right)]]>
                      </object>
                      <object class="eqn">
                        <![CDATA[W_2=\log_{10} \left( \log_{10} \nu_2 \, 10^6 + 0.8 \right)]]>
                      </object>
                      <object class="eqn">
                        <![CDATA[m=\frac{ W_m-W_2   }{ \log_{10} T_2 - \log_{10} T_m   }]]>
                      </object>
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="temperature1" type="pv:temperatureScalar">
                        <xs:annotation>
                          <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                            Faktor 
                            <object class="inlineeqn">T_1</object>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="kinematicViscosity1" type="pv:kinematicViscosityScalar">
                        <xs:annotation>
                          <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                            Faktor 
                            <object class="inlineeqn">\nu_1</object>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="temperature2" type="pv:temperatureScalar">
                        <xs:annotation>
                          <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                            Faktor 
                            <object class="inlineeqn">T_2</object>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="kinematicViscosity2" type="pv:kinematicViscosityScalar">
                        <xs:annotation>
                          <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                            Faktor 
                            <object class="inlineeqn">\nu_2</object>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="basicBulkModulus" type="pv:bulkModulusScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Kompressionsmodul des (luftfreien) Fluids
                <object class="inlineeqn">E_{Fluid}</object>.<br/>
                In Abhängigkeit des Luftanteils in Öl <object class="inlineeqn">\chi</object> berechnet sich das Kompressionsmodul des Öl-Luft-Gemisches nach <i>Backe-Murrenhoff</i> bei einer isentropen Zustandsänderung zu
                <object class="eqn">
                  <![CDATA[E_{isentrop} = E_{Fluid} \, \frac{1+\chi}{1+\left( \frac{p_0}{p}\right)^{\frac{1}{\kappa}} \, \chi \, \frac{E_{Fluid}}{\kappa \, p} } \text{.}]]>
                </object>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="kappa" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Isentropenexponent der Luft. 
                <object class="inlineeqn">\kappa \approx 1.4</object>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="fluidTemperature" type="pv:temperatureScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Temperatur des Fluids zur Bestimmung der Fluideigenschaften.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="PressureLoss" abstract="true" substitutionGroup="mbsim:Function1_SS" type="PressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Abstrakte Klasse zur Berechnung von Druckverlusten
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PressureLossType">
    <xs:complexContent>
      <xs:extension base="mbsim:Function1_SSType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="LinePressureLoss" abstract="true" substitutionGroup="PressureLoss" type="LinePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Abstrakte Klasse zur Berechnung von Druckverlusten von 1-dimensionalen hydraulischen Leitungen.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LinePressureLossType">
    <xs:complexContent>
      <xs:extension base="PressureLossType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="SerialResistanceLinePressureLoss" substitutionGroup="LinePressureLoss" type="SerialResistanceLinePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Serielle Aneinanderreihung verschiedener Druckveruste. <br/>
        Die einzelnen Druckverluste werden dabei als hydraulische Widerstände betrachtet. Demzufolge berechnet sich der Gesamtdruckverlust zu
        <object class="eqn">
          <![CDATA[p_V=\sum_{i=1}^n p_{V,i} \text{.}  ]]>
        </object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SerialResistanceLinePressureLossType">
    <xs:complexContent>
      <xs:extension base="LinePressureLossType">
        <xs:sequence>
          <xs:element ref="LinePressureLoss" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ParallelResistanceLinePressureLoss" substitutionGroup="LinePressureLoss" type="ParallelResistanceLinePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Parallelschaltung identischer hydraulischer Widerstände.<br/>
        Die einzelnen Druckverluste werden dabei als hydraulische Widerstände betrachtet. Demzufolge berechnet sich der Gesamtdruckverlust zu
        <object class="eqn">
          <![CDATA[p_V=\left( n \, \frac{1}{\sum_{i=1}^n p_{V,i}(\frac{Q}{n}) } \right)^{-1} \text{.}  ]]>
        </object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ParallelResistanceLinePressureLossType">
    <xs:complexContent>
      <xs:extension base="LinePressureLossType">
        <xs:sequence>
          <xs:element name="number" type="xs:nonNegativeInteger">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Anzahl der parallel geschalteten hydraulischen Widerstände.
      </xs:documentation>
    </xs:annotation>
          </xs:element>
          <xs:element ref="LinePressureLoss">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ZetaLinePressureLoss" substitutionGroup="LinePressureLoss" type="ZetaLinePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Druckverluste aufgrund Ein-/Auslaufverluste sowie Umlenkverluste.<br/>
        Die Berechnung erfolgt gemäß
        <object class="eqn">\Delta p = \frac{\rho}{2} \, \zeta \, \frac{Q \, |Q|}{A^2}</object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ZetaLinePressureLossType">
    <xs:complexContent>
      <xs:extension base="LinePressureLossType">
        <xs:sequence>
          <xs:element name="zeta" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Druckverlustzahl <object class="inlineeqn">\zeta</object>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="LaminarTubeFlowLinePressureLoss" substitutionGroup="LinePressureLoss" type="LaminarTubeFlowLinePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Druckverluste aufgrund laminarer Rohrströmung.<br/>
        Die Berechnung erfolgt gemäß
        <object class="eqn">\Delta p = 32 \, \eta \, \frac{l}{d^2} \, \frac{Q}{A}</object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LaminarTubeFlowLinePressureLossType">
    <xs:complexContent>
      <xs:extension base="LinePressureLossType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ChurchillLinePressureLoss" substitutionGroup="LinePressureLoss" type="ChurchillLinePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Druckverluste aufgrund einer Rohrströmung nach <i>Churchill</i>.<br/>
        Die Berechnung erfolgt gemäß
        <object class="eqn">\Delta p = \lambda \, \frac{l}{d} \, \frac{\rho}{2} \, \frac{|Q| \, Q}{A^2}\text{,}</object>
        wobei sich der Widerstandsbeiwert zu
        <object class="eqn">\lambda = \begin{cases} \frac{64}{Re} &amp; Re &lt; 1404 \qquad \text{(HagenPoiseuille)} \\ 0.0456 &amp; 1404 &lt;= 1404 Re &lt; 2320 \qquad \text{(Transition)} \\ \frac{0.3164}{{Re}^{0.25}} &amp; 2320 &lt;=Re \qquad\text{(Blasius)}\end{cases}</object>
        berechnet.<br/>
        Die Reynoldszahl bestimmt sich dabei gemäß <object class="inlineeqn">Re=\frac{d_{hyd}}{\nu}\,\frac{Q}{A_{ref}}</object>.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ChurchillLinePressureLossType">
    <xs:complexContent>
      <xs:extension base="LinePressureLossType">
        <xs:sequence>
          <xs:element name="referenceDiameter" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Referenzduchmesser zur Bestimmung der Strömungsgeschwindigket <object class="inlineeqn">d_{ref}</object>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="hydraulicDiameter" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                hydraulischer Duchmesser zur Bestimmung der Reynoldszahl <object class="inlineeqn">d_{hyd}</object>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="CurveFittedLinePressureLoss" substitutionGroup="LinePressureLoss" type="CurveFittedLinePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CurveFittedLinePressureLossType">
    <xs:complexContent>
      <xs:extension base="LinePressureLossType">
        <xs:sequence>
          <xs:element name="referenceDiameter" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="hydraulicDiameter" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="aPositive" type="pv:unknownScalar">
          </xs:element>
          <xs:element name="bPositive" type="pv:unknownScalar">
          </xs:element>
          <xs:element name="aNegative" type="pv:unknownScalar">
          </xs:element>
          <xs:element name="bNegative" type="pv:unknownScalar">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ClosablePressureLoss" abstract="true" substitutionGroup="PressureLoss" type="ClosablePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Abstrakte Klasse zur Berechnung von Druckverlusten mit veränderlichen Koeffizienten und einer Sperrmöglichkeit.
        Bei der Integration des Systems mit herkömmlichen Integratoren wird die Kennlinie des Ventils regularisiert, d.h. es wird aus nummerischen Gründen immer ein Restfluss durch das Ventil zugelassen.
        Bei der Verwendung eines <i>Time-Stepping-Integrators</i> kann durch eine entsprechende Angabe der Fluidfluss durch das Ventil im geschlossenen Zustand <object class="inlineeqn">Q=0</object>  gesetzt werden.
        Der variable Wert wird in der Klasse XXX gesetzt.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ClosablePressureLossType">
    <xs:complexContent>
      <xs:extension base="PressureLossType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RelativeAreaZetaClosablePressureLoss" substitutionGroup="ClosablePressureLoss" type="RelativeAreaZetaClosablePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Berechnung des Druckverlustes durch eine Veränderung der relativen Öffnungsfläche:
        <object class="eqn">
          <![CDATA[p_V=\frac{\rho}{2} \, \zeta \, \frac{Q \, |Q|}{\left(A_{rel} \, A\right)^2})]]>
        </object>
        mit <object class="inlineeqn">0 \leq A_{rel} \leq 1</object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RelativeAreaZetaClosablePressureLossType">
    <xs:complexContent>
      <xs:extension base="ClosablePressureLossType">
        <xs:sequence>
          <xs:element name="zeta" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Druckverlustzahl <object class="inlineeqn">\zeta</object>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RelativeAlphaClosablePressureLoss" substitutionGroup="ClosablePressureLoss" type="RelativeAlphaClosablePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Berechnung des Druckverlustes durch eine Veränderung des Verlustkoeffizienten
        <object class="eqn">
          <![CDATA[p_V=\frac{\rho}{2} \, \left( \frac{1}{\left(\alpha_{rel} \, \alpha \right)^2} -1\right) \, \frac{Q \, |Q|}{A^2}]]>
        </object>
        mit <object class="inlineeqn">0 \leq \alpha_{rel} \leq 1</object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RelativeAlphaClosablePressureLossType">
    <xs:complexContent>
      <xs:extension base="ClosablePressureLossType">
        <xs:sequence>
          <xs:element name="alpha" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Druckverlustzahl <object class="inlineeqn">\alpha</object>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="CheckvalveClosablePressureLoss" abstract="true" substitutionGroup="ClosablePressureLoss" type="CheckvalveClosablePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Abstrakte Klasse zur Berechnung des Druckverlustes in Rückschlagventilen.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CheckvalveClosablePressureLossType">
    <xs:complexContent>
      <xs:extension base="ClosablePressureLossType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="BallCheckvalveClosablePressureLoss" abstract="true" substitutionGroup="CheckvalveClosablePressureLoss" type="BallCheckvalveClosablePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Abstrakte Klasse zur Berechnung des Druckverlustes in Rückschlagventilen mit Kugelgeometrie.
        Falls nicht anders angegeben, wird die Kraft auf die Ventilkugel gemäß
        <object class="eqn">
          <![CDATA[F_{Ball}=A_{Line} \, \Delta p ]]>
        </object>
        berechnet.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="BallCheckvalveClosablePressureLossType">
    <xs:complexContent>
      <xs:extension base="CheckvalveClosablePressureLossType">
        <xs:sequence>
          <xs:element name="ballRadius" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Radius des Ventilkugel <object class="inlineeqn">r_{Ball}</object>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="GammaCheckvalveClosablePressureLoss" substitutionGroup="BallCheckvalveClosablePressureLoss" type="GammaCheckvalveClosablePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Berechnung des Druckverlustes in Rückschlagventilen mit Kugelgeometrie und einem Einlaufwinkel <object class="inlineeqn">\gamma</object>.
        Die Kraft auf die Ventilkugel wird gemäß
        <object class="eqn">
          <![CDATA[F_{Ball}=\left( \pi \, r_{Ball} \, \sin^2 \gamma \right) \Delta p  ]]>
        </object>
        berechnet.<br/>
        Der Druckverlust berechnet sich in Abhängigkeit der Ventilöffungshöhe <object class="inlineeqn">x</object> zu
        <object class="eqn">
          <![CDATA[p_V=\frac{\rho}{2} \, \frac{|Q| \, Q}{\alpha^2} \, \frac{1}{\left( 2 \, \pi \, r_{Ball} \, x \, \frac{\sin \gamma}{\cos \gamma} + \pi \, x^2 \, \frac{\sin \gamma }{\cos^2 \gamma} \right)^2} ]]>
        </object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GammaCheckvalveClosablePressureLossType">
    <xs:complexContent>
      <xs:extension base="BallCheckvalveClosablePressureLossType">
        <xs:sequence>
          <xs:element name="alpha" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Verlustkoeffizienten <object class="inlineeqn">\alpha</object> des Ventils
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="gamma" type="pv:angleScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Einlaufwinkel <object class="inlineeqn">\gamma</object>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="IdelchickCheckvalveClosablePressreLoss" substitutionGroup="BallCheckvalveClosablePressureLoss" type="IdelchickCheckvalveClosablePressreLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Berechnung des Druckverlustes in Rückschlagventilen  nach <i>Idelchick, Diagramm 9.26</i>
        Der Druckverlust berechnet sich in Abhängigkeit der Ventilöffungshöhe <object class="inlineeqn">x</object> zu
        <object class="eqn">
          <![CDATA[p_V=\frac{\rho}{2} \, \left( 2.7 - \beta_2 + \beta_3\right)\, \frac{|Q| \, Q}{A^2} ]]>
        </object>
        mit
        <object class="eqn">
          <![CDATA[\beta_2=\frac{0.8}{\frac{x}{D_0}} ]]>
        </object>
        <object class="eqn">
          <![CDATA[\beta_3=\frac{0.14}{\left(\frac{x}{D_0}\right)^2} ]]>
        </object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="IdelchickCheckvalveClosablePressreLossType">
    <xs:complexContent>
      <xs:extension base="BallCheckvalveClosablePressureLossType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ConeCheckvalveClosablePressureLoss" substitutionGroup="BallCheckvalveClosablePressureLoss" type="ConeCheckvalveClosablePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Berechnung des Druckverlustes in Rückschlagventilen  mit konischer Geometrie.
        Der Druckverlust berechnet sich in Abhängigkeit der Ventilöffungshöhe <object class="inlineeqn">x</object> zu
        <object class="eqn">
          <![CDATA[p_V=\frac{\rho}{2} \, \frac{1}{\alpha^2} \,  \frac{r_{Ball}^2 + 2 \, \sqrt{r_{Ball}^2 - x^2} \, x + x^2 }                 {\left[ 4 \, \left( r_{Ball}^2 - x^2\right) + 4 \, \sqrt{r_{Ball}^2 - x^2 } \, x + x^2 \right] \, \left(\pi \, x^2 \right)^2}   |Q| \, Q ]]>
        </object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ConeCheckvalveClosablePressureLossType">
    <xs:complexContent>
      <xs:extension base="BallCheckvalveClosablePressureLossType">
        <xs:sequence>
          <xs:element name="alpha" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Verlustkoeffizienten <object class="inlineeqn">\alpha</object> des Ventils
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="LeakagePressureLoss" substitutionGroup="PressureLoss" abstract="true" type="LeakagePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Abstrakte Klasse zur Berechnung von Druckverlusten in Leckagespalten.
        In Abhängigkeit von der Modellerierung des zugehörigen Leitungsmodells wird entweder die Flussgleichung oder die Druckverlustgleichung ausgewertet.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LeakagePressureLossType">
    <xs:complexContent>
      <xs:extension base="PressureLossType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="PlaneLeakagePressureLoss" substitutionGroup="LeakagePressureLoss" type="PlaneLeakagePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Modell eines ebenen Leckagespaltes.
        Der Druckverlust berechnet sich zu
        <object class="eqn">p_V = \frac{12 \, \eta \, |l|}{b \, h^3} \left[ Q + \frac{h \, b}{2} \, \left(v_1 + v_2\right) \right]</object>
        Die Länge des Leckagespaltes wird dabei entweder konstant gehalten oder an die Länge des gapLength-Signals angepasst. Die Geschwindigkeiten v1 und v2 entsprechen den Geschwindigkeiten der beiden anderen Signaleingänge. Dieser Summand wird nur berücksichtigt, falls die Signaleingänge gesetzt sind.
        Als Geschwindigkeit muss die Geschwindigkeit der Grenzflächen in Richtung der Länge l angegeben werden.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PlaneLeakagePressureLossType">
    <xs:complexContent>
      <xs:extension base="LeakagePressureLossType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="CircularLeakagePressureLoss" abstract="true" substitutionGroup="LeakagePressureLoss" type="CircularLeakagePressureLossType">
  </xs:element>
  <xs:complexType name="CircularLeakagePressureLossType">
    <xs:complexContent>
      <xs:extension base="LeakagePressureLossType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="EccentricCircularLeakagePressureLoss" substitutionGroup="CircularLeakagePressureLoss" type="EccentricCircularLeakagePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Strömung durch einen kreisförmigen Leckagespalt.
        Der Druckverlust berechnet sich zu
        <object class="eqn">p_V = \frac{|l|}{\alpha \, A} \, Q - \frac{|l|}{2 \, \alpha} \, \left(\dot x_i + \dot x_a \right)</object>
        mit 
        <object class="eqn">\alpha = \frac{A \, h^2}{12 \, \nu} \, \left( 1 + 1.5 \, \epsilon \right)</object>
        Die Länge des Leckagespaltes wird dabei entweder konstant gehalten oder an die Länge des gapLength-Signals angepasst. Die Geschwindigkeiten v1 und v2 entsprechen den Geschwindigkeiten der beiden anderen Signaleingänge. Dieser Summand wird nur berücksichtigt, falls die Signaleingänge gesetzt sind.
        Als Geschwindigkeit muss die Geschwindigkeit der Grenzflächen in Richtung der Länge l angegeben werden.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="EccentricCircularLeakagePressureLossType">
    <xs:complexContent>
      <xs:extension base="CircularLeakagePressureLossType">
        <xs:sequence>
          <xs:element name="eccentricity" type="pv:nounitScalar">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RealCircularLeakagePressureLoss" substitutionGroup="CircularLeakagePressureLoss" type="RealCircularLeakagePressureLossType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RealCircularLeakagePressureLossType">
    <xs:complexContent>
      <xs:extension base="CircularLeakagePressureLossType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="HLine" abstract="true" substitutionGroup="mbsim:Object" type="HLineType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        <object class="figure" standby="4cm" data="hline" title="Orientierung und Referenzierung eines hydraulischen Leitungsobjekts"></object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="HLineType">
    <xs:complexContent>
      <xs:extension base="mbsim:ObjectType">
        <xs:sequence>
          <xs:element name="direction" type="pv:nounitVector">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RigidHLine" abstract="true" substitutionGroup="HLine" type="RigidHLineType">
  </xs:element>
  <xs:complexType name="RigidHLineType">
    <xs:complexContent>
      <xs:extension base="HLineType">
        <xs:sequence>
          <xs:element name="length" type="pv:lengthScalar">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RigidLine" substitutionGroup="RigidHLine" type="RigidLineType">
  </xs:element>
  <xs:complexType name="RigidLineType">
    <xs:complexContent>
      <xs:extension base="RigidHLineType">
        <xs:sequence>
          <xs:element name="diameter" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="linePressureLoss">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="LinePressureLoss">
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ClosableRigidLine" substitutionGroup="RigidLine" type="ClosableRigidLineType">
  </xs:element>
  <xs:complexType name="ClosableRigidLineType">
    <xs:complexContent>
      <xs:extension base="RigidLineType">
        <xs:sequence>
          <xs:element name="closablePressureLoss">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ClosablePressureLoss"/>
                <xs:element name="checksizeSignal">
                  <xs:complexType>
                    <xs:attribute name="ref" type="mbsimcontrol:SignalReferenceType" use="required"/>
                  </xs:complexType>
                </xs:element>
                <xs:element name="minimalChecksizeValue" type="pv:nounitScalar">
                </xs:element>
                <xs:element name="setValued" minOccurs="0">
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="LeakageLine" substitutionGroup="RigidHLine" type="LeakageLineType">
  </xs:element>
  <xs:complexType name="LeakageLineType">
    <xs:complexContent>
      <xs:extension base="RigidHLineType">
        <xs:sequence>
          <xs:element name="firstSurfaceVelocity" minOccurs="0">
            <xs:complexType>
              <xs:attribute name="ref" type="mbsimcontrol:SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="secondSurfaceVelocity" minOccurs="0">
            <xs:complexType>
              <xs:attribute name="ref" type="mbsimcontrol:SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="gapLength" minOccurs="0">
            <xs:complexType>
              <xs:attribute name="ref" type="mbsimcontrol:SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="PlaneLeakageLine" substitutionGroup="LeakageLine" type="PlaneLeakageLineType">
  </xs:element>
  <xs:complexType name="PlaneLeakageLineType">
    <xs:complexContent>
      <xs:extension base="LeakageLineType">
        <xs:sequence>
          <xs:element name="width" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="height" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="planeLeakagePressureLoss">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="PlaneLeakagePressureLoss"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="CircularLeakageLine" substitutionGroup="LeakageLine" type="CircularLeakageLineType">
  </xs:element>
  <xs:complexType name="CircularLeakageLineType">
    <xs:complexContent>
      <xs:extension base="LeakageLineType">
        <xs:sequence>
          <xs:element name="innerRadius" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="height" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="circularLeakagePressureLoss">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CircularLeakagePressureLoss"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="DimensionlessLine" substitutionGroup="HLine" type="DimensionlessLineType">
  </xs:element>
  <xs:complexType name="DimensionlessLineType">
    <xs:complexContent>
      <xs:extension base="HLineType">
        <xs:sequence>
          <xs:element name="length" type="pv:lengthScalar">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Leakage0DOF" substitutionGroup="DimensionlessLine" type="Leakage0DOFType">
  </xs:element>
  <xs:complexType name="Leakage0DOFType">
    <xs:complexContent>
      <xs:extension base="DimensionlessLineType">
        <xs:sequence>
          <xs:element name="firstSurfaceVelocity" minOccurs="0">
            <xs:complexType>
              <xs:attribute name="ref" type="mbsimcontrol:SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="secondSurfaceVelocity" minOccurs="0">
            <xs:complexType>
              <xs:attribute name="ref" type="mbsimcontrol:SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="gapLength" minOccurs="0">
            <xs:complexType>
              <xs:attribute name="ref" type="mbsimcontrol:SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="PlaneLeakage0DOF" substitutionGroup="Leakage0DOF" type="PlaneLeakage0DOFType">
  </xs:element>
  <xs:complexType name="PlaneLeakage0DOFType">
    <xs:complexContent>
      <xs:extension base="Leakage0DOFType">
        <xs:sequence>
          <xs:element name="width" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="height" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="planeLeakagePressureLoss">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="PlaneLeakagePressureLoss"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="CircularLeakage0DOF" substitutionGroup="Leakage0DOF" type="CircularLeakage0DOFType">
  </xs:element>
  <xs:complexType name="CircularLeakage0DOFType">
    <xs:complexContent>
      <xs:extension base="Leakage0DOFType">
        <xs:sequence>
          <xs:element name="innerRadius" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="height" type="pv:lengthScalar">
          </xs:element>
          <xs:element name="circularLeakagePressureLoss">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CircularLeakagePressureLoss"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="HNode" abstract="true" substitutionGroup="mbsim:Link" type="HNodeType"/>
  <xs:complexType name="HNodeType">
    <xs:complexContent>
      <xs:extension base="mbsim:LinkType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="inflow">
              <xs:complexType>
                <xs:attribute name="ref" type="HLineReferenceType" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="outflow">
              <xs:complexType>
                <xs:attribute name="ref" type="HLineReferenceType" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:element name="enableOpenMBVSphere" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Visualisierung der Knotendrücke in OpenMBV durch Druckknoten
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="size" type="pv:lengthScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Größe des Druckknotens
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="minimalPressure" type="pv:pressureScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      minimaler Druckwert für die Farbgebung des Knotens (entspricht blau)
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="maximalPressure" type="pv:pressureScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      maximaler Druckwert für die Farbgebung des Knotens (entspricht rot)
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="position" type="pv:lengthVector" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Position des Druckknotens.<br/>
                      Bei der Verwendung von hydraulisch-mechanischen Grenzflächen wird dieser Wert nicht berücksichtigt. Stattdessen wird die Kugelposition dynamisch als Mittelwert der Positionen der angeschlossenen Koordinatensysteme berechnet.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ConstrainedNode" substitutionGroup="HNode" type="ConstrainedNodeType">
  </xs:element>
  <xs:complexType name="ConstrainedNodeType">
    <xs:complexContent>
      <xs:extension base="HNodeType">
        <xs:sequence>
          <xs:element name="function">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="mbsim:Function1_SS">
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="EnvironmentNode" substitutionGroup="HNode" type="EnvironmentNodeType">
  </xs:element>
  <xs:complexType name="EnvironmentNodeType">
    <xs:complexContent>
      <xs:extension base="HNodeType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ElasticNode" substitutionGroup="HNode" type="ElasticNodeType">
  </xs:element>
  <xs:complexType name="ElasticNodeType">
    <xs:complexContent>
      <xs:extension base="HNodeType">
        <xs:sequence>
          <xs:element name="volume" type="pv:volumeScalar">
          </xs:element>
          <xs:element name="initialPressure" type="pv:pressureScalar">
          </xs:element>
          <xs:element name="fracAir" type="pv:nounitScalar">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RigidNode" substitutionGroup="HNode" type="RigidNodeType">
  </xs:element>
  <xs:complexType name="RigidNodeType">
    <xs:complexContent>
      <xs:extension base="HNodeType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="HNodeMec" abstract="true" substitutionGroup="HNode" type="HNodeMecType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Die Druckkraft des Knotens wirkt immer in die Richtung der angegebenen Normalen.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="HNodeMecType">
    <xs:complexContent>
      <xs:extension base="HNodeType">
        <xs:sequence>
          <xs:element name="initialVolume" type="pv:volumeScalar">
          </xs:element>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="translatorialBoundarySourface">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="frameOfReference">
                    <xs:complexType>
                      <xs:attribute name="ref" type="mbsim:FrameReferenceType" use="required"/>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="normal" type="pv:nounitVector">
                  </xs:element>
                  <xs:element name="area" type="pv:areaScalar">
                  </xs:element>
                  <xs:element name="noVolumeChange" minOccurs="0">
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="rotatorialBoundarySourface">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="frameOfReference">
                    <xs:complexType>
                      <xs:attribute name="ref" type="mbsim:FrameReferenceType" use="required"/>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="normal" type="pv:nounitVector">
                  </xs:element>
                  <xs:element name="area" type="pv:areaScalar">
                  </xs:element>
                  <xs:element name="frameOfRotationCenter">
                    <xs:complexType>
                      <xs:attribute name="ref" type="mbsim:FrameReferenceType" use="required"/>
                    </xs:complexType> 
                  </xs:element>
                  <xs:element name="noVolumeChange" minOccurs="0">
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:element name="enableOpenMBVArrows" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="size" type="pv:nounitScalar">
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ConstrainedNodeMec" substitutionGroup="HNodeMec" type="ConstrainedNodeMecType">
  </xs:element>
  <xs:complexType name="ConstrainedNodeMecType">
    <xs:complexContent>
      <xs:extension base="HNodeMecType">
        <xs:sequence>
          <xs:element name="function">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="mbsim:Function1_SS">
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="EnvironmentNodeMec" substitutionGroup="HNodeMec" type="EnvironmentNodeMecType">
  </xs:element>
  <xs:complexType name="EnvironmentNodeMecType">
    <xs:complexContent>
      <xs:extension base="HNodeMecType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ElasticNodeMec" substitutionGroup="HNodeMec" type="ElasticNodeMecType">
  </xs:element>
  <xs:complexType name="ElasticNodeMecType">
    <xs:complexContent>
      <xs:extension base="HNodeMecType">
        <xs:sequence>
          <xs:element name="initialPressure" type="pv:pressureScalar">
          </xs:element>
          <xs:element name="fracAir" type="pv:nounitScalar">
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="RigidNodeMec" substitutionGroup="HNodeMec" type="RigidNodeMecType">
  </xs:element>
  <xs:complexType name="RigidNodeMecType">
    <xs:complexContent>
      <xs:extension base="HNodeMecType"/>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="Controlvalve43" substitutionGroup="mbsim:EmptyGroup" type="Controlvalve43Type">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        <object class="figure" standby="4cm" data="controlvalve43" title="Elemente eines 4/3-Wegeventils"></object>
        4/3-Wege Steuerventil. 
        Die Berechnung des Druckverlustes der einzelnen Leitungen erfolgt dabei gemäß <i>RelativeAlphaClosablePressureLoss</i>.
        Die relativen Durchflusskoeffizienten der einzelnen Steuerkanten werden entsprechend
        <object class="eqn">
          <![CDATA[ \alpha_{rel, PA} = f \left( x \right)]]>
        </object>
        <object class="eqn">
          <![CDATA[ \alpha_{rel, PB} = f \left( -x+1 \right)]]>
        </object>
        <object class="eqn">
          <![CDATA[ \alpha_{rel, AT} = f \left( -x + 1 + x_{offset}\right)]]>
        </object>
        <object class="eqn">
          <![CDATA[ \alpha_{rel, BT} = f \left( x + x_{offset} \right)]]>
        </object>
        berechnet, wobei für 
        <object class="eqn">
          <![CDATA[ 0 \leq \alpha_{rel, x} \leq 1 ]]>
        </object>
        gilt.<br/>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Controlvalve43Type">
    <xs:complexContent>
      <xs:extension base="mbsim:EmptyGroupType">
        <xs:sequence>
          <xs:element name="length" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Länge der Ventilblende
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="diameter" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Durchmesser der Ventilblende
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="alpha" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Durchflusskoeffiziente der Ventilblende
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="relativeAlphaPA">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Funktion des relativen Durchflusskoeffizienten durch die Ventilblende in Abhängigkeit des angelegten Steuersignals.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="mbsim:Function1_SS">
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="minimalRelativeAlpha" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                minimaler Wert
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="bilateralConstrained" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Wenn gesetzt, wird der Fluss über die Steuerkante des Ventils bei einem relativen alpha-Wert unter der gesetzten Schranke durch eine Nebenbedingung gesperrt. (nur Time-Stepping Integratoren)
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="offset" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Versatz der relativen Ventilöffnungsfläche der Rückflüsse AT und BT
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="relativePosition">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Signal zur Steuerung der relativen Ventilöffnungsfläche
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="mbsimcontrol:SignalReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="inflowP">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Zuleitung
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="HLineReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="outflowA">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Ableitung A
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="HLineReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="outflowB">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Ableitung B
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="HLineReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="outflowT">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Rückfluss
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="HLineReferenceType" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Checkvalve" abstract="true" substitutionGroup="mbsim:EmptyGroup" type="CheckvalveType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Abstrakte Klasse eines Rückschlagventils
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CheckvalveType">
    <xs:complexContent>
      <xs:extension base="mbsim:EmptyGroupType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="BallCheckvalve" substitutionGroup="Checkvalve" type="BallCheckvalveType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
        Modell eines Rückschlagventils mit Berücksichtigung der Trägheit der Ventilkugel.<br/>
        Die an die Blende angeschlossenen hydraulischen Knoten müssen vom Typ <tt>HNodeMec</tt> sein, da ihnen automatisch hydraulisch-mechanische Grenzflächen zur Berechnung der Kräfte auf die Ventilkugel zugewiesen werden. Die Fläche der Grenzfläche ist dabei abhängig vom gewählten Druckverlustmodell der Blende.
        <object class="figure" standby="4cm" data="ball_checkvalve" title="Rückschlagventil"></object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="BallCheckvalveType">
    <xs:complexContent>
      <xs:extension base="CheckvalveType">
        <xs:sequence>
          <xs:element name="basisFrame">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Koordinatensystem, in dem das Rückschlagventil berechnet wird.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="mbsim:FrameReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
          <xs:element name="RigidLine">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Daten der Blende
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="length" type="pv:lengthScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Länge der Blende
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="diameter" type="pv:lengthScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Durchmesser der Blende
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="checkvalvePressureLoss">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="CheckvalveClosablePressureLoss">
                        <xs:annotation>
                          <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                            Druckverlust des Rückschlagventils.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="minimalXOpen" type="pv:lengthScalar">
                        <xs:annotation>
                          <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                            Numerische Schranke für die minimale Öffnungshöhe des Kugelventils.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="setValued" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                            Berechnung des Rückschlagventils mit einem Eckengesetz.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Ball">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Daten der Ventilkugel
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="mass" type="pv:massScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Masse der Ventilkugel. <br/>
                      Die Massenträgheit der Ventilkugel wird gemäß  <object class="inlineeqn">\Theta_{Ball}=\frac{2}{5} \, m_{Ball} \, r_{Ball}^2</object>. berechnet.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="initialPosition" type="pv:lengthScalar" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Inertiale Öffnungshöhe des Rückschlagventils.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Spring">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Ventilfeder
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="forceFunction">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Kraftgesetz der Feder. Die Einbaulänge der Feder entspricht der maximalen Ventilöffnungshöhe.
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="mbsim:Function2_SSS"/>
                    </xs:sequence>
                  </xs:complexType> 
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SeatContact">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Modellierung des Kontaktes zwischen Kugel und Ventilsitz.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="contactForceLaw">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Kraftgesetz
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="mbsim:GeneralizedForceLaw"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="contactImpactLaw">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Kraftgesetz zur Lösung der Nebenbedingungen auf Impulsebene.
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="mbsim:GeneralizedImpactLaw" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence> 
            </xs:complexType>
          </xs:element>
          <xs:element name="maximalOpening" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Maximale Öffnungshöhe der Ventilkugel
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MaximalOpeningContact">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="contactForceLaw">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Kraftgesetz
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="mbsim:GeneralizedForceLaw"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="contactImpactLaw">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                      Kraftgesetz zur Lösung der Nebenbedingungen auf Impulsebene.
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="mbsim:GeneralizedImpactLaw" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence> 
            </xs:complexType>
          </xs:element>
          <xs:element name="enableOpenMBVBodies" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Visualisierung der Körper des Rückschlagventils
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="enableOpenMBVFrames" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Visualisierung der internen Koordinatensyteme des Rückschlagventils
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="enableOpenMBVArrows" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
                Visualisierung der Kräfte des Rückschlagventils
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
