modules/mbsimFlexibleBody/schema/mbsimflexiblebody.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.mbsim-env.de/MBSimFlexibleBody"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns="http://www.mbsim-env.de/MBSimFlexibleBody"
  xmlns:mbsim="http://www.mbsim-env.de/MBSim"
  xmlns:pv="http://www.mbsim-env.de/MBXMLUtils"
  xmlns:ombv="http://www.mbsim-env.de/OpenMBV"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://www.mbsim-env.de/MBXMLUtils"
    schemaLocation="../http___www_mbsim-env_de_MBXMLUtils/physicalvariable.xsd"/>

  <xs:import namespace="http://www.mbsim-env.de/OpenMBV"
    schemaLocation="../http___www_mbsim-env_de_OpenMBV/openmbv.xsd"/>

  <xs:import namespace="http://www.mbsim-env.de/MBSim"
    schemaLocation="../http___www_mbsim-env_de_MBSim/mbsim.xsd"/>

  
  <xs:annotation>
    <xs:documentation xml:lang="de" xmlns="">
      MBSIMFlexibleBody ist ein Modul mit elastischen Elementen.<br/>
      Hierzu zählen Wellen, Achsen und Platten. Zur Zeit sind 2 Elemente mittels dem XML Interface verwendbar: <br/>
      - FlexibleBody1s23BTA, eine Biege-Torsions-Welle <br/>
      - FlexibleBody1s33RCM <br/>
      Der Unterschied liegt in der Anzahl der Freiheitsgrade. Das Elemente FlexibleBody1s23BTA hat in Achsrichtung keinen Freiheitsgrad, wogegen das Element FlexibleBody1s33RCM über alle im Raum möglichen Freiheitsgrade verfügt. Beide Elemente symbolisieren ein in eine Richtung erstrecktes Kontinuum, wie z.B. eine Welle oder Achse. 
    </xs:documentation>
  </xs:annotation>

  <xs:element name="FlexibleBody" substitutionGroup="mbsim:Body" abstract="true" type="FlexibleBodyType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        TODO
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FlexibleBodyType">
    <xs:complexContent>
      <xs:extension base="mbsim:BodyType">
        <xs:sequence>
          <xs:element name="massProportionalDamping" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Koeffizient der massenproportionalen Dämpfung.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="frameOnFlexibleBody1s" type="frameOnFlexibleBody1sType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Lokale Gruppe eines Koordinatensystems.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="frameOnFlexibleBody1sType">
    <xs:sequence>
      <xs:element ref="mbsim:Frame"/>
      <xs:element name="position" type="pv:lengthScalar">
        <xs:annotation>
          <xs:documentation xml:lang="de" xmlns="">
            Lage des körperfesten Koordinatensystems, angegeben durch 1 Längenangebe. Diese definiert eindeutig die Lage auf dem in 1 Dimension erstreckten Körper.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="FlexibleBody1s23BTA" substitutionGroup="FlexibleBody" type="FlexibleBody1s23BTAType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Definition des flexiblen 1-dimensional erstreckten Körpers FlexibleBody1s23BTA.        
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FlexibleBody1s23BTAType">
    <xs:complexContent>
      <xs:extension base="FlexibleBodyType">
        <xs:sequence>
          <xs:element name="frames">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Kontainer für lokale Koordinatensysteme dieses Körpers.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="frameOnFlexibleBody1s"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="numberOfElements" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Anzahl der Basiselemente des flexible Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="length" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Länge des flexiben Körpers
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="youngsModulus" type="pv:bulkModulusScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                E-Modul
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="shearModulus" type="pv:bulkModulusScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Schubmodul
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="density" type="pv:densityScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Dichte des flexiblen Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="crossSectionArea" type="pv:areaScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Querschnittsfläche des flexiblen Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="momentOfInertia" type="pv:inertiaVector">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Angabe der Trägheitsheitsmoment. Der Vektor setzt sich aus (IB, IB, 2*IB) zusammen.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="radiusOfContour" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Radius der äußeren Kontur (Kreisquerschnitt) des flexiblen Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="torsionalDamping" type="pv:dampingScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Koeffizient der Torsionsdämpfung.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="openMBVBody" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Aktiviert die Visualisierung dieses Körpers in OpenMBV durch den unten angegebenen OpenMBV Körper.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ombv:SpineExtrusion"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="FlexibleBody1s33RCMCantilever" substitutionGroup="FlexibleBody" type="FlexibleBody1s33RCMType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Definition des flexiblen 1-dimensional erstreckten Körpers FlexibleBody1s33RCM als Kragbalken.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="FlexibleBody1s33RCMRing" substitutionGroup="FlexibleBody" type="FlexibleBody1s33RCMType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Definition des flexiblen 1-dimensional erstreckten Körpers FlexibleBody1s33RCM als Ring.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="FlexibleBody1s33RCMType">
    <xs:complexContent>
      <xs:extension base="FlexibleBodyType">
        <xs:sequence>
          <xs:element name="frames">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Kontainer für lokale Koordinatensysteme dieses Körpers.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="frameOnFlexibleBody1s"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="numberOfElements" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Anzahl der Basiselemente des flexible Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="length" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Länge des flexiben Körpers
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="youngsModulus" type="pv:bulkModulusScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                E-Modul
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="shearModulus" type="pv:bulkModulusScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Schubmodul
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="density" type="pv:densityScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Materialdichte.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="crossSectionArea" type="pv:areaScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Querschnittsfläche des flexiblen Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="momentOfInertia" type="pv:inertiaVector">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Vector of the moments of momentOfInertia.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="radiusOfContourCylinder" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Radius des Kontur-Zylinders
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="dampingOfMaterial">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Werte der Materialdämpfung
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="prolongational" type="pv:dampingScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="">
                      Dämpfung in Verlängerungsrichtung<object class="inlineeqn">\vartheta_{\varepsilon}</object>
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="torsional" type="pv:dampingScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="">
                      Dämpfung in Torsionsrichtung<object class="inlineeqn">\vartheta_{\kappa_0}</object>
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="openMBVBody" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Aktiviert die Visualisierung dieses Körpers in OpenMBV durch den unten angegebenen OpenMBV Körper.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ombv:SpineExtrusion"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="FixedNodalFrame" substitutionGroup="mbsim:Frame" type="FixedNodalFrameType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
        Klasse zur Beschreibung von Koordinatensystemen.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="FixedNodalFrameType">
    <xs:complexContent>
      <xs:extension base="mbsim:FrameType">
        <xs:sequence>
          <xs:element name="relativePosition" type="pv:lengthVector" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Relative Lage des Koordinatensystems.<br/>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="relativeOrientation" type="pv:rotationMatrix" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Relative Orientierung des Koordinatensystems.<br/>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="shapeMatrixOfTranslation" type="pv:nounitMatrix">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="shapeMatrixOfRotation" type="pv:nounitMatrix" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="stressMatrix" type="pv:nounitMatrix" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="nonlinearStressMatrix" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ele" type="pv:nounitMatrix" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="initialStress" type="pv:pressureVector" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="geometricStiffnessMatrixDueToForce" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ele" type="pv:nounitMatrix" minOccurs="3" maxOccurs="3"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="geometricStiffnessMatrixDueToMoment" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ele" type="pv:nounitMatrix" minOccurs="3" maxOccurs="3"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="FlexibleBodyFFR" substitutionGroup="mbsim:Body" type="FlexibleBodyFFRType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Definiert einen elatsichen Körper mit einer Frame Of Reference Formulierung.<br/>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FlexibleBodyFFRType">
    <xs:complexContent>
      <xs:extension base="mbsim:BodyType">
        <xs:sequence>
          <xs:element name="mass" type="pv:massScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Masse des Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="positionIntegral" type="pv:nounitVector">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="positionPositionIntegral" type="pv:inertiaMatrix">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="shapeFunctionIntegral" type="pv:nounitMatrix">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="positionShapeFunctionIntegral">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ele" type="pv:nounitMatrix" minOccurs="3" maxOccurs="3"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="shapeFunctionShapeFunctionIntegral">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="row" minOccurs="3" maxOccurs="3">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="ele" type="pv:nounitMatrix" minOccurs="3" maxOccurs="3"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="stiffnessMatrix" type="pv:nounitMatrix">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="dampingMatrix" type="pv:nounitMatrix" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="proportionalDamping" type="pv:nounitVector" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="nonlinearStiffnessMatrixOfFirstOrder" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ele" type="pv:nounitMatrix" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="nonlinearStiffnessMatrixOfSecondOrder" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="row" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="ele" type="pv:nounitMatrix" maxOccurs="unbounded"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="initialStressIntegral" type="pv:nounitVector" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="nonlinearInitialStressIntegral" type="pv:nounitMatrix" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="geometricStiffnessMatrixDueToAcceleration" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ele" type="pv:nounitMatrix" minOccurs="3" maxOccurs="3"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="geometricStiffnessMatrixDueToAngularAcceleration" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ele" type="pv:nounitMatrix" minOccurs="3" maxOccurs="3"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="geometricStiffnessMatrixDueToAngularVelocity" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                tbd
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ele" type="pv:nounitMatrix" minOccurs="3" maxOccurs="3"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:choice minOccurs="0">
            <xs:element name="generalTranslation">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Gibt die Vorschrift zur Berechnung des Translationsvektors
                  <object class="inlineeqn">\boldsymbol{r}_q=f(\boldsymbol{q},t)</object> in Abhängigkeit der
                  generalisierten Lagen und der Zeit an.<br/>
                  Der Translationsvektor <object class="inlineeqn">\boldsymbol{r}_q</object> ist
                  im KOS <code>frameOfReference</code> dargestellt und stellt die
                  Relativverschiebung zwischen dem KOS <code>frameOfReference</code> und dem KOS <code>frameForKinematics</code> dar.
                  <p>Wird <code>Translation</code> nicht angegeben, so besitzt der Körper keine translatorischen Freiheitsgrade.</p>
              </xs:documentation></xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="mbsim:Function"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="timeDependentTranslation">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Gibt die Vorschrift zur Berechnung des Translationsvektors
                  <object class="inlineeqn">\boldsymbol{r}_q=f(t)</object> in Abhängigkeit der
                  generalisierten Lagen und der Zeit an.<br/>
                  Der Translationsvektor <object class="inlineeqn">\boldsymbol{r}_q</object> ist
                  im KOS <code>frameOfReference</code> dargestellt und stellt die
                  Relativverschiebung zwischen dem KOS <code>frameOfReference</code> und dem KOS <code>frameForKinematics</code> dar.
                  <p>Wird <code>Translation</code> nicht angegeben, so besitzt der Körper keine translatorischen Freiheitsgrade.</p>
              </xs:documentation></xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="mbsim:Function"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="stateDependentTranslation">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Gibt die Vorschrift zur Berechnung des Translationsvektors
                  <object class="inlineeqn">\boldsymbol{r}_q=f(\boldsymbol{q})</object> in Abhängigkeit der
                  generalisierten Lagen und der Zeit an.<br/>
                  Der Translationsvektor <object class="inlineeqn">\boldsymbol{r}_q</object> ist
                  im KOS <code>frameOfReference</code> dargestellt und stellt die
                  Relativverschiebung zwischen dem KOS <code>frameOfReference</code> und dem KOS <code>frameForKinematics</code> dar.
                  <p>Wird <code>Translation</code> nicht angegeben, so besitzt der Körper keine translatorischen Freiheitsgrade.</p>
              </xs:documentation></xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="mbsim:Function"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:choice minOccurs="0">
            <xs:element name="generalRotation">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Gibt die Vorschrift zur Berechnung der Transformationsmatrix
                  <object class="inlineeqn">\boldsymbol{A}_q=f(\boldsymbol{q},t)</object> in Abhängigkeit der
                  generalisierten Lagen und der Zeit an.<br/>
                  Die Transformationsmatrix <object class="inlineeqn">\boldsymbol{A}_q</object> stellt dabei die
                  Transformation vom KOS <code>frameForKinematics</code> in das KOS <code>frameOfReference</code> dar.
                  <p>Wird <code>Rotation</code> nicht angegeben, so besitzt der Körper keine rotatorischen Freiheitsgrade.</p>
              </xs:documentation></xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="mbsim:Function"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="timeDependentRotation">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Gibt die Vorschrift zur Berechnung der Transformationsmatrix
                  <object class="inlineeqn">\boldsymbol{A}_q=f(t)</object> in Abhängigkeit der
                  generalisierten Lagen und der Zeit an.<br/>
                  Die Transformationsmatrix <object class="inlineeqn">\boldsymbol{A}_q</object> stellt dabei die
                  Transformation vom KOS <code>frameForKinematics</code> in das KOS <code>frameOfReference</code> dar.
                  <p>Wird <code>Rotation</code> nicht angegeben, so besitzt der Körper keine rotatorischen Freiheitsgrade.</p>
              </xs:documentation></xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="mbsim:Function"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="stateDependentRotation">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Gibt die Vorschrift zur Berechnung der Transformationsmatrix
                  <object class="inlineeqn">\boldsymbol{A}_q=f(\boldsymbol{q})</object> in Abhängigkeit der
                  generalisierten Lagen und der Zeit an.<br/>
                  Die Transformationsmatrix <object class="inlineeqn">\boldsymbol{A}_q</object> stellt dabei die
                  Transformation vom KOS <code>frameForKinematics</code> in das KOS <code>frameOfReference</code> dar.
                  <p>Wird <code>Rotation</code> nicht angegeben, so besitzt der Körper keine rotatorischen Freiheitsgrade.</p>
              </xs:documentation></xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="mbsim:Function"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:element name="translationDependentRotation" minOccurs="0" type="pv:booleanFullEval">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Definiert, ob die Rotation von der Translation abhängt. In diesem Fall werden für Translation und Rotation dieselben Koordinaten verwendet.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="coordinateTransformationForRotation" minOccurs="0" type="pv:booleanFullEval">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Definiert, ob für für die Beschreibung der Rotation eine Koordinatentransformation durchgeführt werden soll (standardmäßig an). Mit Koordinatentransformation werden für die generalisierten Koordinaten der Rotation kartesische Winkelgeschwindigkeiten verwendet. Ohne Koordinatentransformation werden die Ableitungen der Winkelkoordinaten verwendet.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="frames">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Kontainer für lokale Koordinatensysteme dieses Körpers.<br/>
                Da es sich um einen Starrkörper
                handelt, ist die relative Lage dieser KOS untereinander (und auch zum KOS "C") während
                der gesamten Simulation konstant.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="FixedNodalFrame"/>
                  <xs:element ref="pv:Embed"/>
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="contours">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Kontainer für lokale Kontaktkonturen dieses Körpers.<br/>
                Da es sich um einen Starrkörper handelt, ist die relative Lage dieser Kontaktkonturen
                untereinander (und auch zum KOS "C") während der gesamten Simulation konstant.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="mbsim:Contour"/>
                <xs:element ref="pv:Embed"/>
              </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:sequence minOccurs="0">
            <xs:element name="openMBVRigidBody">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  Aktiviert die Visualisierung dieses Körpers in OpenMBV durch den unten angegebenen OpenMBV Körper.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="ombv:RigidBody"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="openMBVFrameOfReference" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  Definiert das MBSim KOS, mit dem das Referenz-KOS des OpenMBV Körpers zusammenfällt.<br/>
                  Wird dieses Element nicht angegeben, so wird das KOS "C" verwendet.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="ref" type="mbsim:CurrentFrameReferenceType" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:element name="enableOpenMBVFrameK" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Aktiviert die Visualisierung des Referenzkoordinatensystems "K" dieses Körpers in OpenMBV.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:group ref="mbsim:OpenMBVFrameParameters"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="enableOpenMBVJointForce" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Wenn angegeben, wird die Gelenkkraft durch einen OpenMBV Pfeil in OpenMBV visualisiert.
            </xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:group ref="mbsim:OpenMBVArrowParameters"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="enableOpenMBVJointMoment" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Wenn angegeben, wird das Gelenkmoment durch einen OpenMBV Pfeil in OpenMBV visualisiert.
            </xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:group ref="mbsim:OpenMBVArrowParameters"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
