modules/mbsimFlexibleBody/schema/mbsimflexiblebody.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.mbsim-env.de/MBSimFlexibleBody"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns="http://www.mbsim-env.de/MBSimFlexibleBody"
  xmlns:mbsim="http://www.mbsim-env.de/MBSim"
  xmlns:pv="http://www.mbsim-env.de/MBXMLUtils"
  xmlns:ombv="http://www.mbsim-env.de/OpenMBV"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://www.mbsim-env.de/MBXMLUtils"/>

  <xs:import namespace="http://www.mbsim-env.de/OpenMBV"/>

  <xs:import namespace="http://www.mbsim-env.de/MBSim"/>

  <xs:annotation>
    <xs:documentation xml:lang="de" xmlns="">
      MBSIMFlexibleBody ist ein Modul mit elastischen Elementen.<br/>
      Hierzu zählen Wellen, Achsen und Platten. Zur Zeit sind 2 Elemente mittels dem XML Interface verwendbar: <br/>
      - FlexibleBody1s23BTA, eine Biege-Torsions-Welle <br/>
      - FlexibleBody1s33RCM <br/>
      Der Unterschied liegt in der Anzahl der Freiheitsgrade. Das Elemente FlexibleBody1s23BTA hat in Achsrichtung keinen Freiheitsgrad, wogegen das Element FlexibleBody1s33RCM über alle im Raum möglichen Freiheitsgrade verfügt. Beide Elemente symbolisieren ein in eine Richtung erstrecktes Kontinuum, wie z.B. eine Welle oder Achse. 
    </xs:documentation>
  </xs:annotation>

  <xs:element name="FlexibleBody" substitutionGroup="mbsim:Body" abstract="true" type="FlexibleBodyType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        TODO
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FlexibleBodyType">
    <xs:complexContent>
      <xs:extension base="mbsim:BodyType">
        <xs:sequence>
          <xs:element name="massProportionalDamping" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Koeffizient der massenproportionalen Dämpfung.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="frameOnFlexibleBody1s" type="frameOnFlexibleBody1sType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Lokale Gruppe eines Koordinatensystems.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="frameOnFlexibleBody1sType">
    <xs:sequence>
      <xs:element ref="mbsim:Frame"/>
      <xs:element name="position" type="pv:lengthScalar">
        <xs:annotation>
          <xs:documentation xml:lang="de" xmlns="">
            Lage des körperfesten Koordinatensystems, angegeben durch 1 Längenangebe. Diese definiert eindeutig die Lage auf dem in 1 Dimension erstreckten Körper.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="FlexibleBody1s23BTA" substitutionGroup="FlexibleBody" type="FlexibleBody1s23BTAType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Definition des flexiblen 1-dimensional erstreckten Körpers FlexibleBody1s23BTA.        
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FlexibleBody1s23BTAType">
    <xs:complexContent>
      <xs:extension base="FlexibleBodyType">
        <xs:sequence>
          <xs:element name="frames">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Kontainer für lokale Koordinatensysteme dieses Körpers.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="frameOnFlexibleBody1s"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="numberOfElements" type="pv:integerFullEval">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Anzahl der Basiselemente des flexible Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="length" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Länge des flexiben Körpers
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="youngsModulus" type="pv:bulkModulusScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                E-Modul
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="shearModulus" type="pv:bulkModulusScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Schubmodul
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="density" type="pv:densityScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Dichte des flexiblen Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="crossSectionArea" type="pv:areaScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Querschnittsfläche des flexiblen Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="momentOfInertia" type="pv:inertiaVector">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Angabe der Trägheitsheitsmoment. Der Vektor setzt sich aus (IB, IB, 2*IB) zusammen.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="radiusOfContour" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Radius der äußeren Kontur (Kreisquerschnitt) des flexiblen Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="torsionalDamping" type="pv:dampingScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Koeffizient der Torsionsdämpfung.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="openMBVBody" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Aktiviert die Visualisierung dieses Körpers in OpenMBV durch den unten angegebenen OpenMBV Körper.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ombv:SpineExtrusion"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="FlexibleBody1s33RCM" substitutionGroup="FlexibleBody" type="FlexibleBody1s33RCMType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Definition des flexiblen 1-dimensional erstreckten Körpers FlexibleBody1s33RCM.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FlexibleBody1s33RCMType">
    <xs:complexContent>
      <xs:extension base="FlexibleBodyType">
        <xs:sequence>
          <xs:element name="frames">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Kontainer für lokale Koordinatensysteme dieses Körpers.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="frameOnFlexibleBody1s"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="numberOfElements" type="pv:integerFullEval">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Anzahl der Basiselemente des flexible Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="length" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Länge des flexiben Körpers
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="youngsModulus" type="pv:bulkModulusScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                E-Modul
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="shearModulus" type="pv:bulkModulusScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Schubmodul
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="density" type="pv:densityScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Materialdichte.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="crossSectionArea" type="pv:areaScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Querschnittsfläche des flexiblen Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="momentOfInertia" type="pv:inertiaVector">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Vector of the moments of momentOfInertia.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="radiusOfContourCylinder" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Radius des Kontur-Zylinders
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="dampingOfMaterial">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Werte der Materialdämpfung
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="prolongational" type="pv:dampingScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="">
                      Dämpfung in Verlängerungsrichtung<object class="inlineeqn">\vartheta_{\varepsilon}</object>
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="torsional" type="pv:dampingScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de" xmlns="">
                      Dämpfung in Torsionsrichtung<object class="inlineeqn">\vartheta_{\kappa_0}</object>
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="openMBVBody" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Aktiviert die Visualisierung dieses Körpers in OpenMBV durch den unten angegebenen OpenMBV Körper.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ombv:SpineExtrusion"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="NodeFrame" substitutionGroup="mbsim:Frame" type="NodeFrameType">
    <xs:annotation><xs:documentation xml:lang="de" xmlns="">
      Koordinatensystem für knotenbasierte Körper.
    </xs:documentation></xs:annotation>
  </xs:element>
  <xs:complexType name="NodeFrameType">
    <xs:complexContent>
      <xs:extension base="mbsim:FrameType">
        <xs:sequence>
          <xs:element name="nodeNumber" type="pv:nounitScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Knotennummer.<br/>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="FlexibleBodyFFR" substitutionGroup="mbsim:Body" type="FlexibleBodyFFRType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Definiert einen elatsichen Körper mit einer Frame Of Reference Formulierung.<br/>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FlexibleBodyFFRType">
    <xs:complexContent>
      <xs:extension base="mbsim:BodyType">
        <xs:sequence>
          <xs:element name="mass" type="pv:massScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Masse des Körpers.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="positionIntegral" type="pv:unknownVector">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Integral des Ortsvektors über die Masse, <object class="inlineeqn">\int \boldsymbol{r}\,\mathrm{d}m</object>.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="positionPositionIntegral" type="pv:inertiaMatrix">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Integral des Produkts aus dem Ortsvektor mit der Transponierten des Ortsvektors über die Masse, <object class="inlineeqn">\int \boldsymbol{r}\,\boldsymbol{r}^T\,\mathrm{d}m</object>.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="shapeFunctionIntegral" type="pv:unknownMatrix">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Integral der Matrix der Ansatzfunktionen über die Masse, <object class="inlineeqn">\int \boldsymbol{\Phi}\,\mathrm{d}m</object>.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="positionShapeFunctionIntegralArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  3x1-dimensionales Feld aus Integralen des Produkts aus den Elementen des Ortsvektors mit der Matrix der Ansatzfunktionen über die Masse, <object class="inlineeqn">\int r_i\,\boldsymbol{\Phi}\,\mathrm{d}m,\ i=1,2,3</object>.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ele" type="pv:unknownMatrix" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="positionShapeFunctionIntegral" type="pv:unknownMatrix">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  Matrix aus Integralen des Produkts aus den Elementen des Ortsvektors mit der Matrix der Ansatzfunktionen über die Masse, <object class="inlineeqn">\int r_i\,\boldsymbol{\Phi}\,\mathrm{d}m,\ i=1,2,3</object>.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice>
            <xs:element name="shapeFunctionShapeFunctionIntegralArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  3x3-dimensionales Feld aus Integralen des Produkts aus den Spalten der Matrix der Ansatzfunktionen mit den Transponierten der Spalten der Matrix der Ansatzfunktionen über die Masse, <object class="inlineeqn">\int \boldsymbol{\Phi}_i\,\boldsymbol{\Phi}^T_j\,\mathrm{d}m,\ i,j=1,2,3</object>.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="row" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ele" type="pv:unknownMatrix" maxOccurs="unbounded"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="shapeFunctionShapeFunctionIntegral" type="pv:unknownMatrix">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  Matrix aus Integralen des Produkts aus den Spalten der Matrix der Ansatzfunktionen mit den Transponierten der Spalten der Matrix der Ansatzfunktionen über die Masse, <object class="inlineeqn">\int \boldsymbol{\Phi}_i\,\boldsymbol{\Phi}^T_j\,\mathrm{d}m,\ i,j=1,2,3</object>.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="stiffnessMatrix" type="pv:unknownMatrix">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Steifigkeistmatrix.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="dampingMatrix" type="pv:unknownMatrix" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Dämpfungsmatrix.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="proportionalDamping" type="pv:nounitVector" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Proportionale Dämpfung, <object class="inlineeqn">\boldsymbol{D} = \beta_1\,\boldsymbol{M} + \beta_2\,\boldsymbol{K}</object>.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice minOccurs="0">
            <xs:element name="nonlinearStiffnessMatrixOfFirstOrderArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  nx1-dimensionales Feld aus Matrizen zur Berücksichtigung nichtlinearer Verzerrungen erster Ordnung.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ele" type="pv:unknownMatrix" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="nonlinearStiffnessMatrixOfFirstOrder" type="pv:unknownMatrix">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  Matrix aus Matrizen zur Berücksichtigung nichtlinearer Verzerrungen erster Ordnung.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice minOccurs="0">
            <xs:element name="nonlinearStiffnessMatrixOfSecondOrderArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  nxn-dimensionales Feld aus Matrizen zur Berücksichtigung nichtlinearer Verzerrungen zweiter Ordnung.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="row" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ele" type="pv:unknownMatrix" maxOccurs="unbounded"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="nonlinearStiffnessMatrixOfSecondOrder" type="pv:unknownMatrix">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  Matrix aus Matrizen zur Berücksichtigung nichtlinearer Verzerrungen zweiter Ordnung.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="initialStressIntegral" type="pv:unknownVector" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Vektor der generalisierte Kräfte infolge von Vorspannungen.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="nonlinearInitialStressIntegral" type="pv:unknownMatrix" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Matrix zur Berücksichtigung der generalisierte Kräfte infolge von Vorspannungen bei nichtlinearen Verzerrungen.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice minOccurs="0">
            <xs:element name="geometricStiffnessMatrixDueToAccelerationArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  3x1-dimensionales Feld aus Matrizen zu Berücksichtigung geometrischer Steifigkeiten infolge von Beschleunigungen.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ele" type="pv:unknownMatrix" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="geometricStiffnessMatrixDueToAcceleration" type="pv:unknownMatrix">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  3x1-dimensionales Feld aus Matrizen zu Berücksichtigung geometrischer Steifigkeiten infolge von Beschleunigungen.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice minOccurs="0">
            <xs:element name="geometricStiffnessMatrixDueToAngularAccelerationArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  3x1-dimensionales Feld aus Matrizen zu Berücksichtigung geometrischer Steifigkeiten infolge von Winkelbeschleunigungen.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ele" type="pv:unknownMatrix" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="geometricStiffnessMatrixDueToAngularAcceleration" type="pv:unknownMatrix">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  3x1-dimensionales Feld aus Matrizen zu Berücksichtigung geometrischer Steifigkeiten infolge von Winkelbeschleunigungen.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice minOccurs="0">
            <xs:element name="geometricStiffnessMatrixDueToAngularVelocityArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  3x1-dimensionales Feld aus Matrizen zu Berücksichtigung geometrischer Steifigkeiten infolge von Winkelgeschwindigkeiten.
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ele" type="pv:unknownMatrix" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="geometricStiffnessMatrixDueToAngularVelocity" type="pv:unknownMatrix">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  3x1-dimensionales Feld aus Matrizen zu Berücksichtigung geometrischer Steifigkeiten infolge von Winkelgeschwindigkeiten.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice minOccurs="0">
            <xs:element name="nodalRelativePositionArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  tbd
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ele" type="pv:lengthVector" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="nodalRelativePosition" type="pv:lengthVector">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  tbd
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice minOccurs="0">
            <xs:element name="nodalRelativeOrientationArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                tbd
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ele" type="pv:rotationMatrix" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="nodalRelativeOrientation" type="pv:rotationMatrix">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                tbd
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice minOccurs="0">
            <xs:element name="nodalShapeMatrixOfTranslationArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                tbd
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ele" type="pv:unknownMatrix" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="nodalShapeMatrixOfTranslation" type="pv:unknownMatrix">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                tbd
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice minOccurs="0">
            <xs:element name="nodalShapeMatrixOfRotationArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                tbd
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ele" type="pv:unknownMatrix" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="nodalShapeMatrixOfRotation" type="pv:unknownMatrix">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                tbd
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice minOccurs="0">
            <xs:element name="nodalStressMatrixArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                tbd
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ele" type="pv:unknownMatrix" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="nodalStressMatrix" type="pv:unknownMatrix">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                tbd
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice minOccurs="0">
            <xs:element name="nodalNonlinearStressMatrixArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                tbd
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="row" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ele" type="pv:unknownMatrix" maxOccurs="unbounded"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="nodalNonlinearStressMatrix" type="pv:unknownMatrix">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                tbd
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice minOccurs="0">
            <xs:element name="nodalInitialStressArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  tbd
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ele" type="pv:pressureVector" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="nodalInitialStress" type="pv:pressureVector">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                  tbd
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice minOccurs="0">
            <xs:element name="nodalGeometricStiffnessMatrixDueToForceArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                tbd
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="row" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ele" type="pv:unknownMatrix" maxOccurs="unbounded"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="nodalGeometricStiffnessMatrixDueToForce" type="pv:unknownMatrix">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                tbd
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice minOccurs="0">
            <xs:element name="nodalGeometricStiffnessMatrixDueToMomentArray">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                tbd
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="row" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ele" type="pv:unknownMatrix" maxOccurs="unbounded"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="nodalGeometricStiffnessMatrixDueToMoment" type="pv:unknownMatrix">
              <xs:annotation>
                <xs:documentation xml:lang="de" xmlns="">
                tbd
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:choice minOccurs="0">
            <xs:element name="generalTranslation">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Gibt die Vorschrift zur Berechnung des Translationsvektors
                  <object class="inlineeqn">\boldsymbol{r}_q=f(\boldsymbol{q},t)</object> in Abhängigkeit der
                  generalisierten Lagen und der Zeit an.<br/>
                  Der Translationsvektor <object class="inlineeqn">\boldsymbol{r}_q</object> ist
                  im KOS <code>frameOfReference</code> dargestellt und stellt die
                  Relativverschiebung zwischen dem KOS <code>frameOfReference</code> und dem KOS <code>frameForKinematics</code> dar.
                  <p>Wird <code>Translation</code> nicht angegeben, so besitzt der Körper keine translatorischen Freiheitsgrade.</p>
              </xs:documentation></xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="mbsim:Function"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="timeDependentTranslation">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Gibt die Vorschrift zur Berechnung des Translationsvektors
                  <object class="inlineeqn">\boldsymbol{r}_q=f(t)</object> in Abhängigkeit der
                  generalisierten Lagen und der Zeit an.<br/>
                  Der Translationsvektor <object class="inlineeqn">\boldsymbol{r}_q</object> ist
                  im KOS <code>frameOfReference</code> dargestellt und stellt die
                  Relativverschiebung zwischen dem KOS <code>frameOfReference</code> und dem KOS <code>frameForKinematics</code> dar.
                  <p>Wird <code>Translation</code> nicht angegeben, so besitzt der Körper keine translatorischen Freiheitsgrade.</p>
              </xs:documentation></xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="mbsim:Function"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="stateDependentTranslation">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Gibt die Vorschrift zur Berechnung des Translationsvektors
                  <object class="inlineeqn">\boldsymbol{r}_q=f(\boldsymbol{q})</object> in Abhängigkeit der
                  generalisierten Lagen und der Zeit an.<br/>
                  Der Translationsvektor <object class="inlineeqn">\boldsymbol{r}_q</object> ist
                  im KOS <code>frameOfReference</code> dargestellt und stellt die
                  Relativverschiebung zwischen dem KOS <code>frameOfReference</code> und dem KOS <code>frameForKinematics</code> dar.
                  <p>Wird <code>Translation</code> nicht angegeben, so besitzt der Körper keine translatorischen Freiheitsgrade.</p>
              </xs:documentation></xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="mbsim:Function"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:choice minOccurs="0">
            <xs:element name="generalRotation">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Gibt die Vorschrift zur Berechnung der Transformationsmatrix
                  <object class="inlineeqn">\boldsymbol{A}_q=f(\boldsymbol{q},t)</object> in Abhängigkeit der
                  generalisierten Lagen und der Zeit an.<br/>
                  Die Transformationsmatrix <object class="inlineeqn">\boldsymbol{A}_q</object> stellt dabei die
                  Transformation vom KOS <code>frameForKinematics</code> in das KOS <code>frameOfReference</code> dar.
                  <p>Wird <code>Rotation</code> nicht angegeben, so besitzt der Körper keine rotatorischen Freiheitsgrade.</p>
              </xs:documentation></xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="mbsim:Function"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="timeDependentRotation">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Gibt die Vorschrift zur Berechnung der Transformationsmatrix
                  <object class="inlineeqn">\boldsymbol{A}_q=f(t)</object> in Abhängigkeit der
                  generalisierten Lagen und der Zeit an.<br/>
                  Die Transformationsmatrix <object class="inlineeqn">\boldsymbol{A}_q</object> stellt dabei die
                  Transformation vom KOS <code>frameForKinematics</code> in das KOS <code>frameOfReference</code> dar.
                  <p>Wird <code>Rotation</code> nicht angegeben, so besitzt der Körper keine rotatorischen Freiheitsgrade.</p>
              </xs:documentation></xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="mbsim:Function"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="stateDependentRotation">
              <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                  Gibt die Vorschrift zur Berechnung der Transformationsmatrix
                  <object class="inlineeqn">\boldsymbol{A}_q=f(\boldsymbol{q})</object> in Abhängigkeit der
                  generalisierten Lagen und der Zeit an.<br/>
                  Die Transformationsmatrix <object class="inlineeqn">\boldsymbol{A}_q</object> stellt dabei die
                  Transformation vom KOS <code>frameForKinematics</code> in das KOS <code>frameOfReference</code> dar.
                  <p>Wird <code>Rotation</code> nicht angegeben, so besitzt der Körper keine rotatorischen Freiheitsgrade.</p>
              </xs:documentation></xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="mbsim:Function"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:element name="translationDependentRotation" minOccurs="0" type="pv:booleanFullEval">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Definiert, ob die Rotation von der Translation abhängt. In diesem Fall werden für Translation und Rotation dieselben Koordinaten verwendet.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="coordinateTransformationForRotation" minOccurs="0" type="pv:booleanFullEval">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Definiert, ob für die Beschreibung der Rotation eine Koordinatentransformation durchgeführt werden soll (standardmäßig an). Mit Koordinatentransformation werden für die generalisierten Koordinaten der Rotation kartesische Winkelgeschwindigkeiten verwendet. Ohne Koordinatentransformation werden die Ableitungen der Winkelkoordinaten verwendet.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="bodyFixedRepresentationOfAngularVelocity" minOccurs="0" type="pv:booleanFullEval">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Definiert, ob bei aktivierter Koordinatentransformation für die Rotation eine Darstellung der Winkelgeschwindigkeiten bzgl. des körperfesten Koordinatensystems verwendet werden soll (standardmäßig aus). Bei absoluten räumlichen Drehungen hat dies den Vorteil einer konstante Massenmatrix. Standarmäßig wird eine Darstellung bzgl. des Referenzsystems verwendet.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="frames">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Kontainer für lokale Koordinatensysteme dieses Körpers.<br/>
                Da es sich um einen Starrkörper
                handelt, ist die relative Lage dieser KOS untereinander (und auch zum KOS "C") während
                der gesamten Simulation konstant.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="NodeFrame"/>
                  <xs:element ref="pv:Embed"/>
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="contours">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Kontainer für lokale Kontaktkonturen dieses Körpers.<br/>
                Da es sich um einen Starrkörper handelt, ist die relative Lage dieser Kontaktkonturen
                untereinander (und auch zum KOS "C") während der gesamten Simulation konstant.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="mbsim:Contour"/>
                <xs:element ref="pv:Embed"/>
              </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="enableOpenMBV" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Aktiviert die Visualisierung des Körpers.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="nodes" type="pv:indexVector" minOccurs="0"/>
                <xs:element name="indices" type="pv:indexVector" minOccurs="0"/>
                <xs:element name="minimalColorValue" type="pv:nounitScalar" minOccurs="0"/>
                <xs:element name="maximalColorValue" type="pv:nounitScalar" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="enableOpenMBVFrameK" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Aktiviert die Visualisierung des Referenzkoordinatensystems "K" dieses Körpers in OpenMBV.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:group ref="mbsim:OpenMBVFrameParameters"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="enableOpenMBVJointForce" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Wenn angegeben, wird die Gelenkkraft durch einen OpenMBV Pfeil in OpenMBV visualisiert.
            </xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:group ref="mbsim:OpenMBVArrowParameters"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="enableOpenMBVJointMoment" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Wenn angegeben, wird das Gelenkmoment durch einen OpenMBV Pfeil in OpenMBV visualisiert.
            </xs:documentation></xs:annotation>
            <xs:complexType>
              <xs:group ref="mbsim:OpenMBVArrowParameters"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="plotFeatureFrameK" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Definiert die Plotfeatures des Schwerpunktskoordinatensystems "C" dieses Körpers.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="pv:booleanFullEval">
                  <xs:attribute name="value" type="pv:qnamePartialEval" use="required"/>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="FlexiblePlanarNurbsContour" substitutionGroup="mbsim:Contour" type="FlexiblePlanarNurbsContourType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Räumliche NURBS Kontur.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FlexiblePlanarNurbsContourType">
    <xs:complexContent>
      <xs:extension base="mbsim:ContourType">
        <xs:sequence>
          <xs:element name="interpolation" type="pv:booleanFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Interpolation der Kontrollpunkte.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="indices" type="pv:indexVector">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Indizes der Kontrollpunkte.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="knotVector" type="pv:nounitVector" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Knotenvektor.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="degree" type="pv:integerFullEval" minOccurs="0" >
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
               Polynomgrad.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="open" minOccurs="0" type="pv:booleanFullEval">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Definiert, ob die Kontur offen ist.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="enableOpenMBV" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Aktiviert die Visualisierung der Kontur.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="diffuseColor" type="pv:nounitVector" minOccurs="0"/>
                <xs:element name="transparency" type="pv:nounitScalar" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="FlexiblePlanarNurbsContourFFR" substitutionGroup="mbsim:Contour" type="FlexiblePlanarNurbsContourFFRType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Räumliche NURBS Kontur.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FlexiblePlanarNurbsContourFFRType">
    <xs:complexContent>
      <xs:extension base="mbsim:ContourType">
        <xs:sequence>
          <xs:element name="interpolation" type="pv:booleanFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Interpolation der Kontrollpunkte.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="indices" type="pv:indexVector">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Indizes der Kontrollpunkte.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="knotVector" type="pv:nounitVector" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Knotenvektor.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="degree" type="pv:integerFullEval" minOccurs="0" >
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
               Polynomgrad.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="open" minOccurs="0" type="pv:booleanFullEval">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Definiert, ob die Kontur offen ist.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="enableOpenMBV" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Aktiviert die Visualisierung der Kontur.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="diffuseColor" type="pv:nounitVector" minOccurs="0"/>
                <xs:element name="transparency" type="pv:nounitScalar" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="FlexibleSpatialNurbsContour" substitutionGroup="mbsim:Contour" type="FlexibleSpatialNurbsContourType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Räumliche NURBS Kontur.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FlexibleSpatialNurbsContourType">
    <xs:complexContent>
      <xs:extension base="mbsim:ContourType">
        <xs:sequence>
          <xs:element name="interpolation" type="pv:booleanFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Interpolation der Kontrollpunkte.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="indices" type="pv:indexMatrix">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Indizes der Kontrollpunkte.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="etaKnotVector" type="pv:nounitVector" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Knotenvektor in eta-Richtung.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="xiKnotVector" type="pv:nounitVector" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Knotenvektor in xi-Richtung.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="etaDegree" type="pv:integerFullEval" minOccurs="0" >
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
               Polynomgrad in eta-Richtung.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="xiDegree" type="pv:integerFullEval" minOccurs="0" >
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
               Polynomgrad in xi-Richtung.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="openEta" minOccurs="0" type="pv:booleanFullEval">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Definiert, ob die Kontur in eta-Richtung offen ist.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="openXi" minOccurs="0" type="pv:booleanFullEval">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Definiert, ob die Kontur in xi-Richtung offen ist.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="enableOpenMBV" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Aktiviert die Visualisierung der Kontur.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="diffuseColor" type="pv:nounitVector" minOccurs="0"/>
                <xs:element name="transparency" type="pv:nounitScalar" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="FlexibleSpatialNurbsContourFFR" substitutionGroup="mbsim:Contour" type="FlexibleSpatialNurbsContourFFRType">
    <xs:annotation>
      <xs:documentation xml:lang="de" xmlns="">
        Räumliche NURBS Kontur.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FlexibleSpatialNurbsContourFFRType">
    <xs:complexContent>
      <xs:extension base="mbsim:ContourType">
        <xs:sequence>
          <xs:element name="interpolation" type="pv:booleanFullEval" minOccurs="0">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
              Interpolation der Kontrollpunkte.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="indices" type="pv:indexMatrix">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Indizes der Kontrollpunkte.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="etaKnotVector" type="pv:nounitVector" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Knotenvektor in eta-Richtung.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="xiKnotVector" type="pv:nounitVector" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Knotenvektor in xi-Richtung.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="etaDegree" type="pv:integerFullEval" minOccurs="0" >
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
               Polynomgrad in eta-Richtung.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="xiDegree" type="pv:integerFullEval" minOccurs="0" >
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
               Polynomgrad in xi-Richtung.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="openEta" minOccurs="0" type="pv:booleanFullEval">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Definiert, ob die Kontur in eta-Richtung offen ist.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="openXi" minOccurs="0" type="pv:booleanFullEval">
            <xs:annotation><xs:documentation xml:lang="de" xmlns="">
                Definiert, ob die Kontur in xi-Richtung offen ist.
            </xs:documentation></xs:annotation>
          </xs:element>
          <xs:element name="enableOpenMBV" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de" xmlns="">
                Aktiviert die Visualisierung der Kontur.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="diffuseColor" type="pv:nounitVector" minOccurs="0"/>
                <xs:element name="transparency" type="pv:nounitScalar" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
