trunk/kernel_dev/schema/mbsimintegrator.xsd.in

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://mbsim.berlios.de/MBSimIntegrator"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns="http://mbsim.berlios.de/MBSimIntegrator"
  xmlns:pv="http://openmbv.berlios.de/MBXMLUtils/physicalvariable"
  xmlns:xml="http://www.w3.org/XML/1998/namespace"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://openmbv.berlios.de/MBXMLUtils/physicalvariable"
    schemaLocation="@MBXMLUTILSSCHEMA@/physicalvariable.xsd"/>

  <!-- for xml:base attribute: include xml namespaces defining attribute xml:base -->
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="@MBXMLUTILSSCHEMA@/xml.xsd"/>



  <xs:element name="Integrator" abstract="true" type="IntegratorType"/>
  <xs:complexType name="IntegratorType">
    <xs:sequence>
      <xs:element name="startTime" type="pv:timeScalar"/>  
      <xs:element name="endTime" type="pv:timeScalar"/>  
      <xs:element name="plotStepSize" type="pv:timeScalar"/>  
      <xs:element name="initialState" type="pv:nounitVector" minOccurs="0"/>  
    </xs:sequence>
    <xs:attribute ref="xml:base"/>
  </xs:complexType> 

  <xs:element name="DOPRI5Integrator" substitutionGroup="Integrator" type="DOPRI5IntegratorType"/>
  <xs:complexType name="DOPRI5IntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:nounitVector"/>  
            <xs:element name="absoluteToleranceScalar" type="pv:nounitScalar"/>  
          </xs:choice>
          <xs:choice>
            <xs:element name="relativeTolerance" type="pv:nounitVector"/>  
            <xs:element name="relativeToleranceScalar" type="pv:nounitScalar"/>  
          </xs:choice>
          <xs:element name="initialStepSize" type="pv:timeScalar"/>  
          <xs:element name="maximalStepSize" type="pv:timeScalar"/>  
          <xs:element name="maximalNumberOfSteps" type="xs:nonNegativeInteger" minOccurs="0"/>  
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="RADAU5Integrator" substitutionGroup="Integrator" type="RADAU5IntegratorType"/>
  <xs:complexType name="RADAU5IntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:nounitVector"/>  
            <xs:element name="absoluteToleranceScalar" type="pv:nounitScalar"/>  
          </xs:choice>
          <xs:choice>
            <xs:element name="relativeTolerance" type="pv:nounitVector"/>  
            <xs:element name="relativeToleranceScalar" type="pv:nounitScalar"/>  
          </xs:choice>
          <xs:element name="initialStepSize" type="pv:timeScalar"/>  
          <xs:element name="maximalStepSize" type="pv:timeScalar"/>  
          <xs:element name="maximalNumberOfSteps" type="xs:nonNegativeInteger" minOccurs="0"/>  
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LSODEIntegrator" substitutionGroup="Integrator" type="LSODEIntegratorType"/>
  <xs:complexType name="LSODEIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:nounitVector"/>  
            <xs:element name="absoluteToleranceScalar" type="pv:nounitScalar"/>  
          </xs:choice>
          <xs:element name="relativeToleranceScalar" type="pv:nounitScalar"/>  
          <xs:element name="initialStepSize" type="pv:timeScalar"/>  
          <xs:element name="maximalStepSize" type="pv:timeScalar"/>  
          <xs:element name="minimalStepSize" type="pv:timeScalar"/>  
          <xs:element name="numberOfMaximalSteps" type="xs:unsignedLong"/>
          <xs:element name="stiffModus" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LSODARIntegrator" substitutionGroup="Integrator" type="LSODARIntegratorType"/>
  <xs:complexType name="LSODARIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:choice>
            <xs:element name="absoluteTolerance" type="pv:nounitVector"/>  
            <xs:element name="absoluteToleranceScalar" type="pv:nounitScalar"/>  
          </xs:choice>
          <xs:element name="relativeToleranceScalar" type="pv:nounitScalar"/>  
          <xs:element name="initialStepSize" type="pv:timeScalar"/>  
          <xs:element name="minimalStepSize" type="pv:timeScalar"/>  
          <xs:element name="maximalStepSize" type="pv:timeScalar"/>  
          <xs:element name="plotOnRoot" type="xs:boolean"/>  
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="TimeSteppingIntegrator" substitutionGroup="Integrator" type="TimeSteppingIntegratorType"/>
  <xs:complexType name="TimeSteppingIntegratorType">
    <xs:complexContent>
      <xs:extension base="IntegratorType">
        <xs:sequence>
          <xs:element name="stepSize" type="pv:timeScalar"/>  
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

</xs:schema>
