trunk/kernel_dev/schema/mbsim.xsd.in

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://mbsim.berlios.de/MBSim"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns="http://mbsim.berlios.de/MBSim"
  xmlns:pv="http://openmbv.berlios.de/MBXMLUtils/physicalvariable"
  xmlns:ombv="http://openmbv.berlios.de/OpenMBV"
  xmlns:xml="http://www.w3.org/XML/1998/namespace"
  xmlns:h="http://www.w3.org/1999/xhtml"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:annotation><xs:documentation>
    Write here a introcution to MBSim (kernel and mechanics)
  </xs:documentation></xs:annotation>

  <xs:import namespace="http://openmbv.berlios.de/MBXMLUtils/physicalvariable"
    schemaLocation="@MBXMLUTILSSCHEMA@/physicalvariable.xsd"/>

  <xs:import namespace="http://openmbv.berlios.de/OpenMBV"
    schemaLocation="@OPENMBVCPPINTERFACESCHEMA@/openmbv.xsd"/>

  <!-- for xml:base attribute: include xml namespaces defining attribute xml:base -->
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="@MBXMLUTILSSCHEMA@/xml.xsd"/>



  <xs:simpleType name="PlotFeatureType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="+plotRecursive"/>
      <xs:enumeration value="-plotRecursive"/>
      <xs:enumeration value="+separateFilePerGroup"/>
      <xs:enumeration value="-separateFilePerGroup"/>
      <xs:enumeration value="+state"/>
      <xs:enumeration value="-state"/>
      <xs:enumeration value="+stateDerivative"/>
      <xs:enumeration value="-stateDerivative"/>
      <xs:enumeration value="+rightHandSide"/>
      <xs:enumeration value="-rightHandSide"/>
      <xs:enumeration value="+globalPosition"/>
      <xs:enumeration value="-globalPosition"/>
      <xs:enumeration value="+energy"/>
      <xs:enumeration value="-energy"/>
      <xs:enumeration value="+openMBV"/>
      <xs:enumeration value="-openMBV"/>
      <xs:enumeration value="+generalizedLinkForce"/>
      <xs:enumeration value="-generalizedLinkForce"/>
      <xs:enumeration value="+linkKinematics"/>
      <xs:enumeration value="-linkKinematics"/>
      <xs:enumeration value="+stopVector"/>
      <xs:enumeration value="-stopVector"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ObjectReferenceType">
    <xs:restriction base="xs:token">
      <!-- pattern value="/?((\.\.|Group\[X\])/)*Object\[X\]" with
             X=((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)
      from physicalvariable.xsd name attribute -->
      <xs:pattern value="/?((\.\.|Group\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\])/)*Object\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GroupReferenceType">
    <xs:restriction base="xs:token">
      <!-- pattern value="/?((\.\.|Group\[X\])/)*Group\[X\]" with
             X=((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)
      from physicalvariable.xsd name attribute -->
      <xs:pattern value="/?((\.\.|Group\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\])/)*Group\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LinkReferenceType">
    <xs:restriction base="xs:token">
      <!-- pattern value="/?((\.\.|Group\[X\])/)*Link\[X\]" with
             X=((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)
      from physicalvariable.xsd name attribute -->
      <xs:pattern value="/?((\.\.|Group\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\])/)*Link\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OrderOneDynamicsReferenceType">
    <xs:restriction base="xs:token">
      <!-- pattern value="/?((\.\.|Group\[X\])/)*OrderOneDynamics\[X\]" with
             X=((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)
      from physicalvariable.xsd name attribute -->
      <xs:pattern value="/?((\.\.|Group\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\])/)*OrderOneDynamics\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FrameReferenceType">
    <xs:restriction base="xs:token">
      <!-- pattern value="/?((\.\.|Object\[X\]|Group\[X\])/)*Frame\[X\]" with
             X=((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)
      from physicalvariable.xsd name attribute -->
      <xs:pattern value="/?((\.\.|Object\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\]|Group\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\])/)*Frame\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ContourReferenceType">
    <xs:restriction base="xs:token">
      <!-- pattern value="/?((\.\.|Object\[X\]|Group\[X\])/)*Contour\[X\]" with
             X=((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)
      from physicalvariable.xsd name attribute -->
      <xs:pattern value="/?((\.\.|Object\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\]|Group\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\])/)*Contour\[((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)\]"/>
    </xs:restriction>
  </xs:simpleType>



  <xs:element name="Element" abstract="true" type="ElementType"/>
  <xs:complexType name="ElementType">
    <xs:sequence> <!-- a workaround for xmllint -->
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="plotFeature">  
          <xs:complexType>
            <xs:attribute name="feature" type="PlotFeatureType" use="required"/>
          </xs:complexType> 
        </xs:element>  
        <xs:element name="plotFeatureForChildren">  
          <xs:complexType>
            <xs:attribute name="feature" type="PlotFeatureType" use="required"/>
          </xs:complexType> 
        </xs:element>  
        <xs:element name="plotFeatureRecursive">  
          <xs:complexType>
            <xs:attribute name="feature" type="PlotFeatureType" use="required"/>
          </xs:complexType> 
        </xs:element>  
      </xs:choice> 
    </xs:sequence> <!-- a workaround for xmllint -->
    <xs:attribute name="name" type="pv:name" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="de">
          Name des Elements
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType> 

  <xs:element name="DynamicSystem" abstract="true" substitutionGroup="Element" type="DynamicSystemType"/>
  <xs:complexType name="DynamicSystemType">
    <xs:complexContent>
      <xs:extension base="ElementType"/>
      <!-- All functionality of DynamicSystem is moved to Group, because this two classes are the save,
      if there exist no class Tree on modelling level. (The ordering of the elements is better, if
      this is done so. -->
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="frameOfReference">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Referenzkoordinatensystem
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="ref" type="FrameReferenceType" use="required"/>
    </xs:complexType> 
  </xs:element>

  <xs:element name="Group" substitutionGroup="DynamicSystem" type="GroupType"/>
  <xs:complexType name="GroupType">
    <xs:complexContent>
      <xs:extension base="DynamicSystemType">
        <xs:sequence>
          <xs:element ref="frameOfReference" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Koordinatensystem, in dem die Positionierung der Gruppe angegeben wird. Standardmäßig wird das "I"-System des übergeordneten Systems verwendet.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="position" type="pv:lengthVector" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Relative Lager der Gruppe.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="orientation" type="pv:nounitMatrix" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Relative Orientierung der Gruppe.
              </xs:documentation>
            </xs:annotation>
          </xs:element>           
          <xs:element name="frames">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Kontainer für lokale Koordinatensysteme der Gruppe.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="frame" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      lokale Gruppe eines Koordinatensystems.
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="Frame">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            Definition eines Koordinatensystems.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element ref="frameOfReference" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            Koordinatensystem, in dem die Positionierung des KOS angegeben wird. Standardmässig "I"-System der Gruppe.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="position" type="pv:lengthVector">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            Relative Lager des Koordinatensystems.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="orientation" type="pv:nounitMatrix">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            Relative Orientierung des Koordinatensystems.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="contours">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Kontainer für ortsfeste Kontaktkontouren der Gruppe.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="contour" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      lokale Gruppe einer Kontaktkontur
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="Contour">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            Definition einer Kontaktkontur.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element ref="frameOfReference" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            Koordinatensystem, in dem die relative Positionierung der Kontour angegeben wird. Standardmässig "I"-System der Gruppe.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="position" type="pv:lengthVector">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            Relative Lager der Kontour.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="orientation" type="pv:nounitMatrix">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            Relative Orientierung der Kontour.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="groups">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Kontainer für Untergruppen der Gruppe (Subsysteme)
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="pv:embed">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      Definition in externer Datei.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>  
                <xs:element ref="Group">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      Lokale Definition.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>  
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="objects">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Kontainer für Objekte (Körper, hydraulische Leitungen, ...)
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="pv:embed">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      Definition in externer Datei.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>  
                <xs:element ref="Object">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      Lokale Definition.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>  
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <!--
          <xs:element name="order_one_systems">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Kontainer für Systeme 1. Ordnung (z.B. Regelung)
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="pv:embed">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      Definition in externer Datei.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>  
                <xs:element ref="OrderOneSystem">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      Lokale Definition.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>  
              </xs:choice>
            </xs:complexType>
          </xs:element>
          -->
          <xs:element name="links">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Kontainer für Links (Verbindungen, Kontakte, hydraulische Knoten, ...)
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="pv:embed">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      Definition in externer Datei.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>  
                <xs:element ref="Link">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      Lokale Definition.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>  
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence> 
        <xs:attribute ref="xml:base"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Environment" abstract="true" type="EnvironmentType"/>
  <xs:complexType name="EnvironmentType"/>

  <xs:element name="MBSimEnvironment" substitutionGroup="Environment" type="MBSimEnvironmentType"/>
  <xs:complexType name="MBSimEnvironmentType">
    <xs:complexContent>
      <xs:extension base="EnvironmentType">
        <xs:sequence>
          <xs:element name="accelerationOfGravity" type="pv:accelerationVector">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Erdbeschleunigung
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="DynamicSystemSolver" substitutionGroup="Group" type="DynamicSystemSolverType"/>
  <xs:complexType name="DynamicSystemSolverType">
    <xs:complexContent>
      <xs:extension base="GroupType">
        <xs:sequence>
          <xs:element name="environments">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Kontainer für Umgebungsvariablen des physikalen Systems
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Environment" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      Definition einzelner Umgebungsvariablen
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence> 
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Object" abstract="true" substitutionGroup="Element" type="ObjectType">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abstrakte Klasse eines Objekts.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ObjectType">
    <xs:complexContent>
      <xs:extension base="ElementType">
        <xs:sequence>
          <!--
          simple workaround for hydraulic lines, which don't have a q
          -->
          <xs:element name="initialGeneralizedPosition" minOccurs="0" type="pv:lengthVector">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Inertiale Lage in den generalisierten Freiheitsgraden.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="initialGeneralizedVelocity" type="pv:velocityVector">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Inertiale Geschwindigkeiten in den generalisierten Freiheitsgraden.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="frameOfReference">
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Body" substitutionGroup="Object" type="BodyType">
    <xs:annotation>
      <xs:documentation>
        The following <h:b>part</h:b> is <h:i>only</h:i> a test for <h:tt>equation</h:tt> and image output for the XML documentation FROM XSM SCHEMA.
        <h:p>A paragraph with a line break<h:br/>here</h:p>
        <h:p>Other paragraph with a definition list:</h:p>
        <h:dl>
          <h:dt>Def1</h:dt><h:dd>The description of Def1</h:dd>
          <h:dt>Def2</h:dt><h:dd>The description of Def2</h:dd>
        </h:dl>
        A unordered list
        <h:ul>
          <h:li>Item 1</h:li>
          <h:li>Item 2</h:li>
        </h:ul>
        and a ordered list
        <h:ol>
          <h:li>Item 1</h:li>
          <h:li>Item 2</h:li>
        </h:ol>
        A not inline equation
        <h:div class="eqn"><h:img class="eqn" src="id_A.png" alt="\[ \int_a^b\sin(x)dx \]"/></h:div>
        And a inline equation <h:img class="inlineeqn" src="id_B.png" alt="$x_a+\cos(x)$"/>. And a image.
        <h:div class="htmlfigure"><h:table>
            <h:caption align="bottom">The image caption</h:caption><h:tr><h:td>
                <h:img class="htmlfigure" src="mbsim.png" alt="mbsim.png"/></h:td></h:tr></h:table>
        </h:div>
        <h:object class="latexfigure" standby="4cm" data="mbsim.eps" title="The image caption"/>
        End of the test. 
      </xs:documentation>
      <xs:documentation xml:lang="de">
        Mechanischer Körper.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="BodyType">
    <xs:complexContent>
      <xs:extension base="ObjectType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RigidBody" substitutionGroup="Body" type="RigidBodyType">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Jeder Starrkörper bekommt automatisch ein Koordinatensystem "C" in seinem Schwerpunkt zugewiesen. Alle Größen werden standardmäßig in diesem Koordinatensystem definiert.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RigidBodyType">
    <xs:complexContent>
      <xs:extension base="BodyType">
        <xs:sequence>
          <xs:element name="frameForKinematics">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Koordinatensystem, in dem die kinematischen Größen des Körpers ausgewertet werden. Für eine Beschreibung des Körpers in Absolutkoordinaten ist hier das ortsfeste "I"-System der übergeordneten Gruppe zu wählen.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="ref" type="FrameReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
          <xs:element name="mass" type="pv:massScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Masse des Körpers
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="inertiaTensor" type="pv:inertiaMatrix">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Trägheitstensor des Körpers. Anzugeben im Punkt und der Orientierung des Schwerpunkts.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="translation">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Translation" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      Translatorische Freiheitsgrade des Körpers.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="rotation">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Rotation" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      Rotatorische Freiheitsgrade des Körpers.
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <!-- BEGIN The following elements are rarly used. That is why they are optional (on top level) -->
          <xs:element name="jacobianOfTranslation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Jacobian"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="jacobianOfRotation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Jacobian"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="derivativeOfJacobianOfTranslation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function3_MVVS"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="derivativeOfJacobianOfRotation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function3_MVVS"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="guidingVelocityOfTranslation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function1_VS"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="guidingVelocityOfRotation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function1_VS"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="derivativeOfGuidingVelocityOfTranslation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function1_VS"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="derivativeOfGuidingVelocityOfRotation" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function1_VS"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <!-- END -->
          <xs:element name="frames">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Kontainer für lokale Koordinatensysteme des Körpers.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="frame" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      lokale Gruppe eines Koordinatensystems.
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="Frame">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            Definition eines Koordinatensystems.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element ref="frameOfReference" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            Koordinatensystem, in dem die Positionierung des KOS angegeben wird. Standardmässig "C"-KOS.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="position" type="pv:lengthVector">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            Relative Lager des Koordinatensystems.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="orientation" type="pv:nounitMatrix">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            Relative Orientierung des Koordinatensystems.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="contours">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Kontainer für lokale Kontaktkontouren des Körpers.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="contour" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="Contour">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            lokale Gruppe einer Kontourdefinition.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element ref="frameOfReference" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            Koordinatensystem, in dem die relative Positionierung der Kontour angegeben wird. Standardmässig "C"-KOS.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="position" type="pv:lengthVector">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            Relative Lager der Kontour.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="orientation" type="pv:nounitMatrix">
                        <xs:annotation>
                          <xs:documentation xml:lang="de">
                            Relatvie Orientierung der Kontour.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="openMBVRigidBody" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Visualisierung des Körpers in OpenMBV.
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ombv:RigidBody">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      Visualisierung
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="enableOpenMBVFrameC" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Visualisierung des Schwerpunktssystems
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="size" type="pv:lengthScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      Länge der Achsen
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="offset" type="pv:nounitScalar">
                  <xs:annotation>
                    <xs:documentation xml:lang="de">
                      relative Verschiebung der Achsen (0=Achsenkreuz, 1=Rechtssystem)
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Link" abstract="true" substitutionGroup="Element" type="LinkType"/>
  <xs:complexType name="LinkType">
    <xs:complexContent>
      <xs:extension base="ElementType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="LinkMechanics" substitutionGroup="Link" type="LinkMechanicsType"/>
  <xs:complexType name="LinkMechanicsType">
    <xs:complexContent>
      <xs:extension base="LinkType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="KineticExcitation" substitutionGroup="LinkMechanics" type="KineticExcitationType"/>
  <xs:complexType name="KineticExcitationType">
    <xs:complexContent>
      <xs:extension base="LinkMechanicsType">
        <xs:sequence>
          <xs:element name="frameOfReference" minOccurs="0">
            <xs:complexType>
              <xs:attribute name="ref" type="FrameReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
          <xs:element name="force" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="directionVectors" type="pv:nounitMatrix"/>
                <xs:element name="function">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="Function1_VS"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element ref="ombv:Arrow" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="moment" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="directionVectors" type="pv:nounitMatrix"/>
                <xs:element name="function">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="Function1_VS"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element ref="ombv:Arrow" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="connect">
            <xs:complexType>
              <xs:attribute name="ref" type="FrameReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="SpringDamper" substitutionGroup="LinkMechanics" type="SpringDamperType"/>
  <xs:complexType name="SpringDamperType">
    <xs:complexContent>
      <xs:extension base="LinkMechanicsType">
        <xs:sequence>
          <xs:element name="forceFunction">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function2_SSS"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
          <xs:element name="projectionDirection" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="frameOfReference"/>
                <xs:element name="direction" type="pv:nounitVector"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
          <xs:element name="connect">
            <xs:complexType>
              <xs:attribute name="ref1" type="FrameReferenceType" use="required"/>
              <xs:attribute name="ref2" type="FrameReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
          <xs:element ref="ombv:CoilSpring" minOccurs="0"/>
          <xs:element ref="ombv:Arrow" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Joint" substitutionGroup="LinkMechanics" type="JointType"/>
  <xs:complexType name="JointType">
    <xs:complexContent>
      <xs:extension base="LinkMechanicsType">
        <xs:sequence>
          <xs:element name="force" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="direction" type="pv:nounitMatrix"/>
                <xs:element name="generalizedForceLaw">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="GeneralizedForceLaw"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="generalizedImpactLaw">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="GeneralizedImpactLaw" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element ref="ombv:Arrow" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="moment" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="direction" type="pv:nounitMatrix"/>
                <xs:element name="generalizedForceLaw">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="GeneralizedForceLaw"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="generalizedImpactLaw">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element ref="GeneralizedImpactLaw" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element ref="ombv:Arrow" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="connect">
            <xs:complexType>
              <xs:attribute name="ref1" type="FrameReferenceType" use="required"/>
              <xs:attribute name="ref2" type="FrameReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Contact" substitutionGroup="LinkMechanics" type="ContactType"/>
  <xs:complexType name="ContactType">
    <xs:complexContent>
      <xs:extension base="LinkMechanicsType">
        <xs:sequence>
          <xs:element name="contactForceLaw">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="GeneralizedForceLaw"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="contactImpactLaw">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="GeneralizedImpactLaw" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="frictionForceLaw">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="FrictionForceLaw" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="frictionImpactLaw">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="FrictionImpactLaw" minOccurs="0"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="connect">
            <xs:complexType>
              <xs:attribute name="ref1" type="ContourReferenceType" use="required"/>
              <xs:attribute name="ref2" type="ContourReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
          <xs:element name="enableOpenMBVContactPoints" type="pv:lengthScalar" minOccurs="0"/>
          <xs:element name="openMBVNormalForceArrow" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ombv:Arrow"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="openMBVFrictionArrow" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ombv:Arrow"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Frame" substitutionGroup="Element" type="FrameType"/>
  <xs:complexType name="FrameType">
    <xs:complexContent>
      <xs:extension base="ElementType">
        <xs:sequence>
          <xs:element name="enableOpenMBV" minOccurs="0">  
            <xs:complexType>
              <xs:sequence>
                <xs:element name="size" type="pv:lengthScalar"/>
                <xs:element name="offset" type="pv:nounitScalar"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType> 

  <xs:element name="Contour" abstract="true" substitutionGroup="Element" type="ContourType">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abstrakte Klasse für Kontaktkonturen.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ContourType">
    <xs:complexContent>
      <xs:extension base="ElementType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="RigidContour" substitutionGroup="Contour" type="RigidContourType">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abstrakte Klasse für starre Konturen.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RigidContourType">
    <xs:complexContent>
      <xs:extension base="ContourType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="CircleHollow" substitutionGroup="RigidContour" type="CircleHollowType">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Ebene Kontur eines CircleHollow (= Hohlzylinders = Kreiskontur mit Kontakt innen). Die Kreiskontur liegt normal zur z-Achse des Referenzkoordinatensystems.
        <h:div class="htmlfigure"><h:table>
            <h:caption align="bottom">Orientierung einer CircleHollow-Kontour</h:caption><h:tr><h:td>
                <h:img class="htmlfigure" src="./figures/contour_circlehollow.png" alt="./figures/contour_circlehollow.png"></h:img></h:td></h:tr></h:table>
        </h:div>
        <h:object class="latexfigure" standby="4cm" data="figures/contour_circlehollow.eps" title="Orientierung einer CicleHollow-Kontour"></h:object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CircleHollowType">
    <xs:complexContent>
      <xs:extension base="RigidContourType">
        <xs:sequence>
          <xs:element name="radius" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Innenradius des Hohlzylinders
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="enableOpenMBV" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Visualisierung der Kontur
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="CircleSolid" substitutionGroup="RigidContour" type="CircleSolidType">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Ebene Kontur eines CircleSolid (= (Voll)zylinders = Kreiskontur mit Kontakt aussen). Die Kreiskontur liegt normal zur z-Achse des Referenzkoordinatensystems. 
        <h:div class="htmlfigure"><h:table>
            <h:caption align="bottom">Orientierung einer CircleSolid-Kontour</h:caption><h:tr><h:td>
                <h:img class="htmlfigure" src="./figures/contour_circlesolid.png" alt="./figures/contour_circlesolid.png"></h:img></h:td></h:tr></h:table>
        </h:div>
        <h:object class="latexfigure" standby="4cm" data="figures/contour_circlesolid.eps" title="Orientierung einer CircleSolid-Kontour"></h:object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CircleSolidType">
    <xs:complexContent>
      <xs:extension base="RigidContourType">
        <xs:sequence>
          <xs:element name="radius" type="pv:lengthScalar">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Aussenradius des Vollzylinders
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="enableOpenMBV" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de">
                Visualisierung der Kontur
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Frustum" substitutionGroup="RigidContour" type="FrustumType">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Kontur eines Kegelstumpfes. Hiermit kann auch ein Kegel und ein Zylinder abgedeckt werden.
        Die Symmetrieachse fällt mit der y-Achse des Referenzkoordinationsystems zusammen. Zu definierende geometrische Größen sind in der Zeichnung eingetragen.      
        <h:div class="htmlfigure"><h:table>
            <h:caption align="bottom">Orientierung und geometrische Größen einer Frustum-Kontour</h:caption><h:tr><h:td>
                <h:img class="htmlfigure" src="./figures/contour_frustum.png" alt="./figures/contour_frustum.png"></h:img></h:td></h:tr></h:table>
        </h:div>
        <h:object class="latexfigure" standby="4cm" data="figures/contour_frustum.eps" title="Orientierung und geometrische Größen einer Frustum-Kontour"></h:object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FrustumType">
    <xs:complexContent>
      <xs:extension base="RigidContourType">
        <xs:sequence>
          <xs:element name="baseRadius" type="pv:lengthScalar"/>
          <xs:element name="topRadius" type="pv:lengthScalar"/>
          <xs:element name="height" type="pv:lengthScalar"/>
          <xs:choice>
            <xs:element name="solid"/>
            <xs:element name="hollow"/>
          </xs:choice>
          <xs:element name="enableOpenMBV" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Line" substitutionGroup="RigidContour" type="LineType">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Einfache, unendlich ausgedehnte Linienkontur.
        Die Linie verläuft in Richtung der y-Achse des Referenzkoordinatensystems, die Normale weist in die Richtung der x-Achse des Referenzkoordinatensystems.
        <h:div class="htmlfigure"><h:table>
            <h:caption align="bottom">Orientierung einer Line-Kontour</h:caption><h:tr><h:td>
                <h:img class="htmlfigure" src="./figures/contour_line.png" alt="./figures/contour_line.png"/></h:td></h:tr></h:table>
        </h:div>
        <h:object class="latexfigure" standby="4cm" data="figures/contour_line.eps" title="Orientierung einer Line-Kontour"/>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LineType">
    <xs:complexContent>
      <xs:extension base="RigidContourType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Plane" substitutionGroup="RigidContour" type="PlaneType">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Unendlich ausgedehnte Ebenenkontur.
        Die Ebene wird durch die y- und z-Achse des Referenzkoordinatensystems beschrieben.
        <h:div class="htmlfigure"><h:table>
            <h:caption align="bottom">Orientierung einer Plane-Kontour</h:caption><h:tr><h:td>
                <h:img class="htmlfigure" src="./figures/contour_plane.png" alt="./figures/contour_plane.png"></h:img></h:td></h:tr></h:table>
        </h:div>
        <h:object class="latexfigure" standby="4cm" data="figures/contour_plane.eps" title="Orientierung einer Plane-Kontour"></h:object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PlaneType">
    <xs:complexContent>
      <xs:extension base="RigidContourType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="PlaneWithFrustum" substitutionGroup="RigidContour" type="PlaneWithFrustumType">
    <xs:annotation>
      <xs:documentation xml:lang="de">       
        Eine Kontur, die aus einer Ebene und einem Kegelstumpf (Frustum) besteht. Die Ebene wird wie gezeichnet durch die y- und z-Achse des Referenzkoordinatensystems aufgespannt, die Rotationsachse des Kegelstumpfes ist die x-Achse des Referenzkoordinatensystems. Für eine Kegelstumpf-Höhe h&gt;0 erstreckt sich die Kegelstumpfkontur - wie gezeichnet - in Richtung der positiven x-Achse des Referenzkoordinatensystems. Rho ist der Radius der Verrundung zwischen Ebene und Kegelstumpf und am Kopf des Kegelstumpfes.
        <h:div class="htmlfigure"><h:table>
            <h:caption align="bottom">Orientierung einer PlaneWithFrustum-Kontour</h:caption><h:tr><h:td>
                <h:img class="htmlfigure" src="./figures/contour_planewithfrustum.png" alt="./figures/contour_planewithfrustum.png"></h:img></h:td></h:tr></h:table>
        </h:div>
        <h:object class="latexfigure" standby="4cm" data="figures/contour_planewithfrustum.eps" title="Orientierung einer PlaneWithFrustum-Kontour"></h:object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PlaneWithFrustumType">
    <xs:complexContent>
      <xs:extension base="RigidContourType">
        <xs:sequence>
          <xs:element name="baseRadius" type="pv:lengthScalar"/>
          <xs:element name="topRadius" type="pv:lengthScalar"/>
          <xs:element name="height" type="pv:lengthScalar"/>
          <xs:element name="roundingRadius" type="pv:lengthScalar"/>
          <xs:element name="enableOpenMBV" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Point" substitutionGroup="RigidContour" type="PointType">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Kontur eines einzelnen Punktes.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PointType">
    <xs:complexContent>
      <xs:extension base="RigidContourType"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Sphere" substitutionGroup="RigidContour" type="SphereType">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Kontur einer Kugel.
        Der Radius r gibt den Radius der Kugel an
        <h:div class="htmlfigure"><h:table>
            <h:caption align="bottom">Geometrie einer Sphere-Kontour</h:caption><h:tr><h:td>
                <h:img class="htmlfigure" src="./figures/contour_sphere.png" alt="./figures/contour_sphere.png"></h:img></h:td></h:tr></h:table>
        </h:div>
        <h:object class="latexfigure" standby="4cm" data="figures/contour_sphere.eps" title="Geometrie einer Sphere-Kontour"></h:object>
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SphereType">
    <xs:complexContent>
      <xs:extension base="RigidContourType">
        <xs:sequence>
          <xs:element name="radius" type="pv:lengthScalar"/>
          <xs:element name="enableOpenMBV" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Translation" abstract="true" type="TranslationType"/>
  <xs:complexType name="TranslationType"/>

  <xs:element name="LinearTranslation" substitutionGroup="Translation" type="LinearTranslationType"/>
  <xs:complexType name="LinearTranslationType">
    <xs:complexContent>
      <xs:extension base="TranslationType">
        <xs:sequence>
          <xs:element name="translationVectors" type="pv:nounitMatrix"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Rotation" abstract="true" type="RotationType"/>
  <xs:complexType name="RotationType"/>

  <xs:element name="RotationAboutFixedAxis" substitutionGroup="Rotation" type="RotationAboutFixedAxisType"/>
  <xs:complexType name="RotationAboutFixedAxisType">
    <xs:complexContent>
      <xs:extension base="RotationType">
        <xs:sequence>
          <xs:element name="axisOfRotation" type="pv:nounitVector"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="CardanAngles" substitutionGroup="Rotation" type="CardanAnglesType"/>
  <xs:complexType name="CardanAnglesType">
    <xs:complexContent>
      <xs:extension base="RotationType"/>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="GeneralizedForceLaw" abstract="true" type="GeneralizedForceLawType"/>
  <xs:complexType name="GeneralizedForceLawType"/>

  <xs:element name="BilateralConstraint" substitutionGroup="GeneralizedForceLaw" type="BilateralConstraintType"/>
  <xs:complexType name="BilateralConstraintType">
    <xs:complexContent>
      <xs:extension base="GeneralizedForceLawType"/>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="UnilateralConstraint" substitutionGroup="GeneralizedForceLaw" type="UnilateralConstraintType"/>
  <xs:complexType name="UnilateralConstraintType">
    <xs:complexContent>
      <xs:extension base="GeneralizedForceLawType"/>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="GeneralizedImpactLaw" abstract="true" type="GeneralizedImpactLawType"/>
  <xs:complexType name="GeneralizedImpactLawType"/>

  <xs:element name="BilateralImpact" substitutionGroup="GeneralizedImpactLaw" type="BilateralImpactType"/>
  <xs:complexType name="BilateralImpactType">
    <xs:complexContent>
      <xs:extension base="GeneralizedImpactLawType"/>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="UnilateralNewtonImpact" substitutionGroup="GeneralizedImpactLaw" type="UnilateralNewtonImpactType"/>
  <xs:complexType name="UnilateralNewtonImpactType">
    <xs:complexContent>
      <xs:extension base="GeneralizedImpactLawType">
        <xs:sequence>
          <xs:element name="restitutionCoefficient" type="pv:nounitScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="RegularizedBilateralConstraint" substitutionGroup="GeneralizedForceLaw" type="RegularizedBilateralConstraintType"/>
  <xs:complexType name="RegularizedBilateralConstraintType">
    <xs:complexContent>
      <xs:extension base="GeneralizedForceLawType">
        <xs:sequence>
          <xs:element name="forceFunction">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function2_SSS"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="RegularizedUnilateralConstraint" substitutionGroup="GeneralizedForceLaw" type="RegularizedUnilateralConstraintType"/>
  <xs:complexType name="RegularizedUnilateralConstraintType">
    <xs:complexContent>
      <xs:extension base="GeneralizedForceLawType">
        <xs:sequence>
          <xs:element name="forceFunction">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function2_SSS"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="FrictionForceLaw" abstract="true" type="FrictionForceLawType"/>
  <xs:complexType name="FrictionForceLawType"/>

  <xs:element name="RegularizedPlanarFriction" substitutionGroup="FrictionForceLaw" type="RegularizedPlanarFrictionType"/>
  <xs:complexType name="RegularizedPlanarFrictionType">
    <xs:complexContent>
      <xs:extension base="FrictionForceLawType">
        <xs:sequence>
          <xs:element name="frictionForceFunction">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function2_VVS"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="RegularizedSpatialFriction" substitutionGroup="FrictionForceLaw" type="RegularizedSpatialFrictionType"/>
  <xs:complexType name="RegularizedSpatialFrictionType">
    <xs:complexContent>
      <xs:extension base="FrictionForceLawType">
        <xs:sequence>
          <xs:element name="frictionForceFunction">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function2_VVS"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="SpatialCoulombFriction" substitutionGroup="FrictionForceLaw" type="SpatialCoulombFrictionType"/>
  <xs:complexType name="SpatialCoulombFrictionType">
    <xs:complexContent>
      <xs:extension base="FrictionForceLawType">
        <xs:sequence>
          <xs:element name="frictionCoefficient" type="pv:nounitScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="FrictionImpactLaw" abstract="true" type="FrictionImpactLawType"/>
  <xs:complexType name="FrictionImpactLawType"/>

  <xs:element name="SpatialCoulombImpact" substitutionGroup="FrictionImpactLaw" type="SpatialCoulombImpactType"/>
  <xs:complexType name="SpatialCoulombImpactType">
    <xs:complexContent>
      <xs:extension base="FrictionImpactLawType">
        <xs:sequence>
          <xs:element name="frictionCoefficient" type="pv:nounitScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Jacobian" abstract="true" type="JacobianType"/>
  <xs:complexType name="JacobianType"/>

  <xs:element name="ConstantJacobian" substitutionGroup="Jacobian" type="ConstantJacobianType"/>
  <xs:complexType name="ConstantJacobianType">
    <xs:complexContent>
      <xs:extension base="JacobianType">
        <xs:sequence>
          <xs:element name="constant" type="pv:nounitMatrix"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Function1_SS" abstract="true" type="Function1_SSType"/>
  <xs:complexType name="Function1_SSType"/>

  <xs:element name="ConstantFunction1_SS" substitutionGroup="Function1_SS" type="ConstantFunction1_SSType"/>
  <xs:complexType name="ConstantFunction1_SSType">
    <xs:complexContent>
      <xs:extension base="Function1_SSType">
        <xs:sequence>
          <xs:element name="value" type="pv:nounitScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Function1_SS_from_VS" substitutionGroup="Function1_SS" type="Function1_SS_from_VSType"/>
  <xs:complexType name="Function1_SS_from_VSType">
    <xs:complexContent>
      <xs:extension base="Function1_SSType">
        <xs:sequence>
          <xs:element ref="Function1_VS"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Function1_VS" abstract="true" type="Function1_VSType"/>
  <xs:complexType name="Function1_VSType"/>

  <xs:element name="ConstantFunction1_VS" substitutionGroup="Function1_VS" type="ConstantFunction1_VSType"/>
  <xs:complexType name="ConstantFunction1_VSType">
    <xs:complexContent>
      <xs:extension base="Function1_VSType">
        <xs:sequence>
          <xs:element name="value" type="pv:nounitVector"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="SinusFunction1_VS" substitutionGroup="Function1_VS" type="SinusFunction1_VSType"/>
  <xs:complexType name="SinusFunction1_VSType">
    <xs:complexContent>
      <xs:extension base="Function1_VSType">
        <xs:sequence>
          <xs:element name="amplitude" type="pv:nounitVector"/>
          <xs:element name="frequency" type="pv:nounitVector"/>
          <xs:element name="phase" type="pv:nounitVector"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="PositiveSinusFunction1_VS" substitutionGroup="Function1_VS" type="PositiveSinusFunction1_VSType"/>
  <xs:complexType name="PositiveSinusFunction1_VSType">
    <xs:complexContent>
      <xs:extension base="Function1_VSType">
        <xs:sequence>
          <xs:element name="amplitude" type="pv:nounitVector"/>
          <xs:element name="frequency" type="pv:nounitVector"/>
          <xs:element name="phase" type="pv:nounitVector"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="StepFunction1_VS" substitutionGroup="Function1_VS" type="StepFunction1_VSType"/>
  <xs:complexType name="StepFunction1_VSType">
    <xs:complexContent>
      <xs:extension base="Function1_VSType">
        <xs:sequence>
          <xs:element name="time" type="pv:nounitVector"/>
          <xs:element name="size" type="pv:nounitVector"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="TabularFunction1_VS" substitutionGroup="Function1_VS" type="TabularFunction1_VSType"/>
  <xs:complexType name="TabularFunction1_VSType">
    <xs:complexContent>
      <xs:extension base="Function1_VSType">
        <xs:sequence>
          <xs:element name="x" type="pv:nounitVector"/>
          <xs:element name="y" type="pv:nounitMatrix"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="PeriodicTabularFunction1_VS" substitutionGroup="Function1_VS" type="PeriodicTabularFunction1_VSType"/>
  <xs:complexType name="PeriodicTabularFunction1_VSType">
    <xs:complexContent>
      <xs:extension base="Function1_VSType">
        <xs:sequence>
          <xs:element name="x" type="pv:nounitVector"/>
          <xs:element name="y" type="pv:nounitMatrix"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Function2_SSS" abstract="true" type="Function2_SSSType"/>
  <xs:complexType name="Function2_SSSType"/>

  <xs:element name="ConstantFunction2_SSS" substitutionGroup="Function2_SSS" type="ConstantFunction2_SSSType"/>
  <xs:complexType name="ConstantFunction2_SSSType">
    <xs:complexContent>
      <xs:extension base="Function2_SSSType">
        <xs:sequence>
          <xs:element name="value" type="pv:nounitScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LinearSpringDamperForce" substitutionGroup="Function2_SSS" type="LinearSpringDamperForceType"/>
  <xs:complexType name="LinearSpringDamperForceType">
    <xs:complexContent>
      <xs:extension base="Function2_SSSType">
        <xs:sequence>
          <xs:element name="stiffnessCoefficient" type="pv:stiffnessScalar"/>
          <xs:element name="dampingCoefficient" type="pv:dampingScalar"/>
          <xs:element name="unloadedLength" type="pv:lengthScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="NonlinearSpringDamperForce" substitutionGroup="Function2_SSS" type="NonlinearSpringDamperForceType"/>
  <xs:complexType name="NonlinearSpringDamperForceType">
    <xs:complexContent>
      <xs:extension base="Function2_SSSType">
        <xs:sequence>
          <xs:element name="distanceForce">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function1_VS"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="velocityForce">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function1_VS"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LinearRegularizedUnilateralConstraint" substitutionGroup="Function2_SSS" type="LinearRegularizedUnilateralConstraintType"/>
  <xs:complexType name="LinearRegularizedUnilateralConstraintType">
    <xs:complexContent>
      <xs:extension base="Function2_SSSType">
        <xs:sequence>
          <xs:element name="stiffnessCoefficient" type="pv:stiffnessScalar"/>
          <xs:element name="dampingCoefficient" type="pv:dampingScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LinearRegularizedBilateralConstraint" substitutionGroup="Function2_SSS" type="LinearRegularizedBilateralConstraintType"/>
  <xs:complexType name="LinearRegularizedBilateralConstraintType">
    <xs:complexContent>
      <xs:extension base="Function2_SSSType">
        <xs:sequence>
          <xs:element name="stiffnessCoefficient" type="pv:stiffnessScalar"/>
          <xs:element name="dampingCoefficient" type="pv:dampingScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Function2_VVS" abstract="true" type="Function2_VVSType"/>
  <xs:complexType name="Function2_VVSType"/>

  <xs:element name="LinearRegularizedCoulombFriction" abstract="true" substitutionGroup="Function2_VVS" type="LinearRegularizedCoulombFrictionType"/>
  <xs:complexType name="LinearRegularizedCoulombFrictionType">
    <xs:complexContent>
      <xs:extension base="Function2_VVSType">
        <xs:sequence>
          <xs:element name="marginalVelocity" type="pv:velocityScalar" minOccurs="0"/>
          <xs:element name="frictionCoefficient" type="pv:nounitScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LinearRegularizedPlanarCoulombFriction" substitutionGroup="LinearRegularizedCoulombFriction" type="LinearRegularizedPlanarCoulombFrictionType"/>
  <xs:complexType name="LinearRegularizedPlanarCoulombFrictionType">
    <xs:complexContent>
      <xs:extension base="LinearRegularizedCoulombFrictionType"/>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LinearRegularizedSpatialCoulombFriction" substitutionGroup="LinearRegularizedCoulombFriction" type="LinearRegularizedSpatialCoulombFrictionType"/>
  <xs:complexType name="LinearRegularizedSpatialCoulombFrictionType">
    <xs:complexContent>
      <xs:extension base="LinearRegularizedCoulombFrictionType"/>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="LinearRegularizedPlanarStribeckFriction" substitutionGroup="Function2_VVS" type="LinearRegularizedPlanarStribeckFrictionType"/>
  <xs:complexType name="LinearRegularizedPlanarStribeckFrictionType">
    <xs:complexContent>
      <xs:extension base="Function2_VVSType">
        <xs:sequence>
          <xs:element name="marginalVelocity" type="pv:nounitMatrix" minOccurs="0"/>
          <xs:element name="frictionFunction">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Function1_SS"/>
              </xs:sequence>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Function3_MVVS" abstract="true" type="Function3_MVVSType"/>
  <xs:complexType name="Function3_MVVSType"/>

</xs:schema>
